<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2012
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.mmxlabs.models.mmxcore.presentation.MMXCoreModelWizardID"
            name="%_UI_MMXCoreModelWizard_label"
            class="com.mmxlabs.models.mmxcore.presentation.MMXCoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MMXCoreModelFile.gif">
         <description>%_UI_MMXCoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.mmxlabs.models.mmxcore.presentation.MMXCoreEditorID"
            name="%_UI_MMXCoreEditor_label"
            icon="icons/full/obj16/MMXCoreModelFile.gif"
            extensions="mmxcore"
            class="com.mmxlabs.models.mmxcore.presentation.MMXCoreEditor"
            contributorClass="com.mmxlabs.models.mmxcore.presentation.MMXCoreActionBarContributor">
      </editor>
   </extension>

</plugin>
