<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2012
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.mmxlabs.shiplingo.platform.app.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.mmxlabs.shiplingo.platform.app.intro.OptimisationPerspective"
            icon="icons/launchtrace_wiz.gif"
            id="com.mmxlabs.demo.app.perspective.optimisation"
            name="Optimisation">
      </perspective>
      <perspective
            class="com.mmxlabs.shiplingo.platform.app.intro.EditingPerspective"
            icon="icons/editor_area.gif"
            id="com.mmxlabs.demo.app.perspective.editing"
            name="Editing">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.mmxlabs.demo.app.application"
            name="ShipLiNGO">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_16.gif">
         </property>
         <property
               name="appName"
               value="ShipLiNGO">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="20,220,440,20">
         </property>
         <property
               name="startupProgressRect"
               value="20,210,440,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.mmxlabs.demo.app.intro">
      </intro>
      <introProductBinding
            introId="com.mmxlabs.demo.app.intro"
            productId="com.mmxlabs.demo.app.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.mmxlabs.demo.app.intro"
            content="introContent.xml"
            id="com.mmxlabs.demo.app.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="ext.xml"
            configId="com.mmxlabs.demo.app.configId">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.mmxlabs.shiplingo.platform.app.wizards.RandomScenarioWizard"
            id="com.mmxlabs.demo.app.randomscenariowizard"
            name="New Random Scenario">
      </wizard>
   </extension>


</plugin>
