<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mmxlabs.models.ui.properties.DetailPropertyFactory">
      <DetailPropertyFactory
            EClass="com.mmxlabs.models.lng.schedule.BallastBonusFeeDetails"
            category="pnl"
            factory="com.mmxlabs.models.lng.transformer.extensions.contracts.ballastbonus.BallastBonusFeeDetailProperties">
      </DetailPropertyFactory>
   </extension>

</plugin>
