<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2022
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="TradesBasedColumnFactory" name="TradesBasedColumnFactory" schema="schema/TradesBasedColumnFactory.exsd"/>
   <extension-point id="TradesBasedColumn" name="TradesBasedColumn" schema="schema/TradesBasedColumn.exsd"/>
   <extension-point id="TradesBasedRowModelTransformer" name="TradesBasedRowTransformer" schema="schema/TradesBasedRowModelTransformer.exsd"/>
   <extension-point id="TradesBasedRowModelTransformerFactory" name="TradesBasedRowTransformerFactory" schema="schema/TradesBasedRowModelTransformerFactory.exsd"/>
   <extension-point id="TradesBasedRowTransformerFactory" name="TradesBasedRowTransformerFactory" schema="schema/TradesBasedRowTransformerFactory.exsd"/>
   <extension-point id="TradesBasedRowTransformer" name="TradesBasedRowTransformer" schema="schema/TradesBasedRowTransformer.exsd"/>
   <extension-point id="TradesBasedMenuFilter" name="TradesBasedMenuFilter" schema="schema/TradesBasedMenuFilter.exsd"/>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cargobulkeditor -->
      <package
            uri="http://www.mmxlabs.com/models/lng/cargobulkeditor/1/"
            class="com.mmxlabs.models.lng.cargo.editor.bulk.cargobulkeditor.CargoBulkEditorPackage"
            genModel="model/cargobulkeditor.genmodel"/>
   </extension>
   <extension
         id="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
         point="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumn">
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.l-id">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.l-port">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.l-cv">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.l-vol">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.l-date">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.l-windowNomination">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.l-entity">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.load-divertible">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.discharge-divertible">
      </TradesBasedColumn>
            <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.l-cancelled">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.l-restrictions">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.purchasecontract">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.purchasecounterparty">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.purchase-cn">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.d-id">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.d-port">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.d-vol">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.d-date">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.d-windowNomination">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.d-entity">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.salescontract">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.salescounterparty">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.sales-cn">
      </TradesBasedColumn>
            <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.d-cancelled">
      </TradesBasedColumn>     
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.d-restrictions">
      </TradesBasedColumn>      
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.assignment">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.load-terminal">
      </TradesBasedColumn>
      <TradesBasedColumn
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.columns.TradesBasedColumnFactory.discharge-terminal">
      </TradesBasedColumn>
   </extension>
   <extension
         point="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory">
      <TradesBasedColumnFactory
            factory="com.mmxlabs.models.lng.cargo.editor.bulk.views.TradesBasedColumnFactory"
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedColumnFactory">
      </TradesBasedColumnFactory>
   </extension>
   <extension
         point="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedRowModelTransformer">
      <TradesBasedRowModelTransformer
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedRowModelTransformerFactory"
            id="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedRowModelTransformerFactory.test">
      </TradesBasedRowModelTransformer>
   </extension>
   <extension
         point="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedRowTransformer">
      <TradesBasedRowTransformer
            handlerID="com.mmxlabs.models.lng.cargo.editor.bulk.TradesBasedRowTransformerFactory"
            id="testTransformer">
      </TradesBasedRowTransformer>
   </extension>
   <extension
         point="com.mmxlabs.license.features.PluginXMLEnablement">
      <PluginXMLEnablement
            feature="bulk-editor"
            plugin.xml="bulk-plugin.xml">
      </PluginXMLEnablement>
   </extension>
  
</plugin>
