<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2012
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="LngEditorAdvisorApplication">
      <application>
         <run class="scenario.presentation.LngEditorAdvisor$Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="%_UI_Perspective_label"
            class="scenario.presentation.LngEditorAdvisor$Perspective"
            id="scenario.presentation.LngEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="scenario.presentation.LngEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="scenario.presentation.LngEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="scenario.presentation.LngEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="scenario.presentation.LngEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_LngEditorAdvisor_ActionSet_label"
            visible="true"
            id="LngEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="scenario.presentation.LngEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="scenario.presentation.LngEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="scenario.presentation.LngEditorAdvisorOpenURICommand"
               class="scenario.presentation.LngEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="scenario.presentation.LngEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="scenario.presentation.LngEditorAdvisorOpenCommand"
               class="scenario.presentation.LngEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="scenario.presentation.LngEditorAdvisorOpenAction"/>
      </actionSet>
      <actionSet
            id="com.mmxlabs.lngscheduler.emf.editor.actionSet"
            label="Scenario Actions"
            visible="true">
         <action
               class="com.mmxlabs.lngscheduler.emf.editor.actions.PriceCurveAction"
               icon="icons/curve.gif"
               id="com.mmxlabs.lngscheduler.emf.editor.actions.PriceCurveAction"
               label="Edit Default &amp;Discount Curve"
               menubarPath="scenarioMenuID/actions"
               toolbarPath="scenarioGroup"
               tooltip="Edit the active discount curve for this scenario">
         </action>
         <action
               class="com.mmxlabs.lngscheduler.emf.editor.actions.OptimisationSettingsAction"
               icon="icons/settings.gif"
               id="com.mmxlabs.lngscheduler.emf.editor.actions.OptimiserSettingsAction"
               label="Edit Optimisation Settings"
               menubarPath="scenarioMenuID/actions"
               toolbarPath="scenarioGroup"
               tooltip="Edit the optimisation settings for this scenario">
         </action>
         <action
               class="com.mmxlabs.lngscheduler.emf.editor.actions.ClearSolutionsAction"
               icon="icons/clear.gif"
               id="com.mmxlabs.lngscheduler.emf.editor.actions.ClearSolutionsIcon"
               label="Remove Solutions and Vessel Assignments"
               menubarPath="scenarioMenuID/actions"
               toolbarPath="scenarioGroup"
               tooltip="Removes all solutions and vessel assignments from this scenario">
         </action>
         <!--
         <action
               class="com.mmxlabs.lngscheduler.emf.editor.actions.LinkStaticDataAction"
               id="com.mmxlabs.lngscheduler.emf.editor.actions.LinkStaticDataAction"
               label="Link to Static Data"
               menubarPath="scenarioMenuID/actions"
               toolbarPath="scenarioGroup"
               tooltip="Links the non-static data in this scenario to a static data set">
         </action>
         <action
               class="com.mmxlabs.lngscheduler.emf.editor.actions.ExtractStaticDataAction"
               id="com.mmxlabs.lngscheduler.emf.editor.actions.ExtractStaticDataAction"
               label="Extract Static Data"
               menubarPath="scenarioMenuID/actions"
               toolbarPath="scenarioGroup"
               tooltip="Extract the static data from this scenario into a separate model">
         </action>
         -->
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_ScenarioModelWizard_ActionSet_label"
            visible="true"
            id="scenario.presentation.ScenarioActionBarContributorActionSet">
         <action
               label="%_UI_ScenarioModelWizard_label"
               class="scenario.presentation.ScenarioActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="scenario.presentation.ScenarioActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="scenario.presentation.ScenarioEditorID"
            name="%_UI_ScenarioEditor_label"
            icon="icons/full/obj16/ScenarioModelFile.gif"
            extensions="scenario,portmodel"
            class="scenario.presentation.ScenarioEditor"
            contributorClass="scenario.presentation.ScenarioActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_FleetModelWizard_ActionSet_label"
            visible="true"
            id="scenario.fleet.presentation.FleetActionBarContributorActionSet">
         <action
               label="%_UI_FleetModelWizard_label"
               class="scenario.fleet.presentation.FleetActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="scenario.fleet.presentation.FleetActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="scenario.fleet.presentation.FleetEditorID"
            name="%_UI_FleetEditor_label"
            icon="icons/full/obj16/FleetModelFile.gif"
            extensions="fleet"
            class="scenario.fleet.presentation.FleetEditor"
            contributorClass="scenario.fleet.presentation.FleetActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_ScheduleModelWizard_ActionSet_label"
            visible="true"
            id="scenario.schedule.presentation.ScheduleActionBarContributorActionSet">
         <action
               label="%_UI_ScheduleModelWizard_label"
               class="scenario.schedule.presentation.ScheduleActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="scenario.schedule.presentation.ScheduleActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="scenario.schedule.presentation.ScheduleEditorID"
            name="%_UI_ScheduleEditor_label"
            icon="icons/full/obj16/ScheduleModelFile.gif"
            extensions="schedule"
            class="scenario.schedule.presentation.ScheduleEditor"
            contributorClass="scenario.schedule.presentation.ScheduleActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_PortModelWizard_ActionSet_label"
            visible="true"
            id="scenario.port.presentation.PortActionBarContributorActionSet">
         <action
               label="%_UI_PortModelWizard_label"
               class="scenario.port.presentation.PortActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="scenario.port.presentation.PortActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="scenario.port.presentation.PortEditorID"
            name="%_UI_PortEditor_label"
            icon="icons/full/obj16/PortModelFile.gif"
            extensions="port"
            class="scenario.port.presentation.PortEditor"
            contributorClass="scenario.port.presentation.PortActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_CargoModelWizard_ActionSet_label"
            visible="true"
            id="scenario.cargo.presentation.CargoActionBarContributorActionSet">
         <action
               label="%_UI_CargoModelWizard_label"
               class="scenario.cargo.presentation.CargoActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="scenario.cargo.presentation.CargoActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="scenario.cargo.presentation.CargoEditorID"
            name="%_UI_CargoEditor_label"
            icon="icons/full/obj16/CargoModelFile.gif"
            extensions="cargo"
            class="scenario.cargo.presentation.CargoEditor"
            contributorClass="scenario.cargo.presentation.CargoActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_ContractModelWizard_ActionSet_label"
            visible="true"
            id="scenario.contract.presentation.ContractActionBarContributorActionSet">
         <action
               label="%_UI_ContractModelWizard_label"
               class="scenario.contract.presentation.ContractActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="scenario.contract.presentation.ContractActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="scenario.contract.presentation.ContractEditorID"
            name="%_UI_ContractEditor_label"
            icon="icons/full/obj16/ContractModelFile.gif"
            extensions="contract"
            class="scenario.contract.presentation.ContractEditor"
            contributorClass="scenario.contract.presentation.ContractActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_MarketModelWizard_ActionSet_label"
            visible="true"
            id="scenario.market.presentation.MarketActionBarContributorActionSet">
         <action
               label="%_UI_MarketModelWizard_label"
               class="scenario.market.presentation.MarketActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="scenario.market.presentation.MarketActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="scenario.market.presentation.MarketEditorID"
            name="%_UI_MarketEditor_label"
            icon="icons/full/obj16/MarketModelFile.gif"
            extensions="market"
            class="scenario.market.presentation.MarketEditor"
            contributorClass="scenario.market.presentation.MarketActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.mmxlabs.lngscheduler.emf.editor.importer.sampleCategory"
            name="Scenario Import">
      </category>
      <wizard
            category="com.mmxlabs.lngscheduler.emf.editor.importer.sampleCategory"
            class="com.mmxlabs.lngscheduler.emf.editor.wizards.CSVImportWizard"
            icon="icons/sample.gif"
            id="com.mmxlabs.lngscheduler.emf.editor.importer.CSVImportWizard"
            name="Import Scenario from CSV Files">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
      <wizard
            category="com.mmxlabs.lngscheduler.emf.editor.importer.sampleCategory"
            class="com.mmxlabs.lngscheduler.emf.editor.wizards.PortModelCSVImportWizard"
            icon="icons/sample.gif"
            id="com.mmxlabs.lngscheduler.emf.editor.importer.PortModelCSVImportWizard"
            name="Import Port Model from CSV Files">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.mmxlabs.lngscheduler.emf.editor"
            name="Scenario Creation">
      </category>
      <wizard
            category="com.mmxlabs.lngscheduler.emf.editor"
            class="com.mmxlabs.lngscheduler.emf.editor.wizards.DerivedScenarioWizard"
            icon="icons/sample.gif"
            id="com.mmxlabs.lngscheduler.emf.editor.wizards.DerivedScenarioWizard"
            name="Create Derived Scenario">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.mmxlabs.lngscheduler.emf.editor.export"
            name="Scenario Export">
      </category>
      <wizard
            category="com.mmxlabs.lngscheduler.emf.editor.export"
            class="com.mmxlabs.lngscheduler.emf.editor.wizards.CSVExportWizard"
            id="com.mmxlabs.lngscheduler.emf.editor.export-csv"
            name="Export Scenario to CSV Files">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="test.TestEditorPart"
            id="test.TestEditorPart"
            name="est Editor">
      </view>
   </extension>

</plugin>
