<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="CustomRelatedSlotHandlerExtension" name="CustomRelatedSlotHandlerExtension" schema="schema/CustomRelatedSlotHandlerExtension.exsd"/>
   <extension-point id="ScheduleBasedColumn" name="ScheduleBasedColumn" schema="schema/ScheduleBasedColumn.exsd"/>
   <extension-point id="ScheduleBasedColumnFactory" name="ScheduleBasedColumnFactory" schema="schema/ScheduleBasedColumnFactory.exsd"/>
   <extension-point id="ScheduleBasedReportInitialState" name="ScheduleBasedReportInitialState" schema="schema/ScheduleBasedReportInitialState.exsd"/>
   <extension-point id="PortRotationBasedColumn" name="PortRotationBasedColumn" schema="schema/PortRotationBasedColumn.exsd"/>
   <extension-point id="PortRotationBasedColumnFactory" name="PortRotationBasedColumnFactory" schema="schema/PortRotationBasedColumnFactory.exsd"/>
   <extension-point id="PortRotationBasedReportInitialState" name="PortRotationBasedReportInitialState" schema="schema/PortRotationBasedReportInitialState.exsd"/>
   <extension-point id="FleetBasedColumn" name="FleetBasedColumn" schema="schema/FleetBasedColumn.exsd"/>
   <extension-point id="FleetBasedColumnFactory" name="FleetBasedColumnFactory" schema="schema/FleetBasedColumnFactory.exsd"/>
   <extension-point id="FleetBasedReportInitialState" name="FleetBasedReportInitialState" schema="schema/FleetBasedReportInitialState.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Reports"
            class="com.mmxlabs.lingo.reports.preferences.ReportsPreferencesPage"
            id="com.mmxlabs.lingo.reports.preferences.ReportsPreferencesPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.mmxlabs.lingo.reports.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Reports"
            id="com.mmxlabs.shiplingo.platform.reports">
      </category>
      <view
            name="Volume Tracking"
            icon="icons/cview16/exec_statistic_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.standard.VolumeTrackingReportView"
            id="com.mmxlabs.shiplingo.platform.reports.views.VolumeTrackingReportView">
      </view>
      <view
            name="Schedule Summary"
            icon="icons/cview16/exec_statistic_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="org.ops4j.peaberry.eclipse.GuiceExtensionFactory:com.mmxlabs.lingo.reports.views.schedule.ScheduleSummaryReport"
            id="com.mmxlabs.shiplingo.platform.reports.views.SchedulePnLReport">
      </view>
      <view
            name="Fitness"
            icon="icons/cview16/exec_flow_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.standard.FitnessReportView"
            id="com.mmxlabs.shiplingo.platform.reports.views.FitnessReportView">
      </view>
      <view
            name="Costs Breakdown"
            icon="icons/cview16/exec_flow_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.standard.TotalsHierarchyView"
            id="com.mmxlabs.shiplingo.platform.reports.views.TotalsHierarchyView">
      </view>
      <view
            name="Totals"
            icon="icons/cview16/exec_flow_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.standard.TotalsReportView"
            id="com.mmxlabs.shiplingo.platform.reports.views.TotalsReportView">
      </view>
      <view
            name="Port Rotation"
            icon="icons/cview16/exec_flow_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="org.ops4j.peaberry.eclipse.GuiceExtensionFactory:com.mmxlabs.lingo.reports.views.portrotation.PortRotationReportView"
            id="com.mmxlabs.shiplingo.platform.reports.views.PortRotationReportView">
      </view>
      <view
            name="Lateness"
            icon="icons/cview16/exec_flow_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.standard.LatenessReportView"
            id="com.mmxlabs.shiplingo.platform.reports.views.LatenessReportView">
      </view>
      <!--
      <view
            name="Excess Idle"
            icon="icons/cview16/exec_flow_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.standard.ExcessIdleTimeReportView"
            id="com.mmxlabs.shiplingo.platform.reports.views.ExcessIdleTimeReportView">
      </view>
      -->
      <view
            name="Cooldown"
            icon="icons/cview16/exec_flow_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.standard.CooldownReportView"
            id="com.mmxlabs.shiplingo.platform.reports.views.CooldownReportView">
      </view>
      <view
            name="Vessel Summary"
            icon="icons/cview16/exec_flow_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="org.ops4j.peaberry.eclipse.GuiceExtensionFactory:com.mmxlabs.lingo.reports.views.fleet.ConfigurableFleetReportView"
            restorable="true"
            id="com.mmxlabs.lingo.reports.views.fleet.ConfigurableFleetReportView">
      </view>
      <view
            name="KPI"
            icon="icons/cview16/exec_flow_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.standard.KPIReportView"
            id="com.mmxlabs.shiplingo.platform.reports.views.KPIReportView">
      </view>
      <view
            name="Headline"
            icon="icons/cview16/exec_flow_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.standard.HeadlineReportView"
            id="com.mmxlabs.shiplingo.platform.reports.views.HorizontalKPIReportView">
      </view>
      <view
            name="Capacity Violations"
            icon="icons/cview16/exec_flow_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.standard.CapacityViolationReportView"
            id="com.mmxlabs.shiplingo.platform.reports.views.CapacityViolationReportView">
      </view>
      <view
            name="PnL Details"
            icon="icons/cview16/exec_flow_view.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.standard.PNLDetailsReport"
            id="com.mmxlabs.shiplingo.platform.reports.views.PNLDetailsReport">
      </view>
      <view
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.standard.CargoEconsReport"
            icon="icons/cview16/exec_statistic_view.gif"
            id="com.mmxlabs.shiplingo.platform.reports.views.CargoEconsReport"
            name="Cargo Econs"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.ops4j.peaberry.eclipse.modules">
      <module
            class="com.mmxlabs.lingo.reports.components.ReportComponentModule">
      </module>
   </extension>
   <extension
         point="com.mmxlabs.lingo.reports.ScheduleBasedColumnFactory">
      <ScheduleBasedColumnFactory
            factory="com.mmxlabs.lingo.reports.views.schedule.StandardScheduleColumnFactory"
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory">
      </ScheduleBasedColumnFactory>
   </extension>
   <extension
         point="com.mmxlabs.lingo.reports.ScheduleBasedColumn">
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.schedule">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.id">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.l-id">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.d-id">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.type">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.cargotype">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.pnl_group">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.pnl_total">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.pnl_additional">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.pnl_trading">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.pnl_upstream">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.pnl_shipping">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.vessel">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.loadwindow">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.dischargewindow">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.loaddate">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.loadtime">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.dischargedate">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.dischargetime">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.buyprice">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.sellprice">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.purchasecontract">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.salescontract">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.buyport">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.sellport">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.buyvolume_m3">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.sellvolume_m3">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.buyvolume_mmbtu">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.sellvolume_mmbtu">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.buy_value">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.sell_value">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.ladencost">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.ballastcost">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.totalcost">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.shipping_cost">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.shipping_bunkers">
      </ScheduleBasedColumn>      
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.shipping_port">
      </ScheduleBasedColumn>      
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.shipping_canal">
      </ScheduleBasedColumn>      
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.shipping_hire">
      </ScheduleBasedColumn>      
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.shipping_lng">
      </ScheduleBasedColumn>      
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.shipping_cooldown">
      </ScheduleBasedColumn>      
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.shipping_other">
      </ScheduleBasedColumn>      
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.load-notes">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.discharge-notes">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.laden-idle-days">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.ballast-idle-days">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.laden-travel-days">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.ballast-travel-days">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.duration">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.discharge-duration">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.next-event-date">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.next-event-port">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.capacity_violation">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.lateness">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.buy_entity">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.sell_entity">
      </ScheduleBasedColumn>
      <ScheduleBasedColumn
            handlerID="com.mmxlabs.lingo.reports.components.columns.StandardScheduleColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.schedule.shipping_entity">
      </ScheduleBasedColumn>
   </extension>
   <extension
         point="com.mmxlabs.lingo.reports.ScheduleBasedReportInitialState">
      <ScheduleBasedReportInitialState
            customisable="true"
            id="com.mmxlabs.shiplingo.platform.reports.views.SchedulePnLReport">
         <InitialRowType
               rowType="cargo">
         </InitialRowType>
         <InitialRowType
               rowType="long">
         </InitialRowType>
         <InitialRowType
               rowType="short">
         </InitialRowType>
         <InitialRowType
               rowType="virtualcharters">
         </InitialRowType>
         <InitialRowType
               rowType="event">
         </InitialRowType>
         <InitialRowType
               rowType="orphanlegs">
         </InitialRowType>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.schedule">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.l-id">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.d-id">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.type">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.vessel">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.pnl_total">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.pnl_additional">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.buyport">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.loaddate">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.sellport">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.purchasecontract">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.dischargedate">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.buyprice">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.sellprice">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.buyvolume_m3">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.schedule.sellvolume_m3">
         </InitialColumn>
         <InitialDiffOption
               option="scenario">
         </InitialDiffOption>
         <InitialDiffOption
               option="vessel">
         </InitialDiffOption>
      </ScheduleBasedReportInitialState>
   </extension>
   <extension
         point="com.mmxlabs.lingo.reports.PortRotationBasedColumnFactory">
      <PortRotationBasedColumnFactory
            factory="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory">
      </PortRotationBasedColumnFactory>
   </extension>
   <extension
         point="com.mmxlabs.lingo.reports.PortRotationBasedColumn">
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.schedule">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.vessel">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.type">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.id">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.contract">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.startdate">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.enddate">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.cv">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.price">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.duration">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.speed">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.distance">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.toport">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.fromport">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.atport">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.route">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.transfervolume_m3">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.transfervolume_mmbtu">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.heelstart">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.heelend">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.fuels">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.fuelcost">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.chartercost">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.routecost">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.portcosts">
      </PortRotationBasedColumn>
      <PortRotationBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.portrotation.StandardPortRotationColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.portrotation.totalcosts">
      </PortRotationBasedColumn>
   </extension>
   <extension
         point="com.mmxlabs.lingo.reports.PortRotationBasedReportInitialState">
      <PortRotationBasedReportInitialState
            customisable="true"
            id="com.mmxlabs.shiplingo.platform.reports.views.PortRotationReportView">
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.schedule">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.vessel">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.type">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.id">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.contract">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.startdate">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.enddate">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.duration">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.speed">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.distance">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.toport">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.fromport">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.atport">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.route">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.transfervolume_m3">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.heelstart">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.heelend">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.fuels">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.fuelcost">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.chartercost">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.routecost">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.portcosts">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.portrotation.totalcosts">
         </InitialColumn>
      </PortRotationBasedReportInitialState>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/schedulereport.genmodel"
            uri="http://www.mmxlabs.com/models/lingo/reports/schedule/1"
            class="com.mmxlabs.lingo.reports.views.schedule.model.ScheduleReportPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.mmxlabs.com/models/lingo/reports/schedule/1"
            class="com.mmxlabs.lingo.reports.views.schedule.model.provider.ScheduleReportItemProviderAdapterFactory"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource">
      </factory>
   </extension>
   <extension
         point="com.mmxlabs.license.features.PluginXMLEnablement">
      <PluginXMLEnablement
            feature="difftools"
            plugin.xml="difftools.plugin.xml">
      </PluginXMLEnablement>
      <PluginXMLEnablement
            feature="exposures"
            plugin.xml="exposures.plugin.xml">
      </PluginXMLEnablement>
      <PluginXMLEnablement
            feature="optimisation-charter-out-generation"
            plugin.xml="gco.plugin.xml">
      </PluginXMLEnablement>
      <PluginXMLEnablement
            feature="options-suggester"
            plugin.xml="suggester.plugin.xml">
      </PluginXMLEnablement>
   </extension>
   <extension
         point="com.mmxlabs.rcp.common.ReplaceableView">
      <ReplaceableView
            viewId="com.mmxlabs.lingo.reports.verticalreport"
            name="Vertical Schedule"
            icon="icons/cview16/VerticalReport.gif"
            category="com.mmxlabs.shiplingo.platform.reports"
            class="com.mmxlabs.lingo.reports.views.vertical.DefaultVerticalReportView">
      </ReplaceableView>
   </extension>
   <extension
         point="com.mmxlabs.lingo.reports.FleetBasedColumnFactory">
      <FleetBasedColumnFactory
            factory="com.mmxlabs.lingo.reports.views.fleet.StandardFleetColumnFactory"
            handlerID="com.mmxlabs.lingo.reports.views.fleet.StandardFleetColumnFactory">
      </FleetBasedColumnFactory>
   </extension>
   <extension
         point="com.mmxlabs.lingo.reports.FleetBasedColumn">
      <FleetBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.fleet.StandardFleetColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.fleet.schedule">
      </FleetBasedColumn>
      <FleetBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.fleet.StandardFleetColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.fleet.vessel">
      </FleetBasedColumn>
      <FleetBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.fleet.StandardFleetColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.fleet.canalcosts">
      </FleetBasedColumn>
      <FleetBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.fleet.StandardFleetColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.fleet.lngcosts">
      </FleetBasedColumn>
      <FleetBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.fleet.StandardFleetColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.fleet.basefuelcosts">
      </FleetBasedColumn>
      <FleetBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.fleet.StandardFleetColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.fleet.portcosts">
      </FleetBasedColumn>
      <FleetBasedColumn
            handlerID="com.mmxlabs.lingo.reports.views.fleet.StandardFleetColumnFactory"
            id="com.mmxlabs.lingo.reports.components.columns.fleet.chartercosts">
      </FleetBasedColumn>
   </extension>
   <extension
         point="com.mmxlabs.lingo.reports.FleetBasedReportInitialState">
      <FleetBasedReportInitialState
            customisable="true"
            id="com.mmxlabs.lingo.reports.views.fleet.ConfigurableFleetReportView">
         <InitialDiffOption
               option="scenario">
         </InitialDiffOption>
         <InitialRowType
               rowType="owned">
         </InitialRowType>
         <InitialRowType
               rowType="timecharter">
         </InitialRowType>
         <InitialRowType
               rowType="spotcharter">
         </InitialRowType>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.fleet.schedule">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.fleet.vessel">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.fleet.lngcosts">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.fleet.basefuelcosts">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.fleet.canalcosts">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.fleet.portcosts">
         </InitialColumn>
         <InitialColumn
               id="com.mmxlabs.lingo.reports.components.columns.fleet.chartercosts">
         </InitialColumn>
      </FleetBasedReportInitialState>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/changeset.genmodel"
            uri="http://www.minimaxlabs.com/models/changeset/1"
            class="com.mmxlabs.lingo.reports.views.changeset.model.ChangesetPackage">
      </package>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="true"
            class="com.mmxlabs.lingo.reports.internal.FixActionSetsModelProcessor">
      </processor>
      <processor
            apply="always"
            beforefragment="false"
            class="com.mmxlabs.lingo.reports.views.changeset.ActionPlanModuleProcessor">
      </processor>
      <processor
            apply="always"
            beforefragment="false"
            class="com.mmxlabs.lingo.reports.views.changeset.CompareModuleProcessor">
      </processor>
   </extension>

</plugin>
