<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.mmxlabs.shiplingo.platform.ui.AnalysisPerspective"
            icon="icons/exec_statistic_view.gif"
            id="com.mmxlabs.lingo.app.perspective.analysis"
            name="Analysis">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.mmxlabs.lingo.app.perspective.analysis">
         <view
               closeable="false"
               id="com.mmxlabs.shiplingo.platform.reports.views.HorizontalKPIReportView"
               ratio="0.05"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true">
         </view>
<!--         <view
               closeable="false"
               id="com.mmxlabs.shiplingo.platform.reports.views.KPIReportView"
               minimized="false"
               ratio="0.95"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true">
         </view>
-->
      </perspectiveExtension>
   </extension>
 


</plugin>
