<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.mmxlabs.lingo.platform.ui.AnalysisPerspective"
            icon="icons/exec_statistic_view.gif"
            id="com.mmxlabs.lingo.app.perspective.analysis"
            name="Analysis">
      </perspective>
   </extension>
   <extension
         point="com.mmxlabs.license.features.PluginXMLEnablement">
      <PluginXMLEnablement
            feature="cargo-actuals"
            plugin.xml="actuals.plugin.xml">
      </PluginXMLEnablement>
   </extension>
</plugin>
