<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.lngscheduler.emf-extras.constraints"
            name="Scenario Constraints">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://com.mmxlabs.lng.emf" />
         <constraints
               categories="com.mmxlabs.lngscheduler.emf-extras.constraints">
            <constraint
                  class="com.mmxlabs.lngscheduler.emf.extras.validation.SlotVolumeConstraint"
                  id="com.mmxlabs.lngscheduler.emf-extras.constraints.slot_volumes"
                  lang="Java"
                  mode="Batch"
                  name="Slot Volumes"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  A slot has invalid minimum and maximum load volumes.
               </message>
               <description>
                  Every slot's minimum and maximum volume should be non-negative, and the minimum should not exceed the maximum.
               </description>
               <target class="cargo.Slot" />
               <target
                     class="EObject" />
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="com.mmxlabs.lngscheduler.emf-extras.scenarioContext">
         <selector
               class="com.mmxlabs.lngscheduler.emf.extras.validation.ScenarioClientSelector">
         </selector>
      </clientContext>
      <binding
            category="com.mmxlabs.lngscheduler.emf-extras.constraints"
            context="com.mmxlabs.lngscheduler.emf-extras.scenarioContext">
      </binding>
   </extension>
   <extension
         point="org.eclipse.emf.validation.ui.UIRegisteredClientContext">
      <clientContext id="com.mmxlabs.lngscheduler.emf-extras.scenarioContext"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.emf.validation.examples.general.viewerContribution"
            targetID="scenario.presentation.ScenarioEditorID">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="Validation"
               path="additions">
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="com.mmxlabs.lngscheduler.emf.extras.actions.BatchValidationDelegate"
               icon="$nl$/icons/elcl16/validate_co.gif"
               id="org.eclipse.emf.validation.pde.example.general.ui.validateAction"
               label="Validate Elements"
               menubarPath="org.eclipse.emf.validationMenuID/additions">
         </action>
      </viewerContribution>
   </extension> 
</plugin>
