<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.lngscheduler.emf-extras.constraints"
            name="Scenario Constraints">
      </category>
      <constraintProvider
            cache="true">
         <!-- 
         	Multiple package statements are required because there's no recursive package inclusion  -->
         <package namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
         <package namespaceUri="http://com.mmxlabs.lng.emf" />
         <package namespaceUri="http://com.mmxlabs.lng.emf/fleet" />
         <package namespaceUri="http://com.mmxlabs.lng.emf/cargo" />
         <package namespaceUri="http://com.mmxlabs.lng.emf/port" />
         <package namespaceUri="http://com.mmxlabs.lng.emf/schedule" />
         <package namespaceUri="http://com.mmxlabs.lng.emf/contract" />
         <package namespaceUri="http://com.mmxlabs.lng.emf/market" />
         
         <constraints
               categories="com.mmxlabs.lngscheduler.emf-extras.constraints">
            <constraint
            	class="com.mmxlabs.lngscheduler.emf.extras.validation.CargoVolumeConstraint"
            	id="com.mmxlabs.lngscheduler.emf-extras.constraints.cargo_volumes"
            	lang="Java"
            	mode="Batch"
            	name="Cargo Volumes"
            	severity="ERROR"
            	statusCode="1">
            	<message>
            		Cargo {0} has invalid minimum and maximum load volumes.
            	</message>
            	<description>
            		A cargo's maximum load volume should exceed its minimum discharge volume, and 
            		its minimum load volume should not exceed its maximimum discharge volume.
            	</description>
            	<target class="Cargo" />
            </constraint>
            
            <constraint
            	class="com.mmxlabs.lngscheduler.emf.extras.validation.CargoDateConstraint"
            	id="com.mmxlabs.lngscheduler.emf-extras.constraints.cargo_order"
            	lang="Java"
            	mode="Batch"
            	name="Load and discharge order"
            	severity="ERROR"
            	statusCode="1">
            	<message>
            		Cargo {0} has invalid load and discharge dates - the load occurs after the discharge.
            	</message>
            	<description>
            		The end of the discharge slot's time window should be after the start of the load slot's time window.
            	</description>
            	<target class="Cargo" />
            </constraint>
            
            <constraint
            	class="com.mmxlabs.lngscheduler.emf.extras.validation.CargoDateConstraint"
            	id="com.mmxlabs.lngscheduler.emf-extras.constraints.cargo_travel_time"
            	lang="Java"
            	mode="Batch"
            	name="Cargo Travel Time"
            	severity="ERROR"
            	statusCode="1">
            	<message>
            		Cargo {0} does not have enough travel time - {1} hours are required for the journey, but only {2} hours
            		are available.
            	</message>
            	<description>
            		The load and discharge dates for a cargo should allow enough time between them for
            		the fastest fleet vessel to make the journey at maximum speed.
            	</description>
            	<target class="Cargo" />
            </constraint>

             <constraint
            	class="com.mmxlabs.lngscheduler.emf.extras.validation.CargoDateConstraint"
            	id="com.mmxlabs.lngscheduler.emf-extras.constraints.cargo_available_time"
            	lang="Java"
            	mode="Batch"
            	name="Cargo Travel Time"
            	severity="ERROR"
            	statusCode="1">
            	<message>
            		Cargo {0} has a very large amount of travel time allocated - {1} days are allocated, and {2} is a sensible upper bound.
            	</message>
            	<description>
            		If a cargo has a very large amount of slack in its travel time, lots of fuel will be wasted idling at the destination
            		port. This often indicates a typographical error when entering dates.
            	</description>
            	<target class="Cargo" />
            </constraint>
            
            <constraint
                  class="com.mmxlabs.lngscheduler.emf.extras.validation.SlotVolumeConstraint"
                  id="com.mmxlabs.lngscheduler.emf-extras.constraints.slot_volumes"
                  lang="Java"
                  mode="Batch"
                  name="Slot Volumes"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  A slot has invalid minimum and maximum load volumes.
               </message>
               <description>
                  Every slot's minimum and maximum volume should be non-negative, and the minimum should not exceed the maximum.
               </description>
               <target class="Slot" />
            </constraint>
           	<constraint
                  class="com.mmxlabs.lngscheduler.emf.extras.validation.InitialStateFeasibilityConstraint"
                  id="com.mmxlabs.lngscheduler.emf-extras.constraints.initial_feasibility"
                  lang="Java"
                  mode="Batch"
                  name="Initial State Feasibility"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Scenario {0} has no feasible initial solution ({1}).
               </message>
               <description>
                  The optimiser either needs a feasible initial solution, or the solution construction heuristic must be able to find one.
                  If it can't find a start solution, we cannot proceed.
               </description>
               <target class="Scenario" />
            </constraint>

            <constraint
            	class="com.mmxlabs.lngscheduler.emf.extras.validation.SequenceNoGapsConstraint"
            	id="com.mmxlabs.lngscheduler.emf-extras.constraints.sequence_gaps"
            	lang="Java"
            	mode="Batch"
            	name="Sequence Gaps"
            	severity="ERROR"
            	statusCode="1">
            	<message>
            		Vessel {0}'s schedule has gaps between events
            	</message>
            	<description>
            		There should be no time in a vessel's schedule which has not been accounted for. If you have
            		deleted something from the problem definition you may need to re-evaluate the scenario to ensure
            		that no schedules have gaps in them.
            	</description>
            	<target class="Sequence" />
            </constraint>
            
             <constraint
            	class="com.mmxlabs.lngscheduler.emf.extras.validation.DistanceLineValidityConstraint"
            	id="com.mmxlabs.lngscheduler.emf-extras.constraints.distanceline_distance"
            	lang="Java"
            	mode="Batch"
            	name="Distance Line From Port"
            	severity="ERROR"
            	statusCode="1">
            	<message>
            		Distance line from {0} to {1} has distance {2}
            	</message>
            	<description>
            		Entries in the distance matrix must be non-negative and not exceed 10,000 nautical miles.
            	</description>
            	<target class="DistanceLine" />
            </constraint>
            <constraint
            	class="com.mmxlabs.lngscheduler.emf.extras.validation.NullReferenceConstraint"
            	id="com.mmxlabs.lngscheduler.emf-extras.constraints.null_references"
            	lang="Java"
            	mode="Batch"
            	name="Null References"
            	severity="ERROR"
            	statusCode="1">
            	<message>
            		This attribute must be set.
            	</message>
            	<description>
            		Some references should not be null.
            	</description>
            	<target class="Port" />
            	<target class="Cargo" />
            	<target class="Contract" />
            	<target class="DistanceLine" />
            	<target class="Vessel" />
            	<target class="VesselClass" />
            	<target class="CharterOut" />
            	<target class="VesselEvent" />
             <target
                   class="VesselEvent">
             </target>
            </constraint>
            <constraint
            	class="com.mmxlabs.lngscheduler.emf.extras.validation.NameUniquenessConstraint"
            	id="com.mmxlabs.lngscheduler.emf-extras.constraints.unique_names"
            	lang="Java"
            	mode="Batch"
            	name="Name Uniqueness"
            	severity="ERROR"
            	statusCode="1">
            	<message>
            		{0} has non-unique name {1}
            	</message>
            	<description>
            		Named elements should have unique names.
            	</description>
            	<target class="NamedObject" />
            	<target class="Cargo" />
             <target
                   class="VesselEvent">
             </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.lngscheduler.emf.extras.validation.PortContentionConstraint"
                  id="com.mmxlabs.lngscheduler.emf-extras.port_contention"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Port Contention"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  Slot {0} is in contention with slots {2} at port {1}.</message>
               <description>
                  Some ports may not allow multiple vessels to be in port contemporaneously. This constraint checks whether two slots at the same port have overlapping time windows, and so could cause a problem with this.
               </description>
               <target
                     class="Slot">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="com.mmxlabs.lngscheduler.emf-extras.scenarioContext">
         <selector
               class="com.mmxlabs.lngscheduler.emf.extras.validation.ScenarioClientSelector">
         </selector>
      </clientContext>
      <binding
            category="com.mmxlabs.lngscheduler.emf-extras.constraints"
            context="com.mmxlabs.lngscheduler.emf-extras.scenarioContext">
      </binding>
   </extension>
   <extension
         point="org.eclipse.emf.validation.ui.UIRegisteredClientContext">
      <clientContext id="com.mmxlabs.lngscheduler.emf-extras.scenarioContext"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.emf.validation.examples.general.viewerContribution"
            targetID="scenario.presentation.ScenarioEditorID">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="Validation"
               path="additions">
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="com.mmxlabs.lngscheduler.emf.extras.actions.BatchValidationDelegate"
               icon="$nl$/icons/elcl16/validate_co.gif"
               id="org.eclipse.emf.validation.pde.example.general.ui.validateAction"
               label="Validate Elements"
               menubarPath="org.eclipse.emf.validationMenuID/additions">
         </action>
      </viewerContribution>
   </extension> 
</plugin>
