<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2016
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Job Manager"
            id="com.mmxlabs.jobmanager">
      </category>
      <view
            name="Job Manager"
            icon="icons/eview16/exec_statistic_view.gif"
            category="com.mmxlabs.jobmanager"
            class="com.mmxlabs.jobmanager.views.JobManagerView"
            id="com.mmxlabs.jobcontroller.views.JobManager">
      </view>
   </extension>
</plugin>
