<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2023
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.mmxlabs.lingo.app.updater.internal.PluginStartup">
      </startup>
   </extension>
   <extension
         point="com.mmxlabs.license.features.PluginXMLEnablement">
      <PluginXMLEnablement
            feature="lingo-updater"
            plugin.xml="updater-plugin.xml">
      </PluginXMLEnablement>
   </extension>
   <extension
         point="com.mmxlabs.rcp.common.DebugOptionsProvider">
      <DebugOptionsProvider
            cls="com.mmxlabs.lingo.app.updater.internal.LiNGOUpdaterDebugOptionsProvider">
      </DebugOptionsProvider>
   </extension>
</plugin>
