<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mmxlabs.models.util.import.attributes">
      <attributeImporter
            ID="com.mmxlabs.models.lng.ui.dateAttributeImporter"
            attributeImporterClass="com.mmxlabs.models.ui.dates.DateAttributeImporter">
         <dataType
               attributeTypeName="EDate"
               attributeTypeURI="http://www.eclipse.org/emf/2002/Ecore">
         </dataType>
      </attributeImporter>
      <attributeImporter
            ID="com.mmxlabs.models.lng.ui.capabilityImporter"
            attributeImporterClass="com.mmxlabs.models.util.importer.impl.DefaultAttributeImporter">
         <dataType
               attributeTypeName="PortCapability"
               attributeTypeURI="http://www.mmxlabs.com/models/lng/types/1/">
         </dataType>
      </attributeImporter>
   </extension>
   <extension
         point="com.mmxlabs.models.ui.editorfactories">
      <editorFactory
            factoryClass="com.mmxlabs.models.ui.dates.DateAndLocalTimeInlineEditorFactory"
            id="com.mmxlabs.models.lng.ui.dateEditorFactory">
         <FeatureAnyOf>
            <EDataTypeIs
                  EDataTypeName="EDate"
                  EDataTypeURI="http://www.eclipse.org/emf/2002/Ecore"></EDataTypeIs>
         </FeatureAnyOf>
      </editorFactory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.mmxlabs.models.lng.views.physical"
            name="Physical Data">
      </category>
      <category
            id="com.mmxlabs.models.lng.views.logical"
            name="Logical Data">
      </category>
   </extension>

</plugin>
