<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2016
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.models.lng.analytics.validation.constraints.base"
            mandatory="true"
            name="Analytics Validation">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/analytics/1/">
         </package>
         <constraints
               categories="com.mmxlabs.models.lng.analytics.validation.constraints.base">
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.NullReferenceConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.nullreferences"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Null Reference Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  An object of type {0} has missing reference(s) for {1}.
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.CostMatrixMinMaxConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.CostMatrixMinMaxConstraint.minimumLoad.maximumLoad"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Min Load &lt; Max Load"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The minimum load volume must not exceed the maximum load volume
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.CostMatrixMinMaxConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.CostMatrixMinMaxConstraint.minimumDischarge.maximumDischarge"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Min Discharge &lt; Max Discharge"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The minimum discharge volume must not exceed the maximum discharge volume
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.CostMatrixMinMaxConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.CostMatrixMinMaxConstraint.minimumDischarge.maximumLoad"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Min Discharge &lt; Max Load"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The minimum discharge volume must not exceed the maximum load volume
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.NonZeroConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.NonZeroConstraint.maximumDischarge"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Max Discharge &gt; 0"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Maximum discharge should be greater than zero
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.NonZeroConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.NonZeroConstraint.maximumLoad"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Max Load &gt; 0"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Maximum load should be greater than zero
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.NonZeroConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.NonZeroConstraint.speed"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Speed &gt; 0"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  If set, speed must be greater than zero
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.NonZeroConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.NonZeroConstraint.cvValue"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="CV &gt; 0"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  If set, CV must be greater than zero
               </message>
               <target
                     class="UnitCostMatrix">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
      <category
            id="com.mmxlabs.models.lng.analytics.validation.constraints.shippingcosts"
            mandatory="false"
            name="Shipping Costs Validation">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/analytics/1/">
         </package>
         <constraints
               categories="com.mmxlabs.models.lng.analytics.validation.constraints.shippingcosts">
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.ShippingCostRowConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.ShippingCostRowConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Shipping Cost Row Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="ShippingCostRow">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.ShippingCostPlanConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.ShippingCostPlanConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Shipping Cost Plan Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="ShippingCostPlan">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
      <category
            id="com.mmxlabs.models.lng.analytics.validation.constraints.cargosandbox"
            mandatory="false"
            name="Cargo Sandbox Validation">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/analytics/1/">
         </package>
         <constraints
               categories="com.mmxlabs.models.lng.analytics.validation.constraints.cargosandbox">
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.OpportunityExpressionConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.OpportunityExpressionConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Buy/Sell Opportunity Price Expression Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.ProvisionalCargoConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.ProvisionalCargoConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/analytics/1/">
         </package>
         <constraints
               categories="com.mmxlabs.models.lng.analytics.validation.constraints.base">
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.BuyReferenceConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.BuyReferenceConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="BuyReferenceConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="BuyReference">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.SellReferenceConstraint"
                  id="com.mmxlabs.models.lng.analytics.validation.SellReferenceConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="SellReferenceConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SellReference">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.analytics.validation.RoundTripShippingOptionContraint"
                  id="com.mmxlabs.models.lng.analytics.validation.RoundTripShippingOptionContraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="RoundTripShippingOptionContraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="RoundTripShippingOption">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
