<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="TradesTableContextMenuExtension" name="TradesTableContextMenuExtension" schema="schema/TradesTableContextMenuExtension.exsd"/>



	
	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.Cargo"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.CargoComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.Cargo" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.Slot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.SlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.Slot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.LoadSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.LoadSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.LoadSlot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.DischargeSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.DischargeSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.DischargeSlot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.CargoModel"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.CargoModelComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.CargoModel" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.SpotSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.SpotSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.SpotSlot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.SpotLoadSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.SpotLoadSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.SpotLoadSlot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.SpotDischargeSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.SpotDischargeSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.SpotDischargeSlot" />
		<componentHelper
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.CargoGroupComponentHelper"
			id="com.mmxlabs.models.lng.cargo.helpers.CargoGroup"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.CargoGroup"/>
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.VesselAvailiability"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.VesselAvailabilityComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.VesselAvailability" />			
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.VesselEvent"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.VesselEventComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.VesselEvent" />
			
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.DryDockEvent"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.DryDockEventComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.DryDockEvent" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.CharterOutEvent"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.CharterOutEventComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.CharterOutEvent" />
			
		<componentHelper
		    helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.MaintenanceEventComponentHelper"
	        id="com.mmxlabs.models.lng.cargo.helpers.MaintenanceEvent"
        	inheritable="false"
        	modelClass="com.mmxlabs.models.lng.cargo.MaintenanceEvent"/>
  
	    <componentHelper
	        helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.AssignableElementComponentHelper"
	        id="com.mmxlabs.models.lng.cargo.presentation.composites.AssignableElementComponentHelper"
	        inheritable="true"
	        modelClass="com.mmxlabs.models.lng.cargo.AssignableElement"/>
        
         <componentHelper
        helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.VesselTypeGroupComponentHelper"
        id="com.mmxlabs.models.lng.cargo.presentation.composites.VesselTypeGroupComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.cargo.VesselTypeGroup"/>
         <componentHelper
               helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.EndHeelOptionsComponentHelper"
               id="com.mmxlabs.models.lng.cargo.presentation.composites.EndHeelOptionsComponentHelper"
               inheritable="true"
               modelClass="com.mmxlabs.models.lng.cargo.EndHeelOptions">
         </componentHelper>
         <componentHelper
               helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.StartHeelOptionsComponentHelper"
               id="com.mmxlabs.models.lng.cargo.presentation.composites.StartHeelOptionsComponentHelper"
               inheritable="true"
               modelClass="com.mmxlabs.models.lng.cargo.StartHeelOptions">
         </componentHelper>
        
	</extension>
 <extension
       point="com.mmxlabs.models.ui.jointmodeleditors">
    <jointModelEditor
          id="com.mmxlabs.models.lng.cargo.editor.cargoeditor"
          implementation="com.mmxlabs.models.lng.cargo.ui.editorpart.CargoModelEditorContribution"
          priority="10"
          subModelClass="com.mmxlabs.models.lng.cargo.CargoModel">
    </jointModelEditor>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.valueproviders">
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.SlotPortValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.slotRestrictedPortProvider"
          ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
          referenceEClass="com.mmxlabs.models.lng.port.Port">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.SlotContractValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.slotContractProvider"
          ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
          referenceEClass="com.mmxlabs.models.lng.commercial.Contract">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.cargoValueProvider"
          referenceEClass="com.mmxlabs.models.lng.cargo.Cargo">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.cargoGroupValueProvider"
          referenceEClass="com.mmxlabs.models.lng.cargo.CargoGroup">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.SpotMarketValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.SpotMarketValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.SpotSlot"
          referenceEClass="com.mmxlabs.models.lng.spotmarkets.SpotMarket">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory.LoadSlot"
          referenceEClass="com.mmxlabs.models.lng.cargo.LoadSlot">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory.DischargeSlot"
          referenceEClass="com.mmxlabs.models.lng.cargo.DischargeSlot">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory.Slot"
          referenceEClass="com.mmxlabs.models.lng.cargo.Slot">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.NominatedVesselValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.NominatedVesselValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
          referenceEClass="com.mmxlabs.models.lng.fleet.Vessel">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselAssignmentTypeValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.BasicVesselValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.AssignableElement"
          referenceEClass="com.mmxlabs.models.lng.types.VesselAssignmentType">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselAvailabilityVesselValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselAvailabilityVesselValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.VesselAvailability"
          referenceEClass="com.mmxlabs.models.lng.fleet.Vessel">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselPortValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselPortValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.VesselAvailability"
          referenceEClass="com.mmxlabs.models.lng.types.APortSet">
    </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.SlotEntityValueProviderFactory"
           id="com.mmxlabs.models.lng.cargo.ui.valueproviders.SlotEntityValueProviderFactory"
           ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
           referenceEClass="com.mmxlabs.models.lng.commercial.BaseLegalEntity">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
           id="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory_VesselAvailability"
           referenceEClass="com.mmxlabs.models.lng.cargo.VesselAvailability">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.AllowedVesselsValueProviderFactory"
           id="com.mmxlabs.models.lng.cargo.ui.valueproviders.AllowedVesselsValueProviderFactory_slot"
           ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
           referenceEClass="com.mmxlabs.models.lng.types.AVesselSet">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.AllowedVesselsValueProviderFactory"
           id="com.mmxlabs.models.lng.cargo.ui.valueproviders.AllowedVesselsValueProviderFactory_vesselEvent"
           ownerEClass="com.mmxlabs.models.lng.cargo.VesselEvent"
           referenceEClass="com.mmxlabs.models.lng.types.AVesselSet">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselAvailabilityStartPortValueProviderFactory"
           id="VesselAvailabilityStartPortValueProviderFactory"
           ownerEClass="com.mmxlabs.models.lng.cargo.VesselAvailability"
           referenceEClass="com.mmxlabs.models.lng.port.Port">
     </valueProvider>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.displaycompositefactories">
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.Cargo"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.CargoModelCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.editor.cargoCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.LoadSlot"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.LoadSlotCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.ui.displaycomposites.LoadSlotCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.DischargeSlot"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.DischargeSlotCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.ui.displaycomposites.DischargeSlotCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.VesselAvailability"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.VesselAvailabilityCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.ui.displaycomposites.VesselAvailabilityCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
 </extension>
 <extension
       point="com.mmxlabs.models.util.import.submodels">
    <submodelImporter
          ID="com.mmxlabs.models.lng.cargo.editor.cargoModelImporter"
          subModelClassName="com.mmxlabs.models.lng.cargo.CargoModel"
          subModelImporterClass="com.mmxlabs.models.lng.cargo.importer.CargoModelImporter">
    </submodelImporter>
 </extension>
    <extension
         point="com.mmxlabs.models.util.import.extramodelimporters">
      <extramodelimporter
            class="com.mmxlabs.models.lng.cargo.importer.AssignmentModelImporter">
      </extramodelimporter>
      <extramodelimporter
            class="com.mmxlabs.models.lng.cargo.importer.VesselAvailabilityBallastBonusImporterExtraImporter">
      </extramodelimporter>
   </extension>
 <extension
       id="com.mmxlabs.models.lng.cargo.import.classes"
       point="com.mmxlabs.models.util.import.classes">
    <classImporter
          ID="com.mmxlabs.models.lng.cargo.editor.CargoImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.CargoImporter"
          eClassName="com.mmxlabs.models.lng.cargo.Cargo"
          inheritable="true">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.cargo.editor.loadSlotImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.LoadSlotImporter"
          eClassName="com.mmxlabs.models.lng.cargo.LoadSlot"
          inheritable="true">
    </classImporter>
      <classImporter
          ID="com.mmxlabs.models.lng.cargo.editor.dischargeSlotImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.DischargeSlotImporter"
          eClassName="com.mmxlabs.models.lng.cargo.DischargeSlot"
          inheritable="true">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.cargo.importer.VesselEventImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.VesselEventImporter"
          eClassName="com.mmxlabs.models.lng.cargo.VesselEvent"
          inheritable="true">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.cargo.importer.VesselAvailabilityImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.VesselAvailabilityImporter"
          eClassName="com.mmxlabs.models.lng.cargo.VesselAvailability"
          inheritable="true">
    </classImporter>
    
 </extension>
 <extension
       point="com.mmxlabs.models.ui.modelfactories">
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.cargoFactory"
          factory="com.mmxlabs.models.lng.cargo.ui.modelfactories.CargoFactory"
          label="Cargo"
          targetEClass="com.mmxlabs.models.lng.cargo.Cargo">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.cargoGroupFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Cargo Group"
          targetEClass="com.mmxlabs.models.lng.cargo.CargoGroup">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.cargoGroupFactoryForCargoTable"
          factory="com.mmxlabs.models.lng.cargo.ui.modelfactories.CargoGroupFactory"
          label="Cargo Group"
          outputEClass="com.mmxlabs.models.lng.cargo.CargoGroup"
          targetEClass="com.mmxlabs.models.lng.cargo.Cargo">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.loadSlotFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Load Slot"
          targetEClass="com.mmxlabs.models.lng.cargo.LoadSlot">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.dischargeSlotFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Discharge Slot"
          targetEClass="com.mmxlabs.models.lng.cargo.DischargeSlot">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.spotLoadSlotFactory"
          factory="com.mmxlabs.models.lng.cargo.ui.modelfactories.SpotLoadSlotFactory"
          label="Spot Load Slot"
          targetEClass="com.mmxlabs.models.lng.cargo.SpotLoadSlot">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.spotDischargeSlotFactory"
          factory="com.mmxlabs.models.lng.cargo.ui.modelfactories.SpotDischargeSlotFactory"
          label="Spot Discharge Slot"
          targetEClass="com.mmxlabs.models.lng.cargo.SpotDischargeSlot">
    </factory>
  
      <factory
          ID="com.mmxlabs.models.lng.cargo.editor.vesselAvailabilityFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="VesselAvailability"
          targetEClass="com.mmxlabs.models.lng.cargo.VesselAvailability">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.charterOutFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Charter Out"
          outputEClass="com.mmxlabs.models.lng.cargo.CharterOutEvent"
          targetEClass="com.mmxlabs.models.lng.cargo.VesselEvent">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.dryDockFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Dry Dock"
          outputEClass="com.mmxlabs.models.lng.cargo.DryDockEvent"
          targetEClass="com.mmxlabs.models.lng.cargo.VesselEvent">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.maintenanceFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Maintenance"
          outputEClass="com.mmxlabs.models.lng.cargo.MaintenanceEvent"
          targetEClass="com.mmxlabs.models.lng.cargo.VesselEvent">
    </factory>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.editorfactories">
    <editorFactory
          factoryClass="com.mmxlabs.models.ui.dates.TimeInlineEditorFactory"
          featureNameEquals="windowStartTime"
          id="com.mmxlabs.models.lng.cargo.editor.slotTimeEditor">
       <OwnerAnyOf>
          <EClassExtends
                EClass="com.mmxlabs.models.lng.cargo.Slot">
          </EClassExtends>
       </OwnerAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.cargo.editor.editors.ArriveColdInlineEditorFactory"
          featureNameEquals="arriveCold"
          id="com.mmxlabs.models.lng.cargo.editor.editors.ArriveColdInlineEditorFactory">
       <OwnerAnyOf>
          <EClassExtends
                EClass="com.mmxlabs.models.lng.cargo.LoadSlot">
          </EClassExtends>
       </OwnerAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.cargo.editor.editors.VesselTankStateInlineEditorFactory"
          id="com.mmxlabs.models.lng.cargo.editor.editors.VesselTankStateInlineEditorFactory">
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="EVesselTankState"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/cargo/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.cargo.editor.editors.VesselTankStateInlineEditorFactory"
          id="com.mmxlabs.models.lng.cargo.editor.editors.VesselTankStateInlineEditorFactory">
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="EVesselTankState"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/cargo/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>    
 </extension>
 <extension
       point="com.mmxlabs.models.common.modelcommandprovider">
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.PortUpdatingCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.PortUpdatingCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.SlotShipToShipBindingCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.SlotShipToShipBindingCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.VesselAvailabilityCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.VesselAvailabilityCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.AssignableElementCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.AssignableElementCommandProvider">
    </ModelCommandProvider>
 </extension>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated cargo -->
      <editor
            id="com.mmxlabs.models.lng.cargo.presentation.CargoEditorID"
            name="%_UI_CargoEditor_label"
            icon="icons/full/obj16/CargoModelFile.gif"
            extensions="cargo"
            class="com.mmxlabs.models.lng.cargo.presentation.CargoEditor"
            contributorClass="com.mmxlabs.models.lng.cargo.presentation.CargoActionBarContributor">
      </editor>
   </extension>
   <extension
         point="com.mmxlabs.models.util.import.attributes">
      <attributeImporter
            ID="com.mmxlabs.models.lng.cargo.editor.attributeImporter1"
            attributeImporterClass="com.mmxlabs.models.util.importer.impl.DefaultAttributeImporter">
         <dataType
               attributeTypeName="EVesselTankState"
               attributeTypeURI="http://www.mmxlabs.com/models/lng/cargo/1/">
         </dataType>
      </attributeImporter>
   </extension>

</plugin>
