<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2023
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="TradesTableContextMenuExtension" name="TradesTableContextMenuExtension" schema="schema/TradesTableContextMenuExtension.exsd"/>
   <extension-point id="VesselEventsTableContextMenuExtension" name="VesselEventsTableContextMenuExtension" schema="schema/VesselEventsTableContextMenuExtension.exsd"/>
   <extension-point id="TradesTableEditor" name="TradesTableEditor" schema="schema/TradesTableEditor.exsd"/>

	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.Cargo"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.CargoComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.Cargo" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.Slot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.SlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.Slot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.LoadSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.LoadSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.LoadSlot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.DischargeSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.DischargeSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.DischargeSlot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.SpotLoadSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.SpotLoadSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.SpotLoadSlot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.SpotDischargeSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.SpotDischargeSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.SpotDischargeSlot" />

		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.VesselCharter"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.VesselCharterComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.VesselCharter" />			
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.VesselEvent"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.VesselEventComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.VesselEvent" />
 
	    <componentHelper
	        helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.AssignableElementComponentHelper"
	        id="com.mmxlabs.models.lng.cargo.presentation.composites.AssignableElementComponentHelper"
	        inheritable="true"
	        modelClass="com.mmxlabs.models.lng.cargo.AssignableElement"/>
        
       
         <componentHelper
               helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.InventoryEventRowComponentHelper"
               id="com.mmxlabs.models.lng.cargo.presentation.composites.InventoryEventRowComponentHelper"
               inheritable="true"
               modelClass="com.mmxlabs.models.lng.cargo.InventoryEventRow">
         </componentHelper>
     
         <componentHelper
               helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.CanalBookingSlotComponentHelper"
               id="com.mmxlabs.models.lng.cargo.presentation.composites.CanalBookingSlotComponentHelper"
               inheritable="true"
               modelClass="com.mmxlabs.models.lng.cargo.CanalBookingSlot">
         </componentHelper>
     
         <componentHelper
               helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.PaperDealComponentHelper"
               id="com.mmxlabs.models.lng.cargo.presentation.composites.PaperDealComponentHelper"
               inheritable="true"
               modelClass="com.mmxlabs.models.lng.cargo.PaperDeal">
         </componentHelper>
       
         <componentHelper
               helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.CanalBookingsComponentHelper"
               id="com.mmxlabs.models.lng.cargo.presentation.composites.CanalBookingsComponentHelper"
               inheritable="true"
               modelClass="com.mmxlabs.models.lng.cargo.CanalBookings">
         </componentHelper>
         <componentHelper
               helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.CharterOutEventComponentHelper"
               id="com.mmxlabs.models.lng.cargo.presentation.composites.CharterOutEventComponentHelper"
               inheritable="true"
               modelClass="com.mmxlabs.models.lng.cargo.CharterOutEvent">
         </componentHelper>
         <componentHelper
               helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.VolumeTierSlotParamsComponentHelper"
               id="com.mmxlabs.models.lng.cargo.presentation.composites.VolumeTierSlotParamsComponentHelper_LoadSlot"
               inheritable="false"
               modelClass="com.mmxlabs.models.lng.cargo.LoadSlot">
         </componentHelper>
         <componentHelper
               helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.VolumeTierSlotParamsComponentHelper"
               id="com.mmxlabs.models.lng.cargo.presentation.composites.VolumeTierSlotParamsComponentHelper_DischargeSlot"
               inheritable="false"
               modelClass="com.mmxlabs.models.lng.cargo.DischargeSlot">
         </componentHelper>
	</extension>
 <extension
       point="com.mmxlabs.models.ui.jointmodeleditors">
    <jointModelEditor
          id="com.mmxlabs.models.lng.cargo.editor.cargoeditor"
          implementation="com.mmxlabs.models.lng.cargo.ui.editorpart.CargoModelEditorContribution"
          priority="10"
          subModelClass="com.mmxlabs.models.lng.cargo.CargoModel">
    </jointModelEditor>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.valueproviders">
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.InventoryValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.InventoryValueProviderFactory"
          referenceEClass="com.mmxlabs.models.lng.cargo.Inventory">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.SlotPortValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.slotRestrictedPortProvider"
          ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
          referenceEClass="com.mmxlabs.models.lng.port.Port">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.RestrictedSlotValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.RestrictedSlotValueProvider"
          ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
          referenceEClass="com.mmxlabs.models.lng.cargo.Slot">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.SlotContractValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.slotContractProvider"
          ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
          referenceEClass="com.mmxlabs.models.lng.commercial.Contract">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselCharterVesselMarkerValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselCharterVesselMarkerValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.VesselCharter"
          referenceEClass="com.mmxlabs.models.lng.fleet.Vessel">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CharterInVesselMarkerValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.CharterInVesselMarkerValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.spotmarkets.CharterInMarket"
          referenceEClass="com.mmxlabs.models.lng.fleet.Vessel">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.GroupedDischargeSlotsConstraintsSlotsValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.GroupedDischargeSlotsConstraintsSlotsValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.GroupedDischargeSlotsConstraint"
          referenceEClass="com.mmxlabs.models.lng.cargo.Slot">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.cargoValueProvider"
          referenceEClass="com.mmxlabs.models.lng.cargo.Cargo">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.cargoGroupValueProvider"
          referenceEClass="com.mmxlabs.models.lng.cargo.CargoGroup">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.SpotMarketValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.SpotMarketValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.SpotSlot"
          referenceEClass="com.mmxlabs.models.lng.spotmarkets.SpotMarket">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory.LoadSlot"
          referenceEClass="com.mmxlabs.models.lng.cargo.LoadSlot">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory.DischargeSlot"
          referenceEClass="com.mmxlabs.models.lng.cargo.DischargeSlot">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory.Slot"
          referenceEClass="com.mmxlabs.models.lng.cargo.Slot">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.NominatedVesselValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.NominatedVesselValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
          referenceEClass="com.mmxlabs.models.lng.fleet.Vessel">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselAssignmentTypeValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.BasicVesselValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.AssignableElement"
          referenceEClass="com.mmxlabs.models.lng.types.VesselAssignmentType">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselCharterVesselValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselCharterVesselValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.VesselCharter"
          referenceEClass="com.mmxlabs.models.lng.fleet.Vessel">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselPortValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselPortValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.VesselCharter"
          referenceEClass="com.mmxlabs.models.lng.types.APortSet">
    </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.SlotEntityValueProviderFactory"
           id="com.mmxlabs.models.lng.cargo.ui.valueproviders.SlotEntityValueProviderFactory"
           ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
           referenceEClass="com.mmxlabs.models.lng.commercial.BaseLegalEntity">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.SlotBusinessUnitValueProviderFactory"
           id="com.mmxlabs.models.lng.cargo.ui.valueproviders.SlotBusinessUnitValueProviderFactory"
           ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
           referenceEClass="com.mmxlabs.models.lng.commercial.BusinessUnit">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
           id="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory_VesselCharter"
           referenceEClass="com.mmxlabs.models.lng.cargo.VesselCharter">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
           id="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory_VesselEvent"
           referenceEClass="com.mmxlabs.models.lng.cargo.VesselEvent">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.AllowedVesselsValueProviderFactory"
           id="com.mmxlabs.models.lng.cargo.ui.valueproviders.AllowedVesselsValueProviderFactory_slot"
           ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
           referenceEClass="com.mmxlabs.models.lng.types.AVesselSet">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.AllowedVesselsValueProviderFactory"
           id="com.mmxlabs.models.lng.cargo.ui.valueproviders.AllowedVesselsValueProviderFactory_vesselEvent"
           ownerEClass="com.mmxlabs.models.lng.cargo.VesselEvent"
           referenceEClass="com.mmxlabs.models.lng.types.AVesselSet">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselCharterStartPortValueProviderFactory"
           id="VesselCharterStartPortValueProviderFactory"
           ownerEClass="com.mmxlabs.models.lng.cargo.VesselCharter"
           referenceEClass="com.mmxlabs.models.lng.port.Port">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.VesselCharterStartPortValueProviderFactory"
           id="VesselEventPortValueProviderFactory"
           ownerEClass="com.mmxlabs.models.lng.cargo.CharterLengthEvent"
           referenceEClass="com.mmxlabs.models.lng.port.Port">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CanalBookingBookingCodeValueProviderFactory"
           id="com.mmxlabs.models.lng.cargo.ui.valueproviders.CanalBookingBookingCodeValueProviderFactory_BookingCode"
           referenceEClass="com.mmxlabs.models.lng.cargo.VesselGroupCanalParameters">
     </valueProvider>
     <valueProvider
           factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CanalBookingVesselValueProviderFactory"
           id="com.mmxlabs.models.lng.cargo.ui.valueproviders.CanalBookingVesselValueProviderFactory_Vessel"
           ownerEClass="com.mmxlabs.models.lng.cargo.CanalBookingSlot"
           referenceEClass="com.mmxlabs.models.lng.types.AVesselSet">
     </valueProvider>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.displaycompositefactories">
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.Cargo"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.CargoModelCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.editor.cargoCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.LoadSlot"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.LoadSlotCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.ui.displaycomposites.LoadSlotCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.DischargeSlot"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.DischargeSlotCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.ui.displaycomposites.DischargeSlotCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.VesselCharter"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.VesselCharterCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.ui.displaycomposites.VesselCharteryCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.commercial.EndHeelOptions"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.EndHeelOptionsCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.ui.displaycomposites.EndHeelOptionsCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.commercial.StartHeelOptions"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.StartHeelOptionsCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.ui.displaycomposites.StartHeelOptionsCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.PaperDeal"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.PaperCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.ui.displaycomposites.PaperCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.CanalBookings"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.CanalBookingsCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.ui.displaycomposites.CanalBookingsCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
 </extension>
 <extension
       point="com.mmxlabs.models.util.import.submodels">
    <submodelImporter
          ID="com.mmxlabs.models.lng.cargo.editor.cargoModelImporter"
          subModelClassName="com.mmxlabs.models.lng.cargo.CargoModel"
          subModelImporterClass="com.mmxlabs.models.lng.cargo.importer.CargoModelImporter">
    </submodelImporter>
 </extension>
    <extension
         point="com.mmxlabs.models.util.import.extramodelimporters">
      <extramodelimporter
            class="com.mmxlabs.models.lng.cargo.importer.AssignmentModelImporter">
      </extramodelimporter>
      <extramodelimporter
            class="com.mmxlabs.models.lng.cargo.importer.VesselCharterContractIExtraModelImporter">
      </extramodelimporter>
      <extramodelimporter
            class="com.mmxlabs.models.lng.cargo.importer.InventoryExtraImporter">
      </extramodelimporter>
   </extension>
 <extension
       id="com.mmxlabs.models.lng.cargo.import.classes"
       point="com.mmxlabs.models.util.import.classes">
    <classImporter
          ID="com.mmxlabs.models.lng.cargo.editor.CargoImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.CargoImporter"
          eClassName="com.mmxlabs.models.lng.cargo.Cargo"
          inheritable="true">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.cargo.editor.loadSlotImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.LoadSlotImporter"
          eClassName="com.mmxlabs.models.lng.cargo.LoadSlot"
          inheritable="true">
    </classImporter>
      <classImporter
          ID="com.mmxlabs.models.lng.cargo.editor.dischargeSlotImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.DischargeSlotImporter"
          eClassName="com.mmxlabs.models.lng.cargo.DischargeSlot"
          inheritable="true">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.cargo.importer.VesselEventImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.VesselEventImporter"
          eClassName="com.mmxlabs.models.lng.cargo.VesselEvent"
          inheritable="true">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.cargo.importer.VesselCharterImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.VesselCharterImporter"
          eClassName="com.mmxlabs.models.lng.cargo.VesselCharter"
          inheritable="true">
    </classImporter>
    
 </extension>
 <extension
       point="com.mmxlabs.models.ui.modelfactories">
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.cargoFactory"
          factory="com.mmxlabs.models.lng.cargo.ui.modelfactories.CargoFactory"
          label="Cargo"
          targetEClass="com.mmxlabs.models.lng.cargo.Cargo">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.cargoGroupFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Cargo Group"
          targetEClass="com.mmxlabs.models.lng.cargo.CargoGroup">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.cargoGroupFactoryForCargoTable"
          factory="com.mmxlabs.models.lng.cargo.ui.modelfactories.CargoGroupFactory"
          label="Cargo Group"
          outputEClass="com.mmxlabs.models.lng.cargo.CargoGroup"
          targetEClass="com.mmxlabs.models.lng.cargo.Cargo">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.loadSlotFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Load Slot"
          targetEClass="com.mmxlabs.models.lng.cargo.LoadSlot">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.dischargeSlotFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Discharge Slot"
          targetEClass="com.mmxlabs.models.lng.cargo.DischargeSlot">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.spotLoadSlotFactory"
          factory="com.mmxlabs.models.lng.cargo.ui.modelfactories.SpotLoadSlotFactory"
          label="Spot Load Slot"
          targetEClass="com.mmxlabs.models.lng.cargo.SpotLoadSlot">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.spotDischargeSlotFactory"
          factory="com.mmxlabs.models.lng.cargo.ui.modelfactories.SpotDischargeSlotFactory"
          label="Spot Discharge Slot"
          targetEClass="com.mmxlabs.models.lng.cargo.SpotDischargeSlot">
    </factory>
  
      <factory
          ID="com.mmxlabs.models.lng.cargo.editor.VesselCharterFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Vessel charter"
          targetEClass="com.mmxlabs.models.lng.cargo.VesselCharter">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.charterOutFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Charter Out"
          outputEClass="com.mmxlabs.models.lng.cargo.CharterOutEvent"
          targetEClass="com.mmxlabs.models.lng.cargo.VesselEvent">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.dryDockFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Dry Dock"
          outputEClass="com.mmxlabs.models.lng.cargo.DryDockEvent"
          targetEClass="com.mmxlabs.models.lng.cargo.VesselEvent">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.maintenanceFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Maintenance"
          outputEClass="com.mmxlabs.models.lng.cargo.MaintenanceEvent"
          targetEClass="com.mmxlabs.models.lng.cargo.VesselEvent">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.charterLengthFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Charter Length"
          outputEClass="com.mmxlabs.models.lng.cargo.CharterLengthEvent"
          targetEClass="com.mmxlabs.models.lng.cargo.VesselEvent">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.InventoryEventRow.Factory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Event"
          outputEClass="com.mmxlabs.models.lng.cargo.InventoryEventRow"
          replacementEReference="offtakes"
          targetEClass="com.mmxlabs.models.lng.cargo.InventoryEventRow">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.InventoryCapacityRow.factory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Capacity"
          targetEClass="com.mmxlabs.models.lng.cargo.InventoryCapacityRow">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.CanalBookingSlot.factory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Booking"
          targetEClass="com.mmxlabs.models.lng.cargo.CanalBookingSlot">
    </factory>
    <factory
          ID="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory_Inventory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Storage Facility"
          targetEClass="com.mmxlabs.models.lng.cargo.Inventory">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.BuyPaperDealFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Buy"
          outputEClass="com.mmxlabs.models.lng.cargo.BuyPaperDeal"
          targetEClass="com.mmxlabs.models.lng.cargo.PaperDeal">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.SellPaperDealFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Sell"
          outputEClass="com.mmxlabs.models.lng.cargo.SellPaperDeal"
          targetEClass="com.mmxlabs.models.lng.cargo.PaperDeal">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.DealSet.defaultFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Deal Set"
          targetEClass="com.mmxlabs.models.lng.cargo.DealSet">
    </factory>    
 </extension>
 <extension
       point="com.mmxlabs.models.ui.editorfactories">
    <editorFactory
          factoryClass="com.mmxlabs.models.ui.dates.TimeInlineEditorFactory"
          featureNameEquals="windowStartTime"
          id="com.mmxlabs.models.lng.cargo.editor.slotTimeEditor">
       <OwnerAnyOf>
          <EClassExtends
                EClass="com.mmxlabs.models.lng.cargo.Slot">
          </EClassExtends>
       </OwnerAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.cargo.editor.editors.ArriveColdInlineEditorFactory"
          featureNameEquals="arriveCold"
          id="com.mmxlabs.models.lng.cargo.editor.editors.ArriveColdInlineEditorFactory">
       <OwnerAnyOf>
          <EClassExtends
                EClass="com.mmxlabs.models.lng.cargo.LoadSlot">
          </EClassExtends>
       </OwnerAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.cargo.editor.editors.InventoryPeriodInlineEditorFactory"
          id="com.mmxlabs.models.lng.cargo.editor.editors.InventoryPeriodInlineEditorFactory">
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="InventoryFrequency"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/cargo/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.cargo.editor.editors.InventoryFacilityTypeInlineEditorFactory"
          id="com.mmxlabs.models.lng.cargo.editor.editors.InventoryFacilityTypeInlineEditorFactory">
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="InventoryFacilityType"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/cargo/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.cargo.editor.editors.PaperDealTypeValueListInlineEditorFactory"
          id="com.mmxlabs.models.lng.cargo.editor.editors.PaperDealTypeValueListInlineEditorFactory">
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="PaperPricingType"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/cargo/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.cargo.ui.inlineeditors.PanamaDirectionInlineEditorFactory"
          id="com.mmxlabs.models.lng.cargo.ui.inlineeditors.PanamaDirectionInlineEditorFactory">
       <OwnerAnyOf>
          <EClassExtends
                EClass="com.mmxlabs.models.lng.cargo.CanalBookingSlot">
          </EClassExtends>
       </OwnerAnyOf>
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="CanalEntry"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/port/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.cargo.ui.inlineeditors.FuelChoiceInlineEditorFactory"
          id="com.mmxlabs.models.lng.cargo.ui.inlineeditors.FuelChoiceInlineEditorFactory">
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="FuelChoice"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/cargo/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>
 </extension>
 <extension
       point="com.mmxlabs.models.common.modelcommandprovider">
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.PortUpdatingCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.PortUpdatingCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.SlotShipToShipBindingCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.SlotShipToShipBindingCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.VesselCharterCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.VesselCharterCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.AssignableElementCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.AssignableElementCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.VolumeTierContractCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.VolumeTierContractCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.PaperDealUpdatingCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.PaperDealUpdatingCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.CargoCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.CargoCommandProvider">
    </ModelCommandProvider>
    <!--<ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.ContractNominationCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.ContractNominationCommandProvider">
    </ModelCommandProvider>-->
 </extension>

   <extension
         point="com.mmxlabs.models.util.import.attributes">
      <attributeImporter
            ID="com.mmxlabs.models.lng.cargo.editor.attributeImporter1"
            attributeImporterClass="com.mmxlabs.models.util.importer.impl.DefaultAttributeImporter">
         <dataType
               attributeTypeName="InventoryFrequency"
               attributeTypeURI="http://www.mmxlabs.com/models/lng/cargo/1/">
         </dataType>
         <dataType
               attributeTypeName="InventoryFacilityType"
               attributeTypeURI="http://www.mmxlabs.com/models/lng/cargo/1/">
         </dataType>
          <dataType
               attributeTypeName="PaperPricingType"
               attributeTypeURI="http://www.mmxlabs.com/models/lng/cargo/1/">
         </dataType>
      </attributeImporter>
      <attributeImporter
            ID="com.mmxlabs.models.lng.commercial.NextPortType.importer"
            attributeImporterClass="com.mmxlabs.models.util.importer.impl.DefaultAttributeImporter">
         <dataType
               attributeTypeName="NextPortType"
               attributeTypeURI="http://www.mmxlabs.com/models/lng/commercial/1/">
         </dataType>
      </attributeImporter>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.mmxlabs.lngdataserver.views.dataserver"
            class="com.mmxlabs.models.lng.cargo.editor.editors.routeslots.RouteOptionsEditorView"
            id="com.mmxlabs.models.lng.cargo.editor.views.RouteOptionsEditorView"
            name="Panama Bookings"
            restorable="true">
      </view>
   </extension>

   <extension
         point="com.mmxlabs.models.lng.cargo.editor.TradesTableEditor">
      <TradesTableEditor
            class="com.mmxlabs.models.lng.cargo.ui.editorpart.alternatives.DefaultTradesTableProvider">
      </TradesTableEditor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.mmxlabs.models.lng.cargo.editor.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.mmxlabs.license.features.PluginXMLEnablement">
      <PluginXMLEnablement
            feature="market-model-contracts"
            plugin.xml="market-model-contracts.xml">
      </PluginXMLEnablement>
      <PluginXMLEnablement
            feature="risk"
            plugin.xml="risk.plugin.xml">
      </PluginXMLEnablement>
   </extension>

</plugin>
