<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>



	
	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.Cargo"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.CargoComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.Cargo" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.Slot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.SlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.Slot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.LoadSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.LoadSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.LoadSlot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.DischargeSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.DischargeSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.DischargeSlot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.CargoModel"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.CargoModelComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.CargoModel" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.SpotSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.SpotSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.SpotSlot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.SpotLoadSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.SpotLoadSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.SpotLoadSlot" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.cargo.helpers.SpotDischargeSlot"
			helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.SpotDischargeSlotComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.cargo.SpotDischargeSlot" />
  <componentHelper
        helperClass="com.mmxlabs.models.lng.cargo.presentation.composites.CargoGroupComponentHelper"
        id="com.mmxlabs.models.lng.cargo.helpers.CargoGroup"
        inheritable="false"
        modelClass="com.mmxlabs.models.lng.cargo.CargoGroup">
  </componentHelper>
		
	</extension>
 <extension
       point="com.mmxlabs.models.ui.jointmodeleditors">
    <jointModelEditor
          id="com.mmxlabs.models.lng.cargo.editor.cargoeditor"
          implementation="com.mmxlabs.models.lng.cargo.ui.editorpart.CargoModelEditorContribution"
          priority="10"
          subModelClass="com.mmxlabs.models.lng.cargo.CargoModel">
    </jointModelEditor>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.valueproviders">
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.SlotPortValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.slotRestrictedPortProvider"
          ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
          referenceEClass="com.mmxlabs.models.lng.port.Port">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.SlotContractValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.slotContractProvider"
          ownerEClass="com.mmxlabs.models.lng.cargo.Slot"
          referenceEClass="com.mmxlabs.models.lng.commercial.Contract">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.cargoValueProvider"
          referenceEClass="com.mmxlabs.models.lng.cargo.Cargo">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.CargoValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.editor.cargoGroupValueProvider"
          referenceEClass="com.mmxlabs.models.lng.cargo.CargoGroup">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.cargo.ui.valueproviders.SpotMarketValueProviderFactory"
          id="com.mmxlabs.models.lng.cargo.ui.valueproviders.SpotMarketValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.cargo.SpotSlot"
          referenceEClass="com.mmxlabs.models.lng.spotmarkets.SpotMarket">
    </valueProvider>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.displaycompositefactories">
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.Cargo"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.CargoModelCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.editor.cargoCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.LoadSlot"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.LoadSlotCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.ui.displaycomposites.LoadSlotCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.cargo.DischargeSlot"
          factory="com.mmxlabs.models.lng.cargo.ui.displaycomposites.DischargeSlotCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.ui.displaycomposites.DischargeSlotCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
 </extension>
 <extension
       point="com.mmxlabs.models.util.import.submodels">
    <submodelImporter
          ID="com.mmxlabs.models.lng.cargo.editor.cargoModelImporter"
          subModelClassName="com.mmxlabs.models.lng.cargo.CargoModel"
          subModelImporterClass="com.mmxlabs.models.lng.cargo.importer.CargoModelImporter">
    </submodelImporter>
 </extension>
 <extension
       id="com.mmxlabs.models.lng.cargo.import.classes"
       point="com.mmxlabs.models.util.import.classes">
    <classImporter
          ID="com.mmxlabs.models.lng.cargo.editor.CargoImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.CargoImporter"
          eClassName="com.mmxlabs.models.lng.cargo.Cargo"
          inheritable="true">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.cargo.editor.loadSlotImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.LoadSlotImporter"
          eClassName="com.mmxlabs.models.lng.cargo.LoadSlot"
          inheritable="true">
    </classImporter>
      <classImporter
          ID="com.mmxlabs.models.lng.cargo.editor.dischargeSlotImporter"
          classImporterClass="com.mmxlabs.models.lng.cargo.importer.DischargeSlotImporter"
          eClassName="com.mmxlabs.models.lng.cargo.DischargeSlot"
          inheritable="true">
    </classImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.modelfactories">
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.cargoFactory"
          factory="com.mmxlabs.models.lng.cargo.ui.modelfactories.CargoFactory"
          label="Cargo"
          targetEClass="com.mmxlabs.models.lng.cargo.Cargo">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.cargoGroupFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Cargo Group"
          targetEClass="com.mmxlabs.models.lng.cargo.CargoGroup">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.cargoGroupFactoryForCargoTable"
          factory="com.mmxlabs.models.lng.cargo.ui.modelfactories.CargoGroupFactory"
          label="Cargo Group"
          outputEClass="com.mmxlabs.models.lng.cargo.CargoGroup"
          targetEClass="com.mmxlabs.models.lng.cargo.Cargo">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.loadSlotFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Load Slot"
          targetEClass="com.mmxlabs.models.lng.cargo.LoadSlot">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.dischargeSlotFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Discharge Slot"
          targetEClass="com.mmxlabs.models.lng.cargo.DischargeSlot">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.spotLoadSlotFactory"
          factory="com.mmxlabs.models.lng.cargo.ui.modelfactories.SpotLoadSlotFactory"
          label="Spot Load Slot"
          targetEClass="com.mmxlabs.models.lng.cargo.SpotLoadSlot">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.cargo.editor.spotDischargeSlotFactory"
          factory="com.mmxlabs.models.lng.cargo.ui.modelfactories.SpotDischargeSlotFactory"
          label="Spot Discharge Slot"
          targetEClass="com.mmxlabs.models.lng.cargo.SpotDischargeSlot">
    </factory>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.editorfactories">
    <editorFactory
          factoryClass="com.mmxlabs.models.ui.dates.TimeInlineEditorFactory"
          featureNameEquals="windowStartTime"
          id="com.mmxlabs.models.lng.cargo.editor.slotTimeEditor">
       <OwnerAnyOf>
          <EClassExtends
                EClass="com.mmxlabs.models.lng.cargo.Slot">
          </EClassExtends>
       </OwnerAnyOf>
    </editorFactory>
 </extension>
 <extension
       point="com.mmxlabs.models.common.modelcommandprovider">
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.CargoTypeUpdatingCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.CargoTypeUpdatingCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.DateUpdatingCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.DateUpdatingCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.PortUpdatingCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.PortUpdatingCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.SlotNameUpdatingCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.SlotNameUpdatingCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.cargo.ui.commands.SlotShipToShipBindingCommandProvider"
          id="com.mmxlabs.models.lng.cargo.ui.commands.SlotShipToShipBindingCommandProvider">
    </ModelCommandProvider>
 </extension>
</plugin>
