<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2022
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>
<extension
       point="org.eclipse.ui.views">
    <view
          category="com.mmxlabs.lngdataserver.views.dataserver"
          class="com.mmxlabs.models.lng.transfers.editor.views.TransferAgreementsView"
          id="com.mmxlabs.models.lng.transfers.editor.views.TransferAgreementsView"
          name="Transfer Agreements"
          restorable="true">
    </view>
    <view
          category="com.mmxlabs.lngdataserver.views.dataserver"
          class="com.mmxlabs.models.lng.transfers.editor.views.TransferRecordsView"
          id="com.mmxlabs.models.lng.transfers.editor.views.TransferRecordsView"
          name="Transfer Records"
          restorable="true">
    </view>
</extension>
<extension
         point="com.mmxlabs.models.ui.displaycompositefactories">
      <displayCompositeFactory
            eClass="com.mmxlabs.models.lng.transfers.TransferAgreement"
            factory="com.mmxlabs.models.lng.transfers.editor.displaycomposites.TransferAgreementDetailCompositeFactory"
            id="com.mmxlabs.models.lng.transfers.editor.displaycomposites.TransferAgreementDetailCompositeFactory"
            inheritable="true">
      </displayCompositeFactory>
      <displayCompositeFactory
            eClass="com.mmxlabs.models.lng.transfers.TransferRecord"
            factory="com.mmxlabs.models.lng.transfers.editor.displaycomposites.TransferRecordDetailCompositeFactory"
            id="com.mmxlabs.models.lng.transfers.editor.displaycomposites.TransferRecordDetailCompositeFactory"
            inheritable="true">
      </displayCompositeFactory>
</extension>
 <extension
       point="com.mmxlabs.models.ui.editorfactories">
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.transfers.editor.factories.TransferIncotermValueListInlineEditorFactory"
          id="com.mmxlabs.models.lng.transfers.editor.factories.TransferIncotermValueListInlineEditorFactory">
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="TransferIncoterm"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/transfers/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.transfers.editor.factories.CompanyStatusValueListInlineEditorFactory"
          id="com.mmxlabs.models.lng.transfers.editor.factories.CompanyStatusValueListInlineEditorFactory">
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="CompanyStatus"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/transfers/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.transfers.editor.factories.TransferStatusValueListInlineEditorFactory"
          id="com.mmxlabs.models.lng.transfers.editor.factories.TransferStatusValueListInlineEditorFactory">
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="TransferStatus"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/transfers/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>
    </extension>
    <extension
       point="com.mmxlabs.models.ui.valueproviders">
    <valueProvider
          factory="com.mmxlabs.models.lng.transfers.ui.valueproviders.TransferAgreementReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.transfers.ui.valueproviders.TransferAgreementReferenceValueProviderFactory"
          referenceEClass="com.mmxlabs.models.lng.transfers.TransferAgreement">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.transfers.ui.valueproviders.LHSReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.transfers.ui.valueproviders.LHSReferenceValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.transfers.TransferRecord"
          referenceEClass="com.mmxlabs.models.lng.cargo.Slot">
    </valueProvider>
    </extension>
</plugin>
