<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2022
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>
<extension
       point="org.eclipse.ui.views">
    <view
          category="com.mmxlabs.lngdataserver.views.dataserver"
          class="com.mmxlabs.models.lng.transfers.editor.views.TransferAgreementsView"
          id="com.mmxlabs.models.lng.transfers.editor.views.TransferAgreementsView"
          name="Transfer Agreements"
          restorable="true">
    </view>
</extension>
<extension
         point="com.mmxlabs.models.ui.displaycompositefactories">
      <displayCompositeFactory
            eClass="com.mmxlabs.models.lng.transfers.TransferAgreement"
            factory="com.mmxlabs.models.lng.transfers.editor.displaycomposites.TransferAgreementDetailCompositeFactory"
            id="com.mmxlabs.models.lng.transfers.editor.displaycomposites.TransferAgreementDetailCompositeFactory"
            inheritable="true">
      </displayCompositeFactory>
</extension>
</plugin>
