<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>

	<extension point="org.eclipse.ui.views">
    <view
          category="com.mmxlabs.shiplingo.platform.reports"
          class="com.mmxlabs.lngdataserver.ui.ports.PortsEditorView"
          id="com.mmxlabs.lngdataserver.ui.vessels.PortsEditorView"
          name="Ports View"
          restorable="true">
    </view>
    </extension>
 <extension
       point="com.mmxlabs.lngdataserver.ui.server.EndpointExtension">
    <EndpointExtension
          class="com.mmxlabs.lngdataserver.ui.ports.PortsUiEndpointExtension">
    </EndpointExtension>
 </extension>

   <!--extension point="org.eclipse.equinox.http.registry.servlets">
    <servlet
      alias="/test"
      class="com.mmxlabs.lngdataserver.distances.server.ExampleServlet"/>
  </extension-->
</plugin>
