<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2021
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
	 
  <componentHelper
        helperClass="com.mmxlabs.models.lng.analytics.presentation.composites.BuyOpportunityComponentHelper"
        id="com.mmxlabs.models.lng.analytics.presentation.composites.BuyOpportunityComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.analytics.BuyOpportunity">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.analytics.presentation.composites.SellOpportunityComponentHelper"
        id="com.mmxlabs.models.lng.analytics.presentation.composites.SellOpportunityComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.analytics.SellOpportunity">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.analytics.presentation.composites.NominatedShippingOptionComponentHelper"
        id="com.mmxlabs.models.lng.analytics.presentation.composites.NominatedShippingOptionComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.analytics.NominatedShippingOption">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.analytics.presentation.composites.RoundTripShippingOptionComponentHelper"
        id="com.mmxlabs.models.lng.analytics.presentation.composites.RoundTripShippingOptionComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.analytics.RoundTripShippingOption">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.analytics.presentation.composites.ExistingCharterMarketOptionComponentHelper"
        id="com.mmxlabs.models.lng.analytics.presentation.composites.ExistingCharterMarketOptionComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.analytics.ExistingCharterMarketOption">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.analytics.presentation.composites.FullVesselCharterOptionComponentHelper"
        id="com.mmxlabs.models.lng.analytics.presentation.composites.FullVesselCharterOptionComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.analytics.FullVesselCharterOption">
  </componentHelper>
  
  <componentHelper
        helperClass="com.mmxlabs.models.lng.analytics.presentation.composites.CharterOutOpportunityComponentHelper"
        id="com.mmxlabs.models.lng.analytics.presentation.composites.CharterOutOpportunityComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.analytics.CharterOutOpportunity">
  </componentHelper>
		 <componentHelper
        helperClass="com.mmxlabs.models.lng.analytics.presentation.composites.PartialCaseRowOptionsComponentHelper"
        id="com.mmxlabs.models.lng.analytics.presentation.composites.PartialCaseRowOptionsComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.analytics.PartialCaseRowOptions">
  </componentHelper>
  
	</extension>
 <extension
       point="com.mmxlabs.models.util.import.submodels">
    <submodelImporter
          ID="com.mmxlabs.models.lng.analytics.editor.analyticsModelImporter"
          subModelClassName="com.mmxlabs.models.lng.analytics.AnalyticsModel"
          subModelImporterClass="com.mmxlabs.models.lng.analytics.importer.AnalyticsModelImporter">
    </submodelImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.jointmodeleditors">
    <jointModelEditor
          id="com.mmxlabs.models.lng.analytics.editor.analyticsEditor"
          implementation="com.mmxlabs.models.lng.analytics.ui.editorpart.AnalyticsModelEditorContribution"
          priority="0"
          subModelClass="com.mmxlabs.models.lng.analytics.AnalyticsModel">
    </jointModelEditor>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.valueproviders">
    <valueProvider
          factory="com.mmxlabs.models.lng.analytics.ui.valueproviders.BuyMarketReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.analytics.ui.valueproviders.BuyMarketReferenceValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.analytics.BuyMarket"
          referenceEClass="com.mmxlabs.models.lng.spotmarkets.SpotMarket">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.analytics.ui.valueproviders.SellMarketReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.analytics.ui.valueproviders.SellMarketReferenceValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.analytics.SellMarket"
          referenceEClass="com.mmxlabs.models.lng.spotmarkets.SpotMarket">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.analytics.ui.valueproviders.SellReferenceReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.analytics.ui.valueproviders.SellReferenceReferenceValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.analytics.SellReference"
          referenceEClass="com.mmxlabs.models.lng.cargo.DischargeSlot">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.analytics.ui.valueproviders.BuyReferenceReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.analytics.ui.valueproviders.BuyReferenceReferenceValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.analytics.BuyReference"
          referenceEClass="com.mmxlabs.models.lng.cargo.LoadSlot">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.analytics.ui.views.sandbox.providers.OpportunityContractValueProviderFactory"
          id="com.mmxlabs.models.lng.analytics.ui.views.providers.OpportunityContractValueProviderFactory_Buy"
          ownerEClass="com.mmxlabs.models.lng.analytics.BuyOpportunity"
          referenceEClass="com.mmxlabs.models.lng.commercial.PurchaseContract">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.analytics.ui.views.sandbox.providers.OpportunityContractValueProviderFactory"
          id="com.mmxlabs.models.lng.analytics.ui.views.providers.OpportunityContractValueProviderFactory_Sell"
          ownerEClass="com.mmxlabs.models.lng.analytics.SellOpportunity"
          referenceEClass="com.mmxlabs.models.lng.commercial.SalesContract">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.analytics.ui.views.sandbox.providers.OptionalAvailabilityShippingOptionValueProviderFactory"
          id="com.mmxlabs.models.lng.analytics.ui.views.providers.OptionalAvailabilityShippingOptionValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.analytics.OptionalSimpleVesselCharterOption"
          referenceEClass="com.mmxlabs.models.lng.port.Port">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.analytics.ui.views.sandbox.providers.OpportunityPortValueProviderFactory"
          id="com.mmxlabs.models.lng.analytics.ui.views.providers.OpportunityPortValueProviderFactory_Buy"
          ownerEClass="com.mmxlabs.models.lng.analytics.BuyOpportunity"
          referenceEClass="com.mmxlabs.models.lng.port.Port">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.analytics.ui.views.sandbox.providers.OpportunityPortValueProviderFactory"
          id="com.mmxlabs.models.lng.analytics.ui.views.providers.OpportunityPortValueProviderFactory_Sell"
          ownerEClass="com.mmxlabs.models.lng.analytics.SellOpportunity"
          referenceEClass="com.mmxlabs.models.lng.port.Port">
    </valueProvider>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.editorfactories">

    <editorFactory
          factoryClass="com.mmxlabs.models.lng.analytics.ui.editors.VolumeModeInlineEditorFactory"
          id="com.mmxlabs.models.lng.analytics.ui.editors.VolumeModeInlineEditorFactory">
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="VolumeMode"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/analytics/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>
 </extension>
   
   <extension
         point="com.mmxlabs.license.features.PluginXMLEnablement">
      <PluginXMLEnablement
            feature="sandbox"
            plugin.xml="sandbox.plugin.xml">
      </PluginXMLEnablement>
      <PluginXMLEnablement
            feature="viability"
            plugin.xml="viability.plugin.xml">
      </PluginXMLEnablement>
      <PluginXMLEnablement
            feature="mtm"
            plugin.xml="mtm.plugin.xml">
      </PluginXMLEnablement>
      <PluginXMLEnablement
            feature="break-even-table"
            plugin.xml="break-even-table.plugin.xml">
      </PluginXMLEnablement>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.mmxlabs.scenario.service.ui.navigator?after=exporters">
         <command
               commandId="com.mmxlabs.models.lng.analytics.editor.createSandbox"
               icon="icons/sandbox.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        args="features:sandbox"
                        forcePluginActivation="true"
                        property="com.mmxlabs.license.features.enablement">
                  </test>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                        </instanceof>
                     </iterate>
                  </with>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.mmxlabs.scenario.service.ui.navigator?after=exporters">
         <command
               commandId="com.mmxlabs.models.lng.analytics.editor.createBreakEven"
               icon="icons/sandbox.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        args="features:break-even-table"
                        forcePluginActivation="true"
                        property="com.mmxlabs.license.features.enablement">
                  </test>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                        </instanceof>
                     </iterate>
                  </with>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.mmxlabs.models.lng.analytics.editor.createSandbox"
            name="Create sandbox">
      </command>
      <command
            id="com.mmxlabs.models.lng.analytics.editor.createBreakEven"
            name="Create break-even sandbox">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mmxlabs.models.lng.analytics.ui.views.CreateSandboxHandler"
            commandId="com.mmxlabs.models.lng.analytics.editor.createSandbox">
         <enabledWhen>
                  <and>
                  <with
                        variable="selection">
               <iterate
                     ifEmpty="false">
               
                  <and>
                     <instanceof
                           value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                     </instanceof>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.scenario.service.ui.flags.readonly">
                        </test>
                     </not>
                  </and>
               </iterate>
                  </with>
                      <count
                              value="1">
                        </count>
                          </and>
            </enabledWhen>
            <activeWhen>
                   <and>
                  <with
                        variable="selection">
               <iterate
                     ifEmpty="false">
               
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
               </iterate>
                  </with>
                      <count
                              value="1">
                        </count>
                          </and>
            </activeWhen>
      </handler>
      <handler
            class="com.mmxlabs.models.lng.analytics.ui.views.breakeven.CreateBreakEvenHandler"
            commandId="com.mmxlabs.models.lng.analytics.editor.createBreakEven">
         <enabledWhen>
                  <and>
                  <with
                        variable="selection">
               <iterate
                     ifEmpty="false">
               
                  <and>
                     <instanceof
                           value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                     </instanceof>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.scenario.service.ui.flags.readonly">
                        </test>
                     </not>
                  </and>
               </iterate>
                  </with>
                      <count
                              value="1">
                        </count>
                          </and>
            </enabledWhen>
            <activeWhen>
                   <and>
                  <with
                        variable="selection">
               <iterate
                     ifEmpty="false">
               
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
               </iterate>
                  </with>
                      <count
                              value="1">
                        </count>
                          </and>
            </activeWhen>
      </handler>
   </extension>
   <extension
         point="com.mmxlabs.models.lng.cargo.editor.TradesTableContextMenuExtension">
      <TradesTableContextMenuExtension
            class="com.mmxlabs.models.lng.analytics.ui.views.sandbox.CreateSandboxFromSelectionMenuExtension">
      </TradesTableContextMenuExtension>
   </extension>
   <extension
         point="com.mmxlabs.models.ui.displaycompositefactories">
      <displayCompositeFactory
            eClass="com.mmxlabs.models.lng.analytics.FullVesselCharterOption"
            factory="com.mmxlabs.models.lng.analytics.presentation.composites.FullVesselCharterCompositeFactory"
            id="com.mmxlabs.models.lng.analytics.presentation.composites.FullVesselCharterCompositeFactory"
            inheritable="true">
      </displayCompositeFactory>
      <displayCompositeFactory
            eClass="com.mmxlabs.models.lng.analytics.BuyOpportunity"
            factory="com.mmxlabs.models.lng.analytics.presentation.displaycomposites.BuyOpportunityCompositeFactory"
            id="com.mmxlabs.models.lng.analytics.presentation.displaycomposites.BuyOpportunityCompositeFactory"
            inheritable="true">
      </displayCompositeFactory>
      <displayCompositeFactory
            eClass="com.mmxlabs.models.lng.analytics.SellOpportunity"
            factory="com.mmxlabs.models.lng.analytics.presentation.displaycomposites.SellOpportunityCompositeFactory"
            id="com.mmxlabs.models.lng.analytics.presentation.displaycomposites.SellOpportunityCompositeFactory"
            inheritable="true">
      </displayCompositeFactory>
      <displayCompositeFactory
            eClass="com.mmxlabs.models.lng.analytics.PartialCaseRowOptions"
            factory="com.mmxlabs.models.lng.analytics.presentation.displaycomposites.PartialCaseRowOptionsCompositeFactory"
            id="com.mmxlabs.models.lng.analytics.presentation.displaycomposites.PartialCaseRowOptionsTopLevelComposite"
            inheritable="true">
      </displayCompositeFactory>
      <displayCompositeFactory
            eClass="com.mmxlabs.models.lng.analytics.BaseCaseRowOptions"
            factory="com.mmxlabs.models.lng.analytics.presentation.displaycomposites.BaseCaseRowOptionsCompositeFactory"
            id="com.mmxlabs.models.lng.analytics.presentation.displaycomposites.BaseCaseRowOptionsCompositeFactory"
            inheritable="true">
      </displayCompositeFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mmxlabs.models.lng.analytics.OptionAnalysisModel"
            class="com.mmxlabs.models.lng.analytics.ui.views.SandboxScenarioAdapterFactory">
         <adapter
               type="com.mmxlabs.scenario.service.model.util.IScenarioFragmentOpenHandler">
         </adapter>
      </factory>
   </extension>

</plugin>
