<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2016
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mmxlabs.scenario.service.file.preferences.FileScenarioServicePreferencesPage"
            id="com.mmxlabs.scenario.service.file.preferences.FileScenarioServicePreferencesPage"
            name="Scenario Data Backup">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.mmxlabs.scenario.service.file.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
