<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mmxlabs.models.migration.MigrationContext">
      <MigrationContext
            latestVersion="-1"
            name="com.mmxlabs.lingo">
      </MigrationContext>
   </extension>
   <extension
         point="com.mmxlabs.models.migration.MigrationUnit">
      <MigrationUnit
            id="com.mmxlabs.lingo.models.migration.units.LingoMigrateToV1"
            class="org.ops4j.peaberry.eclipse.GuiceExtensionFactory:com.mmxlabs.lingo.models.migration.units.LingoMigrateToV1"
            context="com.mmxlabs.lingo"
            from="0"
            to="-1">
      </MigrationUnit>
   </extension>
   <extension
         point="org.ops4j.peaberry.eclipse.modules">
      <module
            class="com.mmxlabs.lingo.models.migration.internal.MigratorInjectionModule">
      </module>
   </extension>
   
</plugin>
