<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2021
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>



	
<extension
       point="com.mmxlabs.models.ui.displaycompositefactories">
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.pricing.CommodityCurve"
          factory="com.mmxlabs.models.lng.pricing.ui.displaycomposites.AbstractYearMonthCurveCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.editor.CommodityCurveCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.pricing.BunkerFuelCurve"
          factory="com.mmxlabs.models.lng.pricing.ui.displaycomposites.AbstractYearMonthCurveCompositeFactory"
         id="com.mmxlabs.models.lng.cargo.editor.BnkerFuelCurveCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.pricing.CharterCurve"
          factory="com.mmxlabs.models.lng.pricing.ui.displaycomposites.AbstractYearMonthCurveCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.editor.CharterCurveCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.pricing.CurrencyCurve"
          factory="com.mmxlabs.models.lng.pricing.ui.displaycomposites.AbstractYearMonthCurveCompositeFactory"
          id="com.mmxlabs.models.lng.cargo.editor.CurrencyCurveCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>    
</extension>
	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
		<componentHelper
			id="com.mmxlabs.models.lng.pricing.helpers.PricingModel"
			helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.PricingModelComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.pricing.PricingModel" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.pricing.helpers.DataIndex"
			helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.DataIndexComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.pricing.DataIndex" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.pricing.helpers.DerivedIndex"
			helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.DerivedIndexComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.pricing.DerivedIndex" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.pricing.helpers.IndexPoint"
			helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.IndexPointComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.pricing.IndexPoint" />
			
		<componentHelper
			id="com.mmxlabs.models.lng.pricing.helpers.YearMonthPoint"
			helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.YearMonthPointComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.pricing.YearMonthPoint" />
			
		<componentHelper
			id="com.mmxlabs.models.lng.pricing.helpers.Index"
			helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.IndexComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.pricing.Index" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.pricing.helpers.RouteCost"
			helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.RouteCostComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.pricing.RouteCost" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.pricing.helpers.BaseFuelCost"
			helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.BaseFuelCostComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.pricing.BaseFuelCost" />
  
  <componentHelper
        helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.CooldownPriceComponentHelper"
        id="com.mmxlabs.models.lng.pricing.helpers.CooldownPrice"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.pricing.CooldownPrice">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.PortCostComponentHelper"
        id="com.mmxlabs.models.lng.pricing.presentation.composites.PortCostComponentHelper"
        inheritable="true"        
        modelClass="com.mmxlabs.models.lng.pricing.PortCost">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.CommodityCurveComponentHelper"
        id="com.mmxlabs.models.lng.pricing.presentation.composites.CommodityCurveComponentHelper"
        inheritable="true"        
        modelClass="com.mmxlabs.models.lng.pricing.CommodityCurve">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.CharterCurveComponentHelper"
        id="com.mmxlabs.models.lng.pricing.presentation.composites.CharterCurveComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.pricing.CharterCurve">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.BunkerFuelCurveComponentHelper"
        id="com.mmxlabs.models.lng.pricing.presentation.composites.BunkerFuelCurveComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.pricing.BunkerFuelCurve">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.AbstractYearMonthCurveComponentHelper"
        id="com.mmxlabs.models.lng.pricing.presentation.composites.AbstractYearMonthCurveComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.pricing.AbstractYearMonthCurve">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.PortsExpressionMapComponentHelper"
        id="com.mmxlabs.models.lng.pricing.presentation.composites.PortsExpressionMapComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.pricing.PortsExpressionMap">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.CurrencyCurveComponentHelper"
        id="com.mmxlabs.models.lng.pricing.presentation.composites.CurrencyIndexComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.pricing.CurrencyCurve">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.UnitConversionComponentHelper"
        id="com.mmxlabs.models.lng.pricing.presentation.composites.UnitConversionComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.pricing.UnitConversion">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.YearMonthPointComponentHelper"
        id="com.mmxlabs.models.lng.pricing.presentation.composites.YearMonthPointComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.pricing.YearMonthPoint">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.YearMonthPointContainerComponentHelper"
        id="com.mmxlabs.models.lng.pricing.presentation.composites.YearMonthPointContainerComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.pricing.YearMonthPointContainer">
  </componentHelper>
		
	</extension>
 <extension
       point="com.mmxlabs.models.ui.valueproviders">
    <valueProvider
          factory="com.mmxlabs.models.lng.pricing.ui.valueproviders.CharterIndexReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.pricing.ui.valueproviders.CharterIndexReferenceValueProviderFactory"
          referenceEClass="com.mmxlabs.models.lng.pricing.CharterCurve">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.pricing.ui.valueproviders.CommodityIndexReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.pricing.ui.valueproviders.CommodityIndexReferenceValueProviderFactory"
          referenceEClass="com.mmxlabs.models.lng.pricing.CommodityCurve">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.pricing.ui.valueproviders.BaseFuelIndexReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.pricing.ui.valueproviders.BaseFuelIndexReferenceValueProviderFactory"
          referenceEClass="com.mmxlabs.models.lng.pricing.BunkerFuelCurve">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.pricing.ui.valueproviders.CurrencyIndexReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.pricing.ui.valueproviders.CurrencyIndexReferenceValueProviderFactory"
          referenceEClass="com.mmxlabs.models.lng.pricing.CurrencyCurve">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.pricing.ui.valueproviders.MarketIndexReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.pricing.ui.valueproviders.MarketIndexReferenceValueProviderFactory"
          referenceEClass="com.mmxlabs.models.lng.pricing.MarketIndex">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.pricing.ui.valueproviders.HolidayCalendarReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.pricing.ui.valueproviders.HolidayCalendarReferenceValueProviderFactory"
          referenceEClass="com.mmxlabs.models.lng.pricing.HolidayCalendar">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.pricing.ui.valueproviders.PricingCalendarReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.pricing.ui.valueproviders.PricingCalendarReferenceValueProviderFactory"
          referenceEClass="com.mmxlabs.models.lng.pricing.PricingCalendar">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.pricing.ui.valueproviders.SettleStrategyReferenceValueProviderFactory"
          id="com.mmxlabs.models.lng.pricing.ui.valueproviders.SettleStrategyReferenceValueProviderFactory"
          referenceEClass="com.mmxlabs.models.lng.pricing.SettleStrategy">
    </valueProvider>
 </extension>
 <extension
       point="com.mmxlabs.models.util.import.submodels">
    <submodelImporter
          ID="com.mmxlabs.models.lng.pricing.editor.pricingModelImporter"
          subModelClassName="com.mmxlabs.models.lng.pricing.PricingModel"
          subModelImporterClass="com.mmxlabs.models.lng.pricing.importers.PricingModelImporter">
    </submodelImporter>
    <submodelImporter
          ID="com.mmxlabs.models.lng.pricing.editor.costModelImporter"
          subModelClassName="com.mmxlabs.models.lng.pricing.CostModel"
          subModelImporterClass="com.mmxlabs.models.lng.pricing.importers.CostModelImporter">
    </submodelImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.jointmodeleditors">
    <jointModelEditor
          id="com.mmxlabs.models.lng.pricing.editor.pricingModelEditor"
          implementation="com.mmxlabs.models.lng.pricing.ui.editorpart.PricingModelEditorContribution"
          priority="60"
          subModelClass="com.mmxlabs.models.lng.pricing.PricingModel">
    </jointModelEditor>
 </extension>
 <extension
       point="com.mmxlabs.models.util.import.classes">
    <classImporter
          ID="com.mmxlabs.models.lng.pricing.editor.dataIndexImporter"
          classImporterClass="com.mmxlabs.models.lng.pricing.importers.DataIndexImporter"
          eClassName="com.mmxlabs.models.lng.pricing.DataIndex"
          inheritable="false">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.pricing.importers.CommodityIndexImporter"
          classImporterClass="com.mmxlabs.models.lng.pricing.importers.CommodityIndexImporter"
          eClassName="com.mmxlabs.models.lng.pricing.CommodityCurve"
          inheritable="false">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.pricing.importers.BaseFuelIndexImporter"
          classImporterClass="com.mmxlabs.models.lng.pricing.importers.BaseFuelIndexImporter"
          eClassName="com.mmxlabs.models.lng.pricing.BunkerFuelCurve"
          inheritable="false">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.pricing.importers.CharterIndexImporter"
          classImporterClass="com.mmxlabs.models.lng.pricing.importers.CharterIndexImporter"
          eClassName="com.mmxlabs.models.lng.pricing.CharterCurve"
          inheritable="false">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.pricing.importers.CurrencyIndexImporter"
          classImporterClass="com.mmxlabs.models.lng.pricing.importers.CurrencyIndexImporter"
          eClassName="com.mmxlabs.models.lng.pricing.CurrencyCurve"
          inheritable="false">
    </classImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.modelfactories">
    <factory
          ID="com.mmxlabs.models.lng.pricing.editor.expressionFactory"
           factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Commodity Curve"
          targetEClass="com.mmxlabs.models.lng.pricing.CommodityCurve">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.editor.cooldownPricing"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Cooldown Price"
          targetEClass="com.mmxlabs.models.lng.pricing.CooldownPrice">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.PortCost.defaultFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Port Cost"
          targetEClass="com.mmxlabs.models.lng.pricing.PortCost">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.RouteCost.defaultFactory"
          factory="com.mmxlabs.models.lng.pricing.ui.modelfactories.RouteCostModelFactory"
          label="Canal Cost"
          targetEClass="com.mmxlabs.models.lng.pricing.RouteCost">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.editor.charterIndex"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Charter Index"
          targetEClass="com.mmxlabs.models.lng.pricing.CharterCurve">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.editor.baseFuelIndex"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Bunker Fuel Curve"
          targetEClass="com.mmxlabs.models.lng.pricing.BunkerFuelCurve">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.editor.currencyIndexFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Currency Curve"
          targetEClass="com.mmxlabs.models.lng.pricing.CurrencyCurve">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.editor.factory.UnitConversion"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Conversion Factor"
          targetEClass="com.mmxlabs.models.lng.pricing.UnitConversion">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.MarketIndex.defaultFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Market Index"
          targetEClass="com.mmxlabs.models.lng.pricing.MarketIndex">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.SettleStrategy.defaultFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Settle Strategy"
          targetEClass="com.mmxlabs.models.lng.pricing.SettleStrategy">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.PricingCalendar.defaultFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Pricing Calendar"
          targetEClass="com.mmxlabs.models.lng.pricing.PricingCalendar">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.PricingCalendarEntry.defaultFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Pricing Calendar Entry"
          targetEClass="com.mmxlabs.models.lng.pricing.PricingCalendarEntry">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.HolidayCalendar.defaultFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Holiday Calendar"
          targetEClass="com.mmxlabs.models.lng.pricing.HolidayCalendar">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.pricing.HolidayCalendarEntry.defaultFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Holiday Calendar Entry"
          targetEClass="com.mmxlabs.models.lng.pricing.HolidayCalendarEntry">
    </factory>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.componenthelpers">
    <componentHelper
          helperClass="com.mmxlabs.models.lng.pricing.composite_inject.BaseFuelPriceInjector"
          id="com.mmxlabs.models.lng.pricing.editor.basePriceInjector"
          inheritable="false"
          modelClass="com.mmxlabs.models.lng.fleet.BaseFuel">
    </componentHelper>
    <componentHelper
          helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.PanamaCanalTariffComponentHelper"
          id="com.mmxlabs.models.lng.pricing.presentation.composites.PanamaCanalTariffComponentHelper"
          inheritable="true"
          modelClass="com.mmxlabs.models.lng.pricing.PanamaCanalTariff">
    </componentHelper>
    <componentHelper
          helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.SuezCanalTariffComponentHelper"
          id="com.mmxlabs.models.lng.pricing.SuezCanalTariff"
          inheritable="true"
          modelClass="com.mmxlabs.models.lng.pricing.SuezCanalTariff">
    </componentHelper>
    <componentHelper
          helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.MarketIndexComponentHelper"
          id="com.mmxlabs.models.lng.pricing.presentation.composites.MarketIndexComponentHelper"
          inheritable="true"
          modelClass="com.mmxlabs.models.lng.pricing.MarketIndex">
    </componentHelper>
    <componentHelper
          helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.SettleStrategyComponentHelper"
          id="com.mmxlabs.models.lng.pricing.presentation.composites.SettleStrategyComponentHelper"
          inheritable="true"
          modelClass="com.mmxlabs.models.lng.pricing.SettleStrategy">
    </componentHelper>
    <componentHelper
		id="com.mmxlabs.models.lng.pricing.presentation.composites.HolidayCalendarComponentHelper"
		helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.HolidayCalendarComponentHelper"
		inheritable="true"
		modelClass="com.mmxlabs.models.lng.pricing.HolidayCalendar">
    </componentHelper>
    <componentHelper
		id="com.mmxlabs.models.lng.pricing.presentation.composites.HolidayCalendarEntryComponentHelper"
		helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.HolidayCalendarEntryComponentHelper"
		inheritable="true"
		modelClass="com.mmxlabs.models.lng.pricing.HolidayCalendarEntry">
    </componentHelper>
    <componentHelper
		id="com.mmxlabs.models.lng.pricing.presentation.composites.PricingCalendarComponentHelper"
		helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.PricingCalendarComponentHelper"
		inheritable="true"
		modelClass="com.mmxlabs.models.lng.pricing.PricingCalendar">
    </componentHelper>
    <componentHelper
		id="com.mmxlabs.models.lng.pricing.presentation.composites.PricingCalendarEntryComponentHelper"
		helperClass="com.mmxlabs.models.lng.pricing.presentation.composites.PricingCalendarEntryComponentHelper"
		inheritable="true"
		modelClass="com.mmxlabs.models.lng.pricing.PricingCalendarEntry">
    </componentHelper>
 </extension>
 <extension
       point="com.mmxlabs.models.util.import.classes">
    <classImporter
          ID="com.mmxlabs.models.lng.pricing.editor.portCostImporter"
          classImporterClass="com.mmxlabs.models.lng.pricing.importers.PortCostImporter"
          eClassName="com.mmxlabs.models.lng.pricing.PortCost"
          inheritable="true">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.pricing.editor.indexImporter"
          classImporterClass="com.mmxlabs.models.lng.pricing.importers.DataIndexImporter"
          eClassName="com.mmxlabs.models.lng.pricing.Index"
          inheritable="true">
    </classImporter>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          category="com.mmxlabs.lngdataserver.views.dataserver"
          class="com.mmxlabs.models.lng.pricing.ui.views.CooldownCostsView"
          id="com.mmxlabs.models.lng.pricing.editor.CooldownCostsView"
          name="Cooldown Costs"
          icon="platform:/plugin/com.mmxlabs.rcp.common/icons/16x16/table.png"
          restorable="true">
    </view>
    <view
          category="com.mmxlabs.lngdataserver.views.dataserver"
          class="com.mmxlabs.models.lng.pricing.ui.views.PortCostsView"
          id="com.mmxlabs.models.lng.pricing.editor.PortCostsView"
          name="Port Costs"
          icon="platform:/plugin/com.mmxlabs.rcp.common/icons/16x16/table.png"
          restorable="true">
    </view>
    <view
          category="com.mmxlabs.lngdataserver.views.dataserver"
          class="com.mmxlabs.models.lng.pricing.ui.views.CanalCostsView"
          id="com.mmxlabs.models.lng.pricing.editor.CanalCostsView"
          name="Canal Costs"
          icon="platform:/plugin/com.mmxlabs.rcp.common/icons/16x16/table.png"
          restorable="true">
    </view>
 </extension>
 <extension
       point="com.mmxlabs.models.common.modelcommandprovider">
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.pricing.ui.commands.BaseFuelCostModelCommandProvider"
          id="com.mmxlabs.models.lng.pricing.ui.commands.BaseFuelCostModelCommandProvider">
    </ModelCommandProvider>
 </extension>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated pricing -->
      <editor
            id="com.mmxlabs.models.lng.pricing.presentation.PricingEditorID"
            name="%_UI_PricingEditor_label"
            icon="icons/full/obj16/PricingModelFile.gif"
            extensions="pricing"
            class="com.mmxlabs.models.lng.pricing.presentation.PricingEditor"
            contributorClass="com.mmxlabs.models.lng.pricing.presentation.PricingActionBarContributor">
      </editor>
   </extension>
   <extension
         point="com.mmxlabs.scenario.service.model.WrappedCommandExtension">
      <WrappedCommandExtension
            class="com.mmxlabs.models.lng.pricing.ui.commands.MarketCurvesVersionCommandWrapper">
      </WrappedCommandExtension>
      <WrappedCommandExtension
            class="com.mmxlabs.models.lng.pricing.ui.commands.SettledPricesVersionCommandWrapper">
      </WrappedCommandExtension>
   </extension>
   <extension
         point="com.mmxlabs.license.features.PluginXMLEnablement">
      <PluginXMLEnablement
            feature="paperdeals"
            plugin.xml="paperdeals.plugin.xml">
      </PluginXMLEnablement>
   </extension>
</plugin>
