<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Optimiser Target - (Luna)" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.annotation" version="0.0.0"/>
<unit id="org.eclipse.jdt.annotation.source" version="0.0.0"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4/R-4.4.2-201502041700/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/luna/201502271000"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.aopalliance" version="0.0.0"/>
<unit id="com.google.inject.source" version="0.0.0"/>
<unit id="com.google.inject" version="0.0.0"/>
<unit id="javax.inject" version="0.0.0"/>
<unit id="javax.inject.source" version="0.0.0"/>
<unit id="org.apache.commons.logging" version="0.0.0"/>
<unit id="org.apache.commons.logging.source" version="0.0.0"/>
<unit id="org.apache.commons.math" version="0.0.0"/>
<unit id="org.apache.commons.math.source" version="0.0.0"/>
<unit id="org.slf4j.api" version="0.0.0"/>
<unit id="org.slf4j.api.source" version="0.0.0"/>
<unit id="ch.qos.logback.classic" version="0.0.0"/>
<unit id="ch.qos.logback.classic.source" version="0.0.0"/>
<unit id="ch.qos.logback.core" version="0.0.0"/>
<unit id="ch.qos.logback.core.source" version="0.0.0"/>
<unit id="ch.qos.logback.slf4j" version="0.0.0"/>
<unit id="ch.qos.logback.slf4j.source" version="0.0.0"/>
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/orbit/orbit-buildrepo/R20150124073747/orbit-buildrepo-R20150124073747.zip-unzip/" id="mmxlabs-releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.googlecode.json-simple.source" version="0.0.0"/>
<unit id="com.googlecode.json-simple" version="0.0.0"/>
<unit id="com.google.guava" version="17.0.0"/>
<unit id="com.google.guava.source" version="17.0.0"/>
<unit id="org.ops4j.peaberry.activation.source" version="0.0.0"/>
<unit id="org.ops4j.peaberry.eclipse.source" version="0.0.0"/>
<unit id="org.ops4j.peaberry.source" version="0.0.0"/>
<unit id="org.ops4j.peaberry.activation" version="0.0.0"/>
<unit id="org.ops4j.peaberry" version="0.0.0"/>
<unit id="org.ops4j.peaberry.eclipse" version="0.0.0"/>
<unit id="org.mockito.mockito-all" version="1.9.5"/>
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/p2/repository/mmxlabs-external/1.0.9/mmxlabs-external-1.0.9-p2-repo.zip-unzip/" id="mmxlabs-releases"/>
</location>
</locations>
</target>
