<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2016
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


	
	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
		<componentHelper
			id="com.mmxlabs.models.lng.spotmarkets.helpers.SpotMarketsModel"
			helperClass="com.mmxlabs.models.lng.spotmarkets.presentation.composites.SpotMarketsModelComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.spotmarkets.SpotMarketsModel" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.spotmarkets.presentation.composites.CharterInMarketComponentHelper"
			helperClass="com.mmxlabs.models.lng.spotmarkets.presentation.composites.CharterInMarketComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.spotmarkets.CharterInMarket" />
  <componentHelper
        helperClass="com.mmxlabs.models.lng.spotmarkets.presentation.composites.CharterOutMarketComponentHelper"
        id="com.mmxlabs.models.lng.spotmarkets.presentation.composites.CharterOutMarketComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.spotmarkets.CharterOutMarket">
  </componentHelper>
		
		<componentHelper
			id="com.mmxlabs.models.lng.spotmarkets.helpers.SpotMarketGroup"
			helperClass="com.mmxlabs.models.lng.spotmarkets.presentation.composites.SpotMarketGroupComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.spotmarkets.SpotMarketGroup" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.spotmarkets.helpers.SpotMarket"
			helperClass="com.mmxlabs.models.lng.spotmarkets.presentation.composites.SpotMarketComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.spotmarkets.SpotMarket" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.spotmarkets.helpers.DESPurchaseMarket"
			helperClass="com.mmxlabs.models.lng.spotmarkets.presentation.composites.DESPurchaseMarketComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.spotmarkets.DESPurchaseMarket" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.spotmarkets.helpers.DESSalesMarket"
			helperClass="com.mmxlabs.models.lng.spotmarkets.presentation.composites.DESSalesMarketComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.spotmarkets.DESSalesMarket" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.spotmarkets.helpers.FOBPurchasesMarket"
			helperClass="com.mmxlabs.models.lng.spotmarkets.presentation.composites.FOBPurchasesMarketComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.spotmarkets.FOBPurchasesMarket" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.spotmarkets.helpers.FOBSalesMarket"
			helperClass="com.mmxlabs.models.lng.spotmarkets.presentation.composites.FOBSalesMarketComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.spotmarkets.FOBSalesMarket" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.spotmarkets.helpers.SpotAvailability"
			helperClass="com.mmxlabs.models.lng.spotmarkets.presentation.composites.SpotAvailabilityComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.spotmarkets.SpotAvailability" />
  <componentHelper
        helperClass="com.mmxlabs.models.lng.spotmarkets.presentation.composites.CharterOutStartDateComponentHelper"
        id="com.mmxlabs.models.lng.spotmarkets.presentation.composites.CharterOutStartDateComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.spotmarkets.CharterOutStartDate">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.spotmarkets.presentation.composites.SpotCharterMarketComponentHelper"
        id="com.mmxlabs.models.lng.spotmarkets.presentation.composites.SpotCharterMarketComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.spotmarkets.SpotCharterMarket">
  </componentHelper>
		
	</extension>
  <extension
       point="com.mmxlabs.models.util.import.attributes">
    <attributeImporter
          ID="com.mmxlabs.models.lng.spotmarkets.editor.SpotTypeAttributeImporter"
          attributeImporterClass="com.mmxlabs.models.util.importer.impl.DefaultAttributeImporter">
       <dataType
             attributeTypeName="SpotType"
             attributeTypeURI="http://www.mmxlabs.com/models/lng/spotmarkets/1/">
       </dataType>
    </attributeImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.util.import.classes">
    <classImporter
          ID="com.mmxlabs.models.lng.spotmarkets.editor.importers.SpotMarketImporter"
          classImporterClass="com.mmxlabs.models.lng.spotmarkets.editor.importers.SpotMarketImporter"
          eClassName="com.mmxlabs.models.lng.spotmarkets.SpotMarket"
          inheritable="true">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.spotmarkets.editor.importers.SpotAvailabilityImporter"
          classImporterClass="com.mmxlabs.models.lng.spotmarkets.editor.importers.SpotAvailabilityImporter"
          eClassName="com.mmxlabs.models.lng.spotmarkets.SpotAvailability"
          inheritable="true">
    </classImporter>

 </extension>
 <extension
       point="com.mmxlabs.models.ui.modelfactories">
    <factory
          ID="com.mmxlabs.models.lng.spotmarkets.editor.modelfactories.SpotMarketFactory"
          factory="com.mmxlabs.models.lng.spotmarkets.editor.modelfactories.SpotMarketFactory"
          label="Price Expression Spot Market"
          outputEClass="com.mmxlabs.models.lng.commercial.ExpressionPriceParameters"          
          targetEClass="com.mmxlabs.models.lng.spotmarkets.SpotMarket">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.spotmarkets.editor.CharterInMarketFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Spot Charter In Market"
          targetEClass="com.mmxlabs.models.lng.spotmarkets.CharterInMarket">
    </factory>
	<factory
          ID="com.mmxlabs.models.lng.spotmarkets.editor.CharterOutMarketFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Spot Charter Out Market"
          targetEClass="com.mmxlabs.models.lng.spotmarkets.CharterOutMarket">
    </factory>    
 </extension>
 <extension
       point="com.mmxlabs.models.ui.jointmodeleditors">
    <jointModelEditor
          id="com.mmxlabs.models.lng.spotmarkets.editor.spotmarketseditor"
          implementation="com.mmxlabs.models.lng.spotmarkets.editor.editorpart.SpotMarketsModelEditorContribution"
          priority="70"
          subModelClass="com.mmxlabs.models.lng.spotmarkets.SpotMarketsModel">
    </jointModelEditor>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.valueproviders">
    <valueProvider
          factory="com.mmxlabs.models.lng.spotmarkets.editor.valueproviders.SpotMarketPortValueProviderFactory"
          id="com.mmxlabs.models.lng..editorspotmarkets.valueproviders.SpotMarketPortValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.spotmarkets.SpotMarket"
          referenceEClass="com.mmxlabs.models.lng.port.Port">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.spotmarkets.editor.valueproviders.SpotMarketsCharterValueProviderFactory"
          id="com.mmxlabs.models.lng.spotmarkets.editor.valueproviders.SpotMarketsCharterValueProviderFactory_CharterInMarket"
          referenceEClass="com.mmxlabs.models.lng.spotmarkets.CharterInMarket">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.spotmarkets.editor.valueproviders.SpotMarketsCharterValueProviderFactory"
          id="com.mmxlabs.models.lng.spotmarkets.editor.valueproviders.SpotMarketsCharterValueProviderFactory_CharterOutMarket"
          referenceEClass="com.mmxlabs.models.lng.spotmarkets.CharterOutMarket">
    </valueProvider>
 </extension>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated spotmarkets -->
      <editor
            id="com.mmxlabs.models.lng.spotmarkets.presentation.SpotMarketsEditorID"
            name="%_UI_SpotMarketsEditor_label"
            icon="icons/full/obj16/SpotMarketsModelFile.gif"
            extensions="spotmarkets"
            class="com.mmxlabs.models.lng.spotmarkets.presentation.SpotMarketsEditor"
            contributorClass="com.mmxlabs.models.lng.spotmarkets.presentation.SpotMarketsActionBarContributor">
      </editor>
   </extension>
   <extension
         point="com.mmxlabs.models.util.import.submodels">
      <submodelImporter
            ID="com.mmxlabs.models.lng.spotmarkets.editor.importers.SpotMarketsModelImporter"
            subModelClassName="com.mmxlabs.models.lng.spotmarkets.SpotMarketsModel"
            subModelImporterClass="com.mmxlabs.models.lng.spotmarkets.editor.importers.SpotMarketsModelImporter">
      </submodelImporter>
   </extension>

</plugin>
