<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2016
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="FeatureEnablement" name="FeatureEnablement" schema="schema/FeatureEnablement.exsd"/>
   <extension-point id="PluginXMLEnablement" name="PluginXMLEnablement" schema="schema/PluginXMLEnablement.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.mmxlabs.license.features.properties.FeatureEnablementPropertyTester"
            id="com.mmxlabs.license.features.enablement"
            namespace="com.mmxlabs.license.features"
            properties="enablement"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
