<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
	 <extension
	   point="com.mmxlabs.lngdataserver.browser.ui.DataBrowserExtension">
		<DataBrowserExtension
		      class="com.mmxlabs.lngdataserver.integration.pricing.PricingDataExtension">
		</DataBrowserExtension>
	 </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="com.mmxlabs.lngdataserver.integration.pricing.preferences.PreferenceInitializer">
     </initializer>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="com.mmxlabs.lngdataserver.server.DataserverPreferencePage"
           class="com.mmxlabs.lngdataserver.integration.pricing.preferences.PricingRepositoryPreferencesPage"
           id="com.mmxlabs.lngdataserver.integration.pricing.preferences.PricingRepositoryPreferencesPage"
           name="Pricing service">
     </page>
  </extension>
</plugin>
