<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>



	
	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
		<componentHelper
			id="com.mmxlabs.models.lng.commercial.helpers.CommercialModel"
			helperClass="com.mmxlabs.models.lng.commercial.presentation.composites.CommercialModelComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.commercial.CommercialModel" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.commercial.helpers.LegalEntity"
			helperClass="com.mmxlabs.models.lng.commercial.presentation.composites.LegalEntityComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.commercial.LegalEntity" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.commercial.helpers.Contract"
			helperClass="com.mmxlabs.models.lng.commercial.presentation.composites.ContractComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.commercial.Contract" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.commercial.helpers.SalesContract"
			helperClass="com.mmxlabs.models.lng.commercial.presentation.composites.SalesContractComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.commercial.SalesContract" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.commercial.helpers.PurchaseContract"
			helperClass="com.mmxlabs.models.lng.commercial.presentation.composites.PurchaseContractComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.commercial.PurchaseContract" />
  <componentHelper
        helperClass="com.mmxlabs.models.lng.commercial.presentation.composites.IndexPriceContractComponentHelper"
        id="com.mmxlabs.models.lng.commercial.editor.indexPriceHelper"
        inheritable="false"
        modelClass="com.mmxlabs.models.lng.commercial.IndexPriceContract">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.commercial.presentation.composites.FixedPriceContractComponentHelper"
        id="com.mmxlabs.models.lng.commercial.editor.fixedPriceHelper"
        inheritable="false"
        modelClass="com.mmxlabs.models.lng.commercial.FixedPriceContract">
  </componentHelper>

  <componentHelper
        helperClass="com.mmxlabs.models.lng.commercial.presentation.composites.RedirectionPurchaseContractComponentHelper"
        id="com.mmxlabs.models.lng.commercial.presentation.composites.RedirectionPurchaseContractComponentHelper"
        inheritable="false"
        modelClass="com.mmxlabs.models.lng.commercial.RedirectionPurchaseContract">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.commercial.presentation.composites.PriceExpressionContractComponentHelper"
        id="com.mmxlabs.models.lng.commercial.composites.PriceExpressionContract"
        inheritable="false"
        modelClass="com.mmxlabs.models.lng.commercial.PriceExpressionContract">
  </componentHelper>
	</extension>
 <extension
       point="com.mmxlabs.models.ui.valueproviders">
    <valueProvider
          factory="com.mmxlabs.models.lng.commercial.ui.valueproviders.PreferredPortProviderFactory"
          id="com.mmxlabs.models.lng.commercial.ui.valueproviders.PreferredPortProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.types.AContract"
          referenceEClass="com.mmxlabs.models.lng.types.APort">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.commercial.ui.valueproviders.CommercialProviderFactory"
          id="com.mmxlabs.models.lng.commercial.editor.contractProvider"
          referenceEClass="com.mmxlabs.models.lng.types.AContract">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.commercial.ui.valueproviders.CommercialProviderFactory"
          id="com.mmxlabs.models.lng.commercial.editor.entityProvider"
          referenceEClass="com.mmxlabs.models.lng.types.ALegalEntity">
    </valueProvider>
 </extension>
 <extension
       point="com.mmxlabs.models.util.import.submodels">
    <submodelImporter
          ID="com.mmxlabs.models.lng.commercial.editor.commercialModelImporter"
          subModelClassName="com.mmxlabs.models.lng.commercial.CommercialModel"
          subModelImporterClass="com.mmxlabs.models.lng.commercial.importer.CommercialModelImporter">
    </submodelImporter>
 </extension>
  <extension
       point="com.mmxlabs.models.util.import.classes">
    <classImporter
          ID="com.mmxlabs.models.lng.commercial.editor.legalEntityImporter"
          classImporterClass="com.mmxlabs.models.lng.commercial.importer.LegalEntityImporter"
          eClassName="com.mmxlabs.models.lng.commercial.LegalEntity"
          inheritable="false">
    </classImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.jointmodeleditors">
    <jointModelEditor
          id="com.mmxlabs.models.lng.commercial.editor.jointModelEditorContribution"
          implementation="com.mmxlabs.models.lng.commercial.ui.editorpart.CommercialModelEditorContribution"
          priority="50"
          subModelClass="com.mmxlabs.models.lng.commercial.CommercialModel">
    </jointModelEditor>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.modelfactories">
    <factory
          ID="com.mmxlabs.models.lng.commercial.editor.fixedPurchaseFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Fixed Purchase Contract"
          outputEClass="com.mmxlabs.models.lng.commercial.FixedPriceContract"
          targetEClass="com.mmxlabs.models.lng.commercial.PurchaseContract">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.commercial.editor.fixedSalesFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Fixed Sales Contract"
          outputEClass="com.mmxlabs.models.lng.commercial.FixedPriceContract"
          targetEClass="com.mmxlabs.models.lng.commercial.SalesContract">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.commercial.editor.indexPurchaseFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Indexed Purchase Contract"
          outputEClass="com.mmxlabs.models.lng.commercial.IndexPriceContract"
          targetEClass="com.mmxlabs.models.lng.commercial.PurchaseContract">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.commercial.editor.indexSalesFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Indexed Sales Contract"
          outputEClass="com.mmxlabs.models.lng.commercial.IndexPriceContract"
          targetEClass="com.mmxlabs.models.lng.commercial.SalesContract">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.commercial.editor.entityFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Entity"
          targetEClass="com.mmxlabs.models.lng.commercial.LegalEntity">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.commercial.editor.RedirectionPurchaseContractFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Redirection Purchase Contract"
          outputEClass="com.mmxlabs.models.lng.commercial.RedirectionPurchaseContract"
          targetEClass="com.mmxlabs.models.lng.commercial.PurchaseContract">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.commercial.editor.priceExpressionPurchaseFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Price Expression Purchase Contract"
          outputEClass="com.mmxlabs.models.lng.commercial.PriceExpressionContract"
          targetEClass="com.mmxlabs.models.lng.commercial.PurchaseContract">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.commercial.editor.priceExpressionSalesFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Price Expression Sales Contract"
          outputEClass="com.mmxlabs.models.lng.commercial.PriceExpressionContract"
          targetEClass="com.mmxlabs.models.lng.commercial.SalesContract">
    </factory>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.displaycompositefactories">
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.commercial.LegalEntity"
          factory="com.mmxlabs.models.lng.commercial.ui.displaycomposites.LegalEntityDisplayCompositeFactory"
          id="com.mmxlabs.models.lng.commercial.ui.displaycomposites.LegalEntityDisplayCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
 </extension>

 <extension
       point="com.mmxlabs.models.ui.displaycompositefactories">
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.commercial.Contract"
          factory="com.mmxlabs.models.lng.commercial.ui.displaycomposites.ContractCompositeFactory"
          id="com.mmxlabs.models.lng.commercial.ui.displaycomposites.ContractCompositeFactory_Contract"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.commercial.SalesContract"
          factory="com.mmxlabs.models.lng.commercial.ui.displaycomposites.ContractCompositeFactory"
          id="com.mmxlabs.models.lng.commercial.ui.displaycomposites.ContractCompositeFactory_SalesContract"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.commercial.PurchaseContract"
          factory="com.mmxlabs.models.lng.commercial.ui.displaycomposites.ContractCompositeFactory"
          id="com.mmxlabs.models.lng.commercial.ui.displaycomposites.ContractCompositeFactory_PurchaseContract"
          inheritable="true">
    </displayCompositeFactory>
 </extension>
</plugin>
