<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2023
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mmxlabs.license.ssl.preferences.LicenseInformation"
            id="com.mmxlabs.license.ssl.preferences.LicenseInformation"
            name="License"
            category="com.mmxlabs.lingo.app.preferences.InformationPreferencesPage">
      </page>
   </extension>
 
</plugin>
