<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2022
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ReplaceableViewFactory" name="ReplaceableViewFactory" schema="schema/ReplaceableViewFactory.exsd"/>
   <extension-point id="ReplaceableView" name="ReplaceableView" schema="schema/ReplaceableView.exsd"/>
   <extension-point id="ViewPartRewrite" name="ViewPartRewrite" schema="schema/ViewPartRewrite.exsd"/>
   <extension-point id="DebugOptionsProvider" name="DebugOptionsProvider" schema="schema/DebugOptionsProvider.exsd"/>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.mmxlabs.rcp.common.viewContribution.CopyPropertySheetToClipboard"
            targetID="org.eclipse.ui.views.PropertySheet">
         <action
               class="com.mmxlabs.rcp.common.actions.CopyPropertySheetToClipboardActionDelegate"
               icon="icons:/icons/16x16/copy.png"
               id="com.mmxlabs.rcp.common.actions.CopyPropertySheetToClipboardActionDelegate"
               label="Copy to Clipboard"
               style="push"
               toolbarPath="additions"
               tooltip="Copy to Clipboard">
         </action>
      </viewContribution>
   </extension>
   <extension
         id="id3"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.mmxlabs.rcp.common.openview"
            name="Open View">
         <commandParameter
               id="view.id"
               name="ID of part to open"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.mmxlabs.rcp.common.handlers.TodayHandler"
            id="com.mmxlabs.rcp.common.TodayHandler"
            name="Snap to today"
            icon="icons:/icons/24x24/today.png">
      </command>
   </extension>
    <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
	          locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
       <toolbar
             id="com.mmxlabs.models.lng.analytics.editor.toolbarSnapToToday">
          <command
                commandId="com.mmxlabs.rcp.common.TodayHandler"
                label="Today"
            	icon="icons:/icons/24x24/today.png"
            	disabledIcon="icons:/icons/24x24/today_disabled.png"
                style="push">
          </command>
       </toolbar>
    </menuContribution>
 	</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mmxlabs.rcp.common.os.MachineInformation"
            id="com.mmxlabs.rcp.common.os.MachineInformation"
            name="Machine Information">
      </page>
      <page
            class="com.mmxlabs.rcp.common.debug.impl.DebugOptionsPreferencePage"
            id="com.mmxlabs.rcp.common.debug.impl.DebugOptionsPreferencePage"
            name="Debug logging options">
      </page>
      <page
            name="General"
            class="com.mmxlabs.rcp.common.generalprefs.LingoGeneralPreferencesPage"
            id="org.eclipse.ui.preferencePages.Workbench">
      </page>
   </extension>

</plugin>
