<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2012
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.mmxlabs.trading.integration.transformer"
         point="com.mmxlabs.lngscheduler.transformer">
      <Transformer
            transformer="com.mmxlabs.trading.integration.TradingTransformerExtension">
      </Transformer>
      <Transformer
            transformer="com.mmxlabs.trading.integration.StandardContractTransformer">
         <modelclass
               class=" com.mmxlabs.models.lng.commercial.NetbackPurchaseContract">
         </modelclass>
         <modelclass
               class="com.mmxlabs.models.lng.commercial.ProfitSharePurchaseContract">
         </modelclass>
      </Transformer>
   </extension>
   <extension
         id="com.mmxlabs.trading.integration.exporter"
         name="Trading Exporter"
         point="com.mmxlabs.lngscheduler.exporter">
      <ExportExtension
            exporter="com.mmxlabs.trading.integration.TradingExporterExtension">
      </ExportExtension>
   </extension>

</plugin>
