<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.mmxlabs.models.mmxcore.uigenerator"
         name="MMX UI Generator"
         point="org.eclipse.emf.codegen.ecore.generatorAdapters">
      <adapter
            class="com.mmxlabs.models.mmxcore.template.MMXUIGeneratorAdapterFactory"
            modelClass="GenPackage"
            modelPackage="http://www.eclipse.org/emf/2002/GenModel">
      </adapter>
   </extension>

</plugin>
