<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2012
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.handlers">
       <handler
             class="com.mmxlabs.shiplingo.platform.models.optimisation.jobmanager.handlers.SaveOptimisationJobHandler"
             commandId="com.mmxlabs.shiplingo.platform.models.manifest.optimisation.commands.SaveOptimisationJob">
          <enabledWhen>
             <or>
                <iterate
                      ifEmpty="false"
                      operator="or">
                   <instanceof
                         value="com.mmxlabs.shiplingo.platform.models.optimisation.LNGSchedulerJobDescriptor">
                   </instanceof>
                </iterate>
             </or>
          </enabledWhen>
       </handler>
   </extension>
<extension
            point="org.eclipse.ui.handlers">
         <handler
               class="com.mmxlabs.shiplingo.platform.models.optimisation.navigator.handlers.StartOptimisationHandler"
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.play">
            <enabledWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="scn">
                        </test>
                     </and>
                  </iterate>
               </or>
            </enabledWhen>
            <activeWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="scn">
                        </test>
                     </and>
                  </iterate>
               </or>
            </activeWhen>
            <!--
            <activeWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                        <or>
                     
                     
                     <instanceof
                           value="scenario.Scenario">
                     </instanceof>
                     <adapt
                           type="com.mmxlabs.rcp.navigator.RandomTreeNodeClass">

                     </adapt>
                     </or>
                  </iterate>
               </or>
            </activeWhen>
            -->
         </handler>
         <handler
               class="com.mmxlabs.shiplingo.platform.models.optimisation.navigator.handlers.StopOptimisationHandler"
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.terminate">
            <enabledWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="scn">
                        </test>
                     </and>
                  </iterate>
               </or>
            </enabledWhen>
            <activeWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="scn">
                        </test>
                     </and>
                  </iterate>
               </or>
            </activeWhen>
         </handler>
         <handler
               class="com.mmxlabs.shiplingo.platform.models.optimisation.navigator.handlers.PauseOptimisationHandler"
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.pause">
            <enabledWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="scn">
                        </test>
                     </and>
                  </iterate>
               </or>
            </enabledWhen>
            <activeWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="scn">
                        </test>
                     </and>
                  </iterate>
               </or>
            </activeWhen>
         </handler>
         <handler
               class="com.mmxlabs.shiplingo.platform.models.optimisation.navigator.handlers.SaveOptimisationHandler"
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.save">
            <enabledWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="scn">
                        </test>
                     </and>
                  </iterate>
               </or>
            </enabledWhen>
            <activeWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="scn">
                        </test>
                     </and>
                  </iterate>
               </or>
            </activeWhen>
         </handler>
         <handler
               class="com.mmxlabs.shiplingo.platform.models.optimisation.navigator.handlers.EvaluateOptimisationHandler"
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.evaluate">
            <enabledWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="scn">
                        </test>
                     </and>
                  </iterate>
               </or>
            </enabledWhen>
            <activeWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="scn">
                        </test>
                     </and>
                  </iterate>
               </or>
            </activeWhen>
         </handler>
         <handler
               class="com.mmxlabs.shiplingo.platform.models.optimisation.navigator.handlers.DeriveOptimisationHandler"
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.derive">
            <enabledWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="scn">
                        </test>
                     </and>
                  </iterate>
               </or>
            </enabledWhen>
            <activeWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="scn">
                        </test>
                     </and>
                  </iterate>
               </or>
            </activeWhen>
         </handler>
      </extension>

<extension
         point="org.eclipse.ui.commands">
         <category
            id="com.mmxlabs.shiplingo.platform.models.manifest.optimisation.commands.category"
            name="Optimisation Commands">
      </category>
   
      <command
            categoryId="com.mmxlabs.shiplingo.platform.models.manifest.optimisation.commands.category"
            id="com.mmxlabs.shiplingo.platform.models.manifest.optimisation.commands.SaveOptimisationJob"
            name="Save Optimisation Job">
      </command>
   </extension>
   
   <extension
         id="toolbar:com.mmxlabs.jobcontroller.views.JobManager"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.mmxlabs.jobcontroller.views.JobManager">
         <command
               commandId="com.mmxlabs.shiplingo.platform.models.manifest.optimisation.commands.SaveOptimisationJob"
               disabledIcon="icons/dtool16/saveas_edit.gif"
               icon="icons/etool16/saveas_edit.gif"
               label="Save"
               style="push"
               tooltip="Save selected optimisation">
         </command>
      </menuContribution>
      
      
   </extension>
   
         <extension
            point="org.eclipse.core.runtime.adapters">
         <factory
               adaptableType="org.eclipse.core.resources.IResource"
               class="com.mmxlabs.shiplingo.platform.models.optimisation.navigator.scenario.ScenarioTreeNodeClassAdapterFactory">
            <adapter
                  type="com.mmxlabs.models.mmxcore.MMXRootObject">
            </adapter>
            <adapter
                  type="com.mmxlabs.models.lng.schedule.Schedule">
            </adapter>
            <adapter
                  type="com.mmxlabs.models.mmxcore.jointmodel.JointModel">
            </adapter>
            <!--
            <adapter
                  type="org.eclipse.core.resources.IResource">
            </adapter>
            <adapter
                  type="org.eclipse.core.resources.IContainer">
            </adapter>
            -->
         </factory>
         <factory
               adaptableType="org.eclipse.core.resources.IResource"
               class="com.mmxlabs.shiplingo.platform.models.optimisation.adapterfactories.LNGJobDescriptorAdapterFactory">
            <adapter
                  type="com.mmxlabs.jobmanager.jobs.IJobDescriptor">
            </adapter>
         </factory>
         <factory
               adaptableType="com.mmxlabs.shiplingo.platform.models.optimisation.LNGSchedulerJobDescriptor"
               class="com.mmxlabs.shiplingo.platform.models.optimisation.adapterfactories.LNGJobControlAdapterFactory">
            <adapter
                  type="com.mmxlabs.jobmanager.jobs.IJobControl">
            </adapter>
         </factory>
         <factory
               adaptableType="org.eclipse.core.resources.IResource"
               class="com.mmxlabs.shiplingo.platform.models.optimisation.adapterfactories.ScenarioValidationStatusAdapterFactory">
            <adapter
                  type="org.eclipse.core.runtime.IStatus">
            </adapter>
         </factory>
      </extension>
      
      <extension
         point="org.eclipse.ui.navigator.viewer">
      
      <viewerContentBinding
            viewerId="com.mmxlabs.rcp.navigator">
         <includes>
            
            <contentExtension
                  pattern="com.mmxlabs.shiplingo.platform.models.manifest.optimisation.navigator.scenario.ScenarioContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
     
       <navigatorContent
            activeByDefault="true"
            contentProvider="com.mmxlabs.shiplingo.platform.models.optimisation.navigator.scenario.ScenarioContentProvider"
            id="com.mmxlabs.shiplingo.platform.models.manifest.optimisation.navigator.scenario.ScenarioContent"
            labelProvider="com.mmxlabs.shiplingo.platform.models.optimisation.navigator.scenario.ScenarioLabelProvider"
            name="Scenario Content Provider"
            priority="highest">
         <triggerPoints>
            <or>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.extension"
                     value="scn">
               </test>
            </or></triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   
</plugin>
