<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
<extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mmxlabs.lngdataserver.integration.distances.preferences.DistancesRepositoryPreferencesPage"
            id="com.mmxlabs.lngdataserver.repository.csv.preference.DistancesRepositoryPreferencesPage"
            name="Distances Service">
      </page>
   </extension>
      <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.mmxlabs.lngdataserver.integration.distances.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   	 <extension
	   point="com.mmxlabs.lngdataserver.browser.ui.DataBrowserExtension">
		<DataBrowserExtension
		      class="com.mmxlabs.lngdataserver.integration.distances.DistancesDataExtension">
		</DataBrowserExtension>
	 </extension>
</plugin>
