<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.mmxlabs.shiplingo.platform.app.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.mmxlabs.shiplingo.platform.app.intro.EditingPerspective"
            icon="icons/editor_area.gif"
            id="com.mmxlabs.shiplingo.platform.app.perspective.editing"
            name="Data">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.mmxlabs.shiplingo.platform.app.application"
            name="ShipLiNGO">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif">
         </property>
         <property
               name="appName"
               value="ShipLiNGO">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="20,220,440,20">
         </property>
         <property
               name="startupProgressRect"
               value="20,210,440,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="aboutImage.gif">
         </property>
         <property
               name="aboutText"
               value="Ship Lingo Platform&#x0A;Version {0}">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.mmxlabs.shiplingo.platform.app.intro">
      </intro>
      <introProductBinding
            introId="com.mmxlabs.shiplingo.platform.app.intro"
            productId="com.mmxlabs.shiplingo.platform.app.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.mmxlabs.shiplingo.platform.app.intro"
            content="introContent.xml"
            id="com.mmxlabs.shiplingo.platform.app.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="ext.xml"
            configId="com.mmxlabs.shiplingo.platform.app.configId">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="com.mmxlabs.scenario.service.ui.navigator"
               minimized="false"
               moveable="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true">
         </view>
         <viewShortcut
               id="com.mmxlabs.scenario.service.ui.navigator">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <defaultEnablement
            id="com.mmxlabs.shiplingo.platform.app.default.activity">
      </defaultEnablement>
      <activity
            id="com.mmxlabs.shiplingo.platform.app.default.activity"
            name="Default Enablements">
      </activity>
      <activityPatternBinding
            activityId="com.mmxlabs.shiplingo.platform.app.default.activity"
            isEqualityPattern="false"
            pattern="com.mmxlabs.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.shiplingo.platform.app.default.activity"
            isEqualityPattern="false"
            pattern="org.eclipse.*update.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.shiplingo.platform.app.default.activity"
            pattern="org.eclipse.*p2.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.shiplingo.platform.app.default.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.views/org.eclipse.ui.views.PropertySheet">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.shiplingo.platform.app.default.activity"
            isEqualityPattern="false"
            pattern=".*/org.eclipse.ui">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.shiplingo.platform.app.default.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.views.log/org.eclipse.pde.runtime.LogView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.shiplingo.platform.app.default.activity"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.*/org.eclipse.ui.net.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.shiplingo.platform.app.default.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.preferencePages.Workbench">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.mmxlabs.shiplingo.platform.app.eclipse.activity"
            name="Suppressed Eclipse Bindings">
      </activity>
      <activityPatternBinding
            activityId="com.mmxlabs.shiplingo.platform.app.eclipse.activity"
            isEqualityPattern="false"
            pattern="org.eclipse.*/.*">
      </activityPatternBinding>
   </extension>
 


</plugin>
