<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Models UI Target (Indigo)" sequenceNumber="1">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/common/com.mmxlabs.common.util.p2/2.6.1.RELEASE/com.mmxlabs.common.util.p2-2.6.1.RELEASE.zip-unzip/" id="com-mmxlabs-common-util.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/jobmanager/com.mmxlabs.jobmanager.p2/3.5.1-SNAPSHOT/com.mmxlabs.jobmanager.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-jobmanager.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/models/mmxcore/com.mmxlabs.models.mmxcore.p2/5.0.0.RELEASE/com.mmxlabs.models.mmxcore.p2-5.0.0.RELEASE.zip-unzip/" id="com-mmxlabs-models-mmxcore.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/rcp/common/com.mmxlabs.rcp.common.p2/3.5.1-SNAPSHOT/com.mmxlabs.rcp.common.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-rcp-common.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/scenario/service/com.mmxlabs.scenario.service.p2/3.5.1-SNAPSHOT/com.mmxlabs.scenario.service.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-scenario-service.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/models/migration/com.mmxlabs.models.migration.p2/3.5.1-SNAPSHOT/com.mmxlabs.models.migration.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-models-migration.hg"/>
</location>
</locations>
</target>
