<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2012
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.mmxlabs.scenario.service.ui.navigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.mmxlabs.scenario.service.ui.navigatorContent">
            </contentExtension>            
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.mmxlabs.scenario.service.ui.navigator.ScenarioServiceNavigator"
            id="com.mmxlabs.scenario.service.ui.navigator"
            name="Scenario Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.mmxlabs.scenario.service.ui.navigator.ScenarioServiceContentProvider"
            id="com.mmxlabs.scenario.service.ui.navigatorContent"
            labelProvider="com.mmxlabs.scenario.service.ui.navigator.ScenarioServiceLabelProvider"
            name="Scenario Service Content">
         <triggerPoints>
            <instanceof
                  value="com.mmxlabs.scenario.service.model.ScenarioModel">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.mmxlabs.scenario.service.ui.open"
            name="Open">
      </command>
      <command
            id="com.mmxlabs.scenario.service.ui.lock"
            name="Lock/Unlock">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.OpenScenarioCommandHandler"
            commandId="com.mmxlabs.scenario.service.ui.open">
         <enabledWhen>
            <iterate>
               <and>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.LockScenarioCommandHandler"
            commandId="com.mmxlabs.scenario.service.ui.lock">
         <enabledWhen>
            <iterate>
               <and>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.DeleteScenarioCommandHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <iterate>
               <and>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
               </and>
            </iterate>
         </activeWhen>
         <enabledWhen>
            <iterate>
               <and>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.mmxlabs.scenario.service.ui.navigator">
         <command
               commandId="com.mmxlabs.scenario.service.ui.open"
               label="Open"
               style="push"
               tooltip="Open Scenario">
         </command>
         <command
               commandId="com.mmxlabs.scenario.service.ui.lock"
               icon="icons/commands/lock.gif"
               label="Lock"
               style="push"
               tooltip="Lock/Unlock Scenario">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push"
               tooltip="Delete Scenario">
         </command>
         <command
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.evaluate"
               icon="icons/evaluate_schedule.gif"
               id="com.mmxlabs.rcp.navigator.commands.optimisation.evaluate"
               label="Evaluate schedule"
               style="push"
               tooltip="Evaluate scenario">
         </command>
         <command
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.play"
               disabledIcon="icons/dlcl16/resume_co.gif"
               icon="icons/elcl16/resume_co.gif"
               id="com.mmxlabs.rcp.navigator.toolbars.optimisation.play"
               label="Start/Resume Optimisation"
               style="push"
               tooltip="Start or resume optimisations">
         </command>
         <command
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.pause"
               disabledIcon="icons/dlcl16/suspend_co.gif"
               icon="icons/elcl16/suspend_co.gif"
               id="com.mmxlabs.rcp.navigator.toolbars.optimisation.pause"
               label="Pause Optimisation"
               style="push"
               tooltip="Pause optimisations">
         </command>
         <command
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.terminate"
               disabledIcon="icons/dlcl16/terminate_co.gif"
               icon="icons/elcl16/terminate_co.gif"
               id="com.mmxlabs.rcp.navigator.toolbars.optimisation.terminate"
               label="Terminate Optimisation"
               style="push"
               tooltip="Terminate optimisations">
         </command>
         <command
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.save"
               disabledIcon="icons/dtool16/saveas_edit.gif"
               icon="icons/etool16/saveas_edit.gif"
               id="com.mmxlabs.rcp.navigator.toolbars.optimisation.save"
               label="Save Optimisation"
               mnemonic="S"
               style="push"
               tooltip="Save optimisations">
         </command>
         <command
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.derive"
               icon="icons/evaluate_schedule.gif"
               id="com.mmxlabs.rcp.navigator.commands.optimisation.derive"
               label="Derive schedule"
               style="push"
               tooltip="Derive scenario">
         </command>
      </menuContribution>
   </extension>

</plugin>
