<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.mmxlabs.scenario.service.ui.navigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.mmxlabs.scenario.service.ui.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="com.mmxlabs.scenario.service.ui.ScenarioServiceLinkHelper">
            </contentExtension>            
         </includes>
      </viewerContentBinding>
      <viewer
            helpContext="com.mmxlabs.lingo.doc.View_Navigator"
            viewerId="com.mmxlabs.scenario.service.ui.navigator">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true">
            </property>
            <property
                  name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
                  value="true">
            </property>
            <property
                  name="org.eclipse.ui.navigator.hideAvailableExtensionsTab"
                  value="true">
            </property>
            <property
                  name="org.eclipse.ui.navigator.customizeViewDialogHelpContext" value="">
            </property>
         </options>
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.mmxlabs.scenario.service.ui.navigator.ScenarioServiceNavigator"
            icon="icons/filenav_nav.gif"
            id="com.mmxlabs.scenario.service.ui.navigator"
            name="Scenarios"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.mmxlabs.scenario.service.ui.ScenarioServiceContentProvider"
            id="com.mmxlabs.scenario.service.ui.navigatorContent"
            labelProvider="com.mmxlabs.scenario.service.ui.ScenarioServiceLabelProvider"
            name="Scenario Service Content"
            providesSaveables="true">
         <triggerPoints>
            <instanceof
                  value="com.mmxlabs.scenario.service.model.ScenarioModel">
            </instanceof>
            <instanceof
                  value="com.mmxlabs.scenario.service.model.Container">
            </instanceof>
            <instanceof
                  value="com.mmxlabs.scenario.service.model.ScenarioFragment">
            </instanceof>
         </triggerPoints>
         <dropAssistant
               class="com.mmxlabs.scenario.service.ui.dnd.ScenarioDragAssistant"
               id="com.mmxlabs.scenario.service.ui.dnd.ScenarioDragAssistant">
            <possibleDropTargets>
               <instanceof
                     value="com.mmxlabs.scenario.service.model.Container">
               </instanceof></possibleDropTargets>
         </dropAssistant>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.mmxlabs.scenario.service.model.ScenarioFragment">
               </instanceof>
               <instanceof
                     value="com.mmxlabs.scenario.service.model.Container">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="com.mmxlabs.scenario.service.ui.ScenarioServiceSorter"
               id="com.mmxlabs.scenario.service.ui.ScenarioServiceSorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.Container">
                  </instanceof>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioService">
                  </instanceof>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioModel">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
         <actionProvider
               class="com.mmxlabs.scenario.service.ui.internal.GoIntoActionProvider"
               id="com.mmxlabs.scenario.service.ui.GoIntoActionProvider">
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.mmxlabs.scenario.service.ui.open"
            name="Open">
      </command>
      <command
            id="com.mmxlabs.scenario.service.ui.lock"
            name="Lock/Unlock">
      </command>
      <command
            id="com.mmxlabs.scenario.service.ui.newfolder"
            name="New Folder">
      </command>
      <command
            description="Fork the current scenario"
            id="com.mmxlabs.scenario.service.ui.fork"
            name="Fork Scenario">
      </command>
      <command
            id="com.mmxlabs.scenario.service.ui.revert"
            name="Revert">
      </command>
      <command
            id="com.mmxlabs.scenario.service.ui.pin"
            name="Pin">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.mmxlabs.scenario.service.ui.fork"
            icon="icons/fork.gif">
      </image>
      <image
            commandId="com.mmxlabs.scenario.service.ui.lock"
            icon="icons/commands/lock.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.OpenScenarioCommandHandler"
            commandId="com.mmxlabs.scenario.service.ui.open">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <or>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioFragment">
                  </instanceof>
               </or>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.LockScenarioCommandHandler"
            commandId="com.mmxlabs.scenario.service.ui.lock">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.DeleteScenarioCommandHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.Container">
                  </instanceof>
                  <not>
                     <instanceof
                           value="com.mmxlabs.scenario.service.model.ScenarioService">
                     </instanceof>
                  </not>
               </and>
            </iterate>
         </activeWhen>
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.Container">
                  </instanceof>
                  <not>
                     <instanceof
                           value="com.mmxlabs.scenario.service.model.ScenarioService">
                     </instanceof>
                  </not>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.CopyScenarioCommandHandler"
            commandId="org.eclipse.ui.edit.copy">
                     <activeWhen>
                

            		<with variable="activePartId">
                <equals value="com.mmxlabs.scenario.service.ui.navigator" />
            </with>         
        
         </activeWhen>
         <enabledWhen>
                <with
                     variable="selection">
		            <iterate
		                  ifEmpty="false">
		               <and>
		                  <instanceof
		                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
		                  </instanceof>
		               </and>
		            </iterate>
            </with>
	 
         
         </enabledWhen>
      </handler>
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.PasteScenarioCommandHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
                

            		<with variable="activePartId">
                <equals value="com.mmxlabs.scenario.service.ui.navigator" />
            </with>         
        
         </activeWhen>
         <enabledWhen>
                <with
                     variable="selection">
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.Container">
                  </instanceof>
               </and>
            </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.NewFolderCommandHandler"
            commandId="com.mmxlabs.scenario.service.ui.newfolder">
         <activeWhen>
            <or>
               <count
                     value="0">
               </count>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.mmxlabs.scenario.service.model.Folder">
                        </instanceof>
                        <instanceof
                              value="com.mmxlabs.scenario.service.model.ScenarioService">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </or>
         </activeWhen>
         <enabledWhen>
            <or>
               <count
                     value="0">
               </count>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.mmxlabs.scenario.service.model.Folder">
                        </instanceof>
                        <instanceof
                              value="com.mmxlabs.scenario.service.model.ScenarioService">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </or></enabledWhen>
      </handler>
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.RenameElementHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <iterate
                  ifEmpty="false">
               <or>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.Folder">
                  </instanceof>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioFragment">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <or>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.Folder">
                  </instanceof>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioFragment">
                  </instanceof>
               </or>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.ForkScenarioCommandHandler"
            commandId="com.mmxlabs.scenario.service.ui.fork">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.mmxlabs.scenario.service.ui.caps.forking">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.RevertScenarioCommandHandler"
            commandId="com.mmxlabs.scenario.service.ui.revert">
              <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
                                        <test
                        forcePluginActivation="true"
                        property="com.mmxlabs.scenario.service.ui.flags.dirty">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.PinScenarioCommandHandler"
            commandId="com.mmxlabs.scenario.service.ui.pin">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.mmxlabs.scenario.service.ui.commands.DeleteScenarioFragmentCommandHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioFragment">
                  </instanceof>
               </and>
            </iterate>
         </activeWhen>
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <instanceof
                        value="com.mmxlabs.scenario.service.model.ScenarioFragment">
                  </instanceof>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.mmxlabs.scenario.service.ui.navigator">
         <command
               commandId="com.mmxlabs.scenario.service.ui.newfolder"
               icon="icons/newfolder_wiz.gif"
               label="New Folder"
               style="push"
               tooltip="Create a new folder">
         </command>
         <command
               commandId="org.eclipse.ui.edit.rename"
               label="Rename"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
            <visibleWhen>
            	<or>
               		<with
                     	variable="selection">
                  		<iterate ifEmpty="false">
                  		<or>
                     		<instanceof
                           		value="com.mmxlabs.scenario.service.model.Folder">
                     		</instanceof>
                     		<instanceof
                           		value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                     		</instanceof>
                     		</or>
                  		</iterate>
               		</with>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
         <command
               commandId="com.mmxlabs.scenario.service.ui.revert"
               label="Revert"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                        </instanceof>

                     </iterate>
                  </with>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.mmxlabs.scenario.service.ui.fork"
               label="Fork"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                        </instanceof>

                     </iterate>
                  </with>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="edit"
               visible="false">
         </separator>
         <separator
               name="optimisation"
               visible="false">
         </separator>
         <command
               commandId="com.mmxlabs.scenario.service.ui.pin"
               label="Pin"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                        </instanceof>
                        <not>
                           <test
                                 forcePluginActivation="true"
                                 property="com.mmxlabs.scenario.service.ui.properties.pinned">
                           </test>
                        </not>
                     </iterate>
                  </with>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.mmxlabs.scenario.service.ui.pin"
               label="Unpin"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.scenario.service.ui.properties.pinned">
                        </test>
                     </iterate>
                  </with>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <!--
         <command
               commandId="com.mmxlabs.scenario.service.ui.diffedit"
               label="Sandbox"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                        </instanceof>
                        <not>
                           <test
                                 forcePluginActivation="true"
                                 property="com.mmxlabs.scenario.service.ui.properties.pinned">
                           </test>
                        </not>
                     </iterate>
                  </with>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         -->
         <separator
               name="importers">
         </separator>
         <separator
               name="exporters">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.mmxlabs.scenario.service.ui.ScenarioServiceLinkHelper"
            id="com.mmxlabs.scenario.service.ui.ScenarioServiceLinkHelper">
         <editorInputEnablement>
            <instanceof
                  value="com.mmxlabs.scenario.service.ui.editing.IScenarioServiceEditorInput">
            </instanceof>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="com.mmxlabs.scenario.service.model.ScenarioInstance">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="com.mmxlabs.scenario.service.ui.navigator.ValidatingDecorator"
            id="com.mmxlabs.scenario.service.ui.navigator.ValidatingDecorator"
            label="Validation Decorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
               <objectClass
                     name="com.mmxlabs.scenario.service.model.ScenarioInstance">
               </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.mmxlabs.scenario.service.ui.editing.internal.ScenarioServiceElementFactory"
            id="com.mmxlabs.scenario.service.ui.editing.ScenarioServiceElementFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.mmxlabs.scenario.service.ui.propertytesters.PinStatePropertyTester"
            id="com.mmxlabs.scenario.service.ui.propertytesters.PinStatePropertyTester"
            namespace="com.mmxlabs.scenario.service.ui.properties"
            properties="pinned"
            type="com.mmxlabs.scenario.service.model.ScenarioInstance">
      </propertyTester>
      <propertyTester
            class="com.mmxlabs.scenario.service.ui.propertytesters.ScenarioInstanceFlagsPropertyTester"
            id="com.mmxlabs.scenario.service.ui.propertytesters.ScenarioInstanceFlagsPropertyTester"
            namespace="com.mmxlabs.scenario.service.ui.flags"
            properties="locked,hidden,readonly,archived,dirty"
            type="com.mmxlabs.scenario.service.model.ScenarioInstance">
      </propertyTester>
      <propertyTester
            class="com.mmxlabs.scenario.service.ui.propertytesters.ServiceCapabilitiesFlagsPropertyTester"
            id="com.mmxlabs.scenario.service.ui.propertytesters.ServiceCapabilitiesFlagsPropertyTester"
            namespace="com.mmxlabs.scenario.service.ui.caps"
            properties="forking,import"
            type="com.mmxlabs.scenario.service.model.Container">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.mmxlabs.scenario.service.ui.editorActions"
            targetID="com.mmxlabs.models.lng.demo.scneditor">
         <action
               class="com.mmxlabs.scenario.service.ui.editor.actions.PinStateEditorActionDelegate"
               definitionId="com.mmxlabs.scenario.service.ui.pin"
               icon="icons/pin_editor.gif"
               id="com.mmxlabs.scenario.service.ui.togglePin"
               label="Toggle pin for this scenario"
               style="toggle"
               toolbarPath="additions"
               tooltip="Use this scenario as the pin for comparison">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.mmxlabs.scenario.service.ui.internal.ScenarioServiceStartupExtension">
      </startup>
   </extension>

</plugin>
