<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2012
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.mmxlabs.lng.emf2"
            class="scenario.ScenarioPackage"
            genModel="model/lng.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.mmxlabs.lng.emf2/fleet"
            class="scenario.fleet.FleetPackage"
            genModel="model/lng.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.mmxlabs.lng.emf2/schedule"
            class="scenario.schedule.SchedulePackage"
            genModel="model/lng.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.mmxlabs.lng.emf2/port"
            class="scenario.port.PortPackage"
            genModel="model/lng.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.mmxlabs.lng.emf2/cargo"
            class="scenario.cargo.CargoPackage"
            genModel="model/lng.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.mmxlabs.lng.emf2/contract"
            class="scenario.contract.ContractPackage"
            genModel="model/lng.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.mmxlabs.lng.emf2/market"
            class="scenario.market.MarketPackage"
            genModel="model/lng.genmodel"/>
   </extension>

</plugin>
