<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.mmxlabs.rcp.navigator.TheNavigator"
            icon="icons/sample.gif"
            id="com.mmxlabs.rcp.navigator"
            name="My Common Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.mmxlabs.rcp.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <actionExtension
                  pattern="com.mmxlabs.rcp.navigator.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.mmxlabs.rcp.navigator">
         <includes>
            <contentExtension
                  pattern="off-org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="com.mmxlabs.rcp.navigator.navigatorContent1">
            </contentExtension>
            <contentExtension
                  pattern="com.mmxlabs.rcp.navigator.ecore.EcoreModelContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.mmxlabs.demo.app.perspective">
         <view
               id="com.mmxlabs.rcp.navigator"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
     
      <actionProvider
            class="com.mmxlabs.rcp.navigator.OpenScenarioActionProvider"
            id="com.mmxlabs.rcp.navigator.CommonActionProvider1">
         <enablement>
            <or>
               <adapt
                     type="scenario.Scenario">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
       <navigatorContent
            activeByDefault="true"
            contentProvider="com.mmxlabs.rcp.navigator.scenario.ScenarioContentProvider"
            id="com.mmxlabs.rcp.navigator.navigatorContent1"
            labelProvider="com.mmxlabs.rcp.navigator.scenario.ScenarioLabelProvider"
            name="Scenario Content Provider"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="com.mmxlabs.rcp.navigator.scenario.ScenarioTreeNodeClass">
               </instanceof>
            </or></triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.mmxlabs.rcp.navigator.scenario.ScenarioTreeNodeClass">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>ent>
   </extension>
   
      <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.mmxlabs.rcp.navigator.scenario.ScenarioContentProvider"
            id="com.mmxlabs.rcp.navigator.ecore.EcoreModelContent"
            labelProvider="com.mmxlabs.rcp.navigator.ecore.EcoreLabelProvider"
            name="EMF Model Content"
            priority="normal">
            <triggerPoints> 
            	<or>
				<and> 
					<instanceof value="org.eclipse.core.resources.IResource"/> 
					<test 
						forcePluginActivation="true" 
						property="org.eclipse.core.resources.extension" 
						value="scenario"/> 
				</and>
    <and>
       <adapt
             type="scenario.Scenario">
       </adapt>
    </and> 
				</or>
			</triggerPoints> 
			<possibleChildren> 
				<or> 
					<instanceof value="org.eclipse.emf.ecore.resource.Resource"/>
					<instanceof value="org.eclipse.emf.ecore.EObject"/>  
				</or> 
			</possibleChildren>
		</navigatorContent>
   </extension>
      <extension
            point="org.eclipse.ui.commands">
         <category
               id="com.mmxlabs.rcp.navigator.commands.category.optimisation"
               name="Optimisation Commands">
         </category>
         <command
               categoryId="com.mmxlabs.rcp.navigator.commands.category.optimisation"
               id="com.mmxlabs.rcp.navigator.commands.optimisation.play"
               name="Start/Resume Optimisation">
         </command>
         <command
               categoryId="com.mmxlabs.rcp.navigator.commands.category.optimisation"
               id="com.mmxlabs.rcp.navigator.commands.optimisation.pause"
               name="Pause Optimisation">
         </command>
         <command
               categoryId="com.mmxlabs.rcp.navigator.commands.category.optimisation"
               id="com.mmxlabs.rcp.navigator.commands.optimisation.terminate"
               name="Terminate Optimisation">
         </command>
         <category
               id="com.mmxlabs.rcp.navigator.commands.category.scenario"
               name="Scenario Commands">
         </category>
         <command
               categoryId="com.mmxlabs.rcp.navigator.commands.category.scenario"
               id="com.mmxlabs.rcp.navigator.commands.scenario.checkpoint"
               name="Scenario Check Point">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.handlers">
         <handler
               class="com.mmxlabs.rcp.navigator.handlers.StartOptimisationHandler"
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.play">
            <enabledWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <adapt
                              type="scenario.Scenario">
                        </adapt></and>
                  </iterate>
               </or>
            </enabledWhen>
            <!--
            <activeWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                        <or>
                     
                     
                     <instanceof
                           value="scenario.Scenario">
                     </instanceof>
                     <adapt
                           type="com.mmxlabs.rcp.navigator.RandomTreeNodeClass">

                     </adapt>
                     </or>
                  </iterate>
               </or>
            </activeWhen>
            -->
         </handler>
         <handler
               class="com.mmxlabs.rcp.navigator.handlers.StopOptimisationHandler"
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.terminate">
            <enabledWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <adapt
                              type="scenario.Scenario">
                        </adapt>
                     </and>
                  </iterate>
               </or>
            </enabledWhen>
         </handler>
         <handler
               class="com.mmxlabs.rcp.navigator.handlers.PauseOptimisationHandler"
               commandId="com.mmxlabs.rcp.navigator.commands.optimisation.pause">
            <enabledWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <adapt
                              type="scenario.Scenario">
                        </adapt>
                     </and>
                  </iterate>
               </or>
            </enabledWhen>
         </handler>
         <handler
               class="com.mmxlabs.rcp.navigator.handlers.CheckPointHandler"
               commandId="com.mmxlabs.rcp.navigator.commands.scenario.checkpoint">
            <enabledWhen>
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <adapt
                              type="scenario.Scenario">
                        </adapt>
                     </and>
                  </iterate>
               </or>
            </enabledWhen>
         </handler>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="toolbar:com.mmxlabs.rcp.navigator">
               <command
                     commandId="com.mmxlabs.rcp.navigator.commands.optimisation.play"
                     disabledIcon="icons/dlcl16/resume_co.gif"
                     icon="icons/elcl16/resume_co.gif"
                     id="com.mmxlabs.rcp.navigator.toolbars.optimisation.play"
                     label="Start/Resume Optimisation"
                     style="push"
                     tooltip="Start or resume optimisations">
               </command>
               <command
                     commandId="com.mmxlabs.rcp.navigator.commands.optimisation.pause"
                     disabledIcon="icons/dlcl16/suspend_co.gif"
                     icon="icons/elcl16/suspend_co.gif"
                     id="com.mmxlabs.rcp.navigator.toolbars.optimisation.pause"
                     label="Pause Optimisation"
                     style="push"
                     tooltip="Pause optimisations">
               </command>
               <command
                     commandId="com.mmxlabs.rcp.navigator.commands.optimisation.terminate"
                     disabledIcon="icons/dlcl16/terminate_co.gif"
                     icon="icons/elcl16/terminate_co.gif"
                     id="com.mmxlabs.rcp.navigator.toolbars.optimisation.terminate"
                     label="Terminate Optimisation"
                     style="push"
                     tooltip="Terminate optimisations">
               </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="toolbar:com.mmxlabs.rcp.navigator">
            <command
                  commandId="com.mmxlabs.rcp.navigator.commands.scenario.checkpoint"
                  disabledIcon="icons/dlcl16/newstream_wiz.gif"
                  icon="icons/elcl16/newstream_wiz.gif"
                  id="com.mmxlabs.rcp.navigator.toolbars.scenario.checkpoint"
                  label="Scenario Checkpoint"
                  style="push"
                  tooltip="Create a duplciate scenario from the selected scenario">
            </command>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.core.runtime.adapters">
         <factory
               adaptableType="com.mmxlabs.rcp.navigator.scenario.ScenarioTreeNodeClass"
               class="com.mmxlabs.rcp.navigator.scenario.ScenarioTreeNodeClassAdapterFactory">
            <adapter
                  type="scenario.Scenario">
            </adapter>
            <!--
            <adapter
                  type="org.eclipse.core.resources.IResource">
            </adapter>
            <adapter
                  type="org.eclipse.core.resources.IContainer">
            </adapter>
            -->
         </factory>
      </extension>
   

</plugin>
