<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>



	
	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
		<componentHelper
			id="com.mmxlabs.models.lng.fleet.helpers.Vessel"
			helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.VesselComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.fleet.Vessel" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.fleet.helpers.VesselClass"
			helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.VesselClassComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.fleet.VesselClass" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.fleet.helpers.VesselEvent"
			helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.VesselEventComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.fleet.VesselEvent" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.fleet.helpers.FleetModel"
			helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.FleetModelComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.fleet.FleetModel" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.fleet.helpers.BaseFuel"
			helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.BaseFuelComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.fleet.BaseFuel" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.fleet.helpers.DryDockEvent"
			helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.DryDockEventComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.fleet.DryDockEvent" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.fleet.helpers.CharterOutEvent"
			helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.CharterOutEventComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.fleet.CharterOutEvent" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.fleet.helpers.HeelOptions"
			helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.HeelOptionsComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.fleet.HeelOptions" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.fleet.helpers.VesselStateAttributes"
			helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.VesselStateAttributesComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.fleet.VesselStateAttributes" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.fleet.helpers.VesselAvailiability"
			helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.VesselAvailabilityComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.fleet.VesselAvailability" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.fleet.helpers.FuelConsumption"
			helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.FuelConsumptionComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.fleet.FuelConsumption" />
  <componentHelper
        helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.MaintenanceEventComponentHelper"
        id="com.mmxlabs.models.lng.fleet.helpers.MaintenanceEvent"
        inheritable="false"
        modelClass="com.mmxlabs.models.lng.fleet.MaintenanceEvent">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.VesselGroupComponentHelper"
        id="com.mmxlabs.models.lng.fleet.helpers.VesselGroup"
        inheritable="false"
        modelClass="com.mmxlabs.models.lng.fleet.VesselGroup">
  </componentHelper>
  <componentHelper
        helperClass="com.mmxlabs.models.lng.fleet.presentation.composites.VesselTypeGroupComponentHelper"
        id="com.mmxlabs.models.lng.fleet.presentation.composites.VesselTypeGroupComponentHelper"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.fleet.VesselTypeGroup">
  </componentHelper>
		
	</extension>
 <extension
       point="com.mmxlabs.models.ui.valueproviders">
    <valueProvider
          factory="com.mmxlabs.models.lng.fleet.ui.valueproviders.VesselAvailabilityVesselValueProviderFactory"
          id="com.mmxlabs.models.lng.fleet.ui.valueproviders.VesselAvailabilityVesselValueProviderFactory"
          ownerEClass="com.mmxlabs.models.lng.fleet.VesselAvailability"
          referenceEClass="com.mmxlabs.models.lng.fleet.Vessel">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.fleet.ui.valueproviders.VesselValueProviderFactory"
          id="com.mmxlabs.models.lng.fleet.editor.fleetValueProvider"
          referenceEClass="com.mmxlabs.models.lng.types.AVesselSet">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.fleet.ui.valueproviders.BaseFuelValueProviderFactory"
          id="com.mmxlabs.models.lng.fleet.editor.baseFuelProvider"
          referenceEClass="com.mmxlabs.models.lng.fleet.BaseFuel">
    </valueProvider>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.jointmodeleditors">
    <jointModelEditor
          id="com.mmxlabs.models.lng.fleet.editor.jointModelEditorContribution"
          implementation="com.mmxlabs.models.lng.fleet.ui.editorpart.FleetModelEditorContribution"
          priority="30"
          subModelClass="com.mmxlabs.models.lng.fleet.ScenarioFleetModel">
    </jointModelEditor>
 </extension>
 <extension
       point="com.mmxlabs.models.util.import.submodels">
    <submodelImporter
          ID="com.mmxlabs.models.lng.fleet.editor.fleetModelImporter"
          subModelClassName="com.mmxlabs.models.lng.fleet.FleetModel"
          subModelImporterClass="com.mmxlabs.models.lng.fleet.importer.FleetModelImporter">
    </submodelImporter>
     <submodelImporter
          ID="com.mmxlabs.models.lng.fleet.editor.ScenarioFleetModelImporter"
          subModelClassName="com.mmxlabs.models.lng.fleet.ScenarioFleetModel"
          subModelImporterClass="com.mmxlabs.models.lng.fleet.importer.ScenarioFleetModelImporter">
    </submodelImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.displaycompositefactories">
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.fleet.VesselStateAttributes"
          factory="com.mmxlabs.models.lng.fleet.ui.displaycomposites.VSADisplayCompositeFactory"
          id="com.mmxlabs.models.lng.fleet.editor.attributesDisplayCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.modelfactories">
    <factory
          ID="com.mmxlabs.models.lng.fleet.editor.vesselClassFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Vessel Class"
          targetEClass="com.mmxlabs.models.lng.fleet.VesselClass">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.fleet.editor.vesselFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Vessel"
          targetEClass="com.mmxlabs.models.lng.fleet.Vessel">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.fleet.editor.vesselAvailabilityFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="VesselAvailability"
          targetEClass="com.mmxlabs.models.lng.fleet.VesselAvailability">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.fleet.editor.charterOutFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Charter Out"
          outputEClass="com.mmxlabs.models.lng.fleet.CharterOutEvent"
          targetEClass="com.mmxlabs.models.lng.fleet.VesselEvent">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.fleet.editor.dryDockFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Dry Dock"
          outputEClass="com.mmxlabs.models.lng.fleet.DryDockEvent"
          targetEClass="com.mmxlabs.models.lng.fleet.VesselEvent">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.fleet.editor.maintenanceFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Maintenance"
          outputEClass="com.mmxlabs.models.lng.fleet.MaintenanceEvent"
          targetEClass="com.mmxlabs.models.lng.fleet.VesselEvent">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.fleet.editor.baseFuelModelFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Base Fuel"
          targetEClass="com.mmxlabs.models.lng.fleet.BaseFuel">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.fleet.editor.vesselGroupFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Vessel Group"
          targetEClass="com.mmxlabs.models.lng.fleet.VesselGroup">
    </factory>
 </extension>
 <extension
       point="com.mmxlabs.models.util.import.classes">
    <classImporter
          ID="com.mmxlabs.models.lng.fleet.editor.vesselClassImporter"
          classImporterClass="com.mmxlabs.models.lng.fleet.importer.VesselClassImporter"
          eClassName="com.mmxlabs.models.lng.fleet.VesselClass"
          inheritable="true">
    </classImporter>
    <classImporter
          ID="com.mmxlabs.models.lng.fleet.editor.baseFuelImporter"
          classImporterClass="com.mmxlabs.models.lng.fleet.importer.BaseFuelImporter"
          eClassName="com.mmxlabs.models.lng.fleet.BaseFuel"
          inheritable="true">
    </classImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.editorfactories">
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.fleet.ui.inlineeditors.RouteCostInlineEditorFactory"
          id="com.mmxlabs.models.lng.fleet.editor.editorfactories.routeCostInlineEditorFactory">
       <FeatureAnyOf>
          <EClassExtends
                EClass="com.mmxlabs.models.lng.fleet.VesselClassRouteParameters">
          </EClassExtends>
       </FeatureAnyOf>
       <OwnerAnyOf>
          <EClassExtends
                EClass="com.mmxlabs.models.lng.fleet.VesselClass">
          </EClassExtends>
       </OwnerAnyOf>
    </editorFactory>

 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          category="com.mmxlabs.models.lng.views.physical"
          class="com.mmxlabs.models.lng.fleet.editor.views.VesselView"
          id="com.mmxlabs.models.lng.fleet.editor.views.VesselView"
          name="Vessels"
          restorable="true">
    </view>
    <view
          category="com.mmxlabs.models.lng.views.physical"
          class="com.mmxlabs.models.lng.fleet.editor.views.VesselClassView"
          id="com.mmxlabs.models.lng.fleet.editor.views.VesselClassView"
          name="Vessel Classes"
          restorable="true">
    </view>
    <view
          category="com.mmxlabs.models.lng.views.logical"
          class="com.mmxlabs.models.lng.fleet.editor.views.VesselEventView"
          id="com.mmxlabs.models.lng.fleet.editor.views.VesselEventView"
          name="Vessel Events"
          restorable="true">
    </view>
 </extension>
 <extension
       point="com.mmxlabs.models.common.modelcommandprovider">
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.fleet.editor.commands.VesselAvailabilityCommandProvider"
          id="com.mmxlabs.models.lng.fleet.editor.commands.VesselAvailabilityCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.fleet.editor.commands.DateUpdatingCommandProvider"
          id="com.mmxlabs.models.lng.fleet.editor.commands.DateUpdatingCommandProvider">
    </ModelCommandProvider>
 </extension>
</plugin>
