<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.mmxlabs.com/models/ui/test/dialogecorecopier/model"
            class="com.mmxlabs.models.ui.test.model.ModelPackage"
            genModel="model/dialogecorecopier.genmodel"/>
   </extension>

</plugin>
