<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.mmxlabs.lingo.app.application"
            name="LiNGO">
         <property
               name="windowImages"
               value="icons/logo-square-16.png,icons/logo-square-32.png,icons/logo-square-48.png,icons/logo-square-64.png,icons/logo-square-128.png">
         </property>
         <property
               name="appName"
               value="LiNGO">
         </property>
         <property
               name="startupProgressRect"
               value="20,210,440,15">
         </property>
         <property
               name="aboutImage"
               value="icons/logo-square-16.png">
         </property>
	 <property
        name="aboutText"
        value="LiNGO Platform&#x0A;&#x0A;Version: {0}&#x0A;Build: {1}">
       </property>
  <property
        name="startupForegroundColor"
        value="FFFFFF">
  </property>
  <property
        name="startupMessageRect"
        value="0,0,0,0">
  </property>
  <property
        name="preferenceCustomization"
        value="plugin_customization.ini">
  </property>
      </product>
   </extension>
   <extension
	       point="org.eclipse.ui.activities">
	    <activity
	          id="com.mmxlabs.lingo.default.activity"
	          name="Default App Activity">
	    </activity>
	    <activityPatternBinding
	          activityId="com.mmxlabs.lingo.default.activity"
	          isEqualityPattern="false"
	          pattern=".*">
	    </activityPatternBinding>
   </extension>
   <extension
         point="com.mmxlabs.models.migration.DefaultMigrationContext">
      <DefaultMigrationContext
            context="com.mmxlabs.lingo">
      </DefaultMigrationContext>
   </extension>
</plugin>
