<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="ShipLingo Platform">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="3.6.1.r361_v20100909-9gF78GrkFqw7GrsZnvz0JWNTeb6fue6896L"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.4.1.R36x_v20100823-7M7K7JF90dnJ-WLf3cf4yi"/>
<unit id="org.eclipse.pde.feature.group" version="3.6.1.r361_v20100727-7b7mFL-FET3dhESDgE5_bkJ"/>
<unit id="org.eclipse.rcp.feature.group" version="3.6.1.r361_v20100827-9OArFLdFjY-ThSQXmKvKz0_T"/>
<unit id="org.eclipse.emf.feature.group" version="2.6.1.v20100914-1218"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.6.1.v20100914-1218"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.6.1.r361_v20100903-7H7R07v8rtOZyYbv1I6aZgou5z07"/>
<unit id="org.eclipse.jetty.sdk.feature.group" version="7.1.6.v20100831"/>
<unit id="org.eclipse.pde.junit.runtime.addon.feature.group" version="1.0.0.v20100831"/>
<unit id="org.eclipse.pde.api.tools.ee.fragments.feature.group" version="1.0.0.v20100427-7C-7BF9JgLWLMBMMAMsLL"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.springframework.ide.eclipse.feature.feature.group" version="2.5.0.201010141000-RC1"/>
<unit id="org.springframework.ide.eclipse.feature.source.feature.group" version="2.5.0.201010141000-RC1"/>
<repository location="http://dist.springsource.com/milestone/TOOLS/update/e3.6"/>
</location>
<location path="/Users/hinton/Documents/mmxlabs/workspaces/new-workspace/repositories-com-apache-commons-math-bundle/target" type="Directory"/>
</locations>
<includeBundles>
<plugin id="com.springsource.javax.jms"/>
<plugin id="org.apache.commons.logging.source"/>
<plugin id="edu.emory.mathcs.backport"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.emf.common.ui.source"/>
<plugin id="org.eclipse.equinox.launcher.motif.hpux.ia64_32"/>
<plugin id="org.eclipse.emf.ecore.edit.source"/>
<plugin id="org.springframework.core.source"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.springframework.beans"/>
<plugin id="org.springframework.context.support.source"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="ch.qos.logback.slf4j.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="org.eclipse.core.filesystem.linux.ppc"/>
<plugin id="org.springframework.transaction.source"/>
<plugin id="org.apache.jasper.glassfish.source"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.emf.edit"/>
<plugin id="org.mortbay.jetty.server"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.core.filesystem.win32.x86_64"/>
<plugin id="org.apache.jasper"/>
<plugin id="org.eclipse.emf.importer.source"/>
<plugin id="ch.qos.logback.classic"/>
<plugin id="org.mortbay.jetty.util.source"/>
<plugin id="org.eclipse.equinox.security.win32.x86.source"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.apache.commons.collections"/>
<plugin id="javax.transaction"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.eclipse.equinox.security.source"/>
<plugin id="org.springframework.orm.source"/>
<plugin id="org.eclipse.ui.cheatsheets"/>
<plugin id="org.apache.jasper.glassfish"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.ppc64"/>
<plugin id="org.springframework.osgi.core"/>
<plugin id="org.eclipse.equinox.servletbridge.extensionbundle"/>
<plugin id="javax.servlet.jsp.jstl"/>
<plugin id="org.eclipse.ecf.identity.source"/>
<plugin id="org.eclipse.equinox.launcher.carbon.macosx"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.x86"/>
<plugin id="org.eclipse.emf.edit.ui"/>
<plugin id="org.eclipse.emf.ecore.source"/>
<plugin id="javax.el"/>
<plugin id="org.springframework.expression.source"/>
<plugin id="org.eclipse.core.filesystem.linux.x86_64"/>
<plugin id="org.eclipse.emf.edit.ui.source"/>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.springframework.context.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.source"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository.source"/>
<plugin id="org.springframework.transaction"/>
<plugin id="com.springsource.org.aspectj.weaver.source"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.emf.common.source"/>
<plugin id="org.eclipse.equinox.http.servlet.source"/>
<plugin id="org.eclipse.core.filesystem.win32.x86"/>
<plugin id="org.eclipse.emf.ecore.change.source"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.springframework.asm.source"/>
<plugin id="org.aopalliance"/>
<plugin id="javax.activation"/>
<plugin id="org.eclipse.emf.edit.source"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.ppc"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl.source"/>
<plugin id="com.jcraft.jsch"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="javax.servlet.jsp" version="2.1.0.v201004190952"/>
<plugin id="org.springframework.transaction.source"/>
<plugin id="org.springframework.asm"/>
<plugin id="org.apache.ant"/>
<plugin id="org.springframework.jdbc.source"/>
<plugin id="org.eclipse.emf.importer"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.ui.navigator"/>
<plugin id="edu.emory.mathcs.backport"/>
<plugin id="org.eclipse.equinox.transforms.hook"/>
<plugin id="org.slf4j.api.source"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="ch.qos.logback.core.source"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.springframework.osgi.io"/>
<plugin id="com.springsource.org.aspectj.weaver.source"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="com.springsource.javax.jms.source"/>
<plugin id="org.springframework.jdbc.source"/>
<plugin id="org.springframework.context"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="javax.transaction.source"/>
<plugin id="org.eclipse.emf.codegen.ecore.ui"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="org.apache.commons.collections.source"/>
<plugin id="org.eclipse.emf.converter.source"/>
<plugin id="org.eclipse.emf.codegen"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
<plugin id="org.aopalliance"/>
<plugin id="org.eclipse.team.ui"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.s390"/>
<plugin id="org.springframework.context.support.source"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.springframework.core"/>
<plugin id="org.apache.commons.el"/>
<plugin id="org.eclipse.emf"/>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.springframework.expression.source"/>
<plugin id="org.springframework.orm.source"/>
<plugin id="org.eclipse.swt.cocoa.macosx.x86_64"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.equinox.concurrent.source"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.springframework.osgi.core"/>
<plugin id="edu.emory.mathcs.backport.source"/>
<plugin id="org.apache.lucene"/>
<plugin id="org.springframework.context"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.jdt.core.compiler.batch.source"/>
<plugin id="org.eclipse.core.net"/>
<plugin id="org.springframework.orm"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="org.springframework.core.source"/>
<plugin id="org.eclipse.emf.codegen.ecore.ui.source"/>
<plugin id="org.eclipse.jsch.core"/>
<plugin id="org.springframework.jdbc"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.springframework.asm.source"/>
<plugin id="javax.el.source"/>
<plugin id="org.eclipse.core.filesystem.macosx"/>
<plugin id="org.eclipse.team.core"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.ui.intro"/>
<plugin id="javax.servlet.source"/>
<plugin id="org.eclipse.debug.core"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.ecf.ssl.source"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.emf.codegen.ecore.source"/>
<plugin id="org.slf4j.jcl.source"/>
<plugin id="com.springsource.org.aspectj.weaver"/>
<plugin id="org.springframework.jdbc"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.slf4j.api"/>
<plugin id="org.eclipse.ltk.core.refactoring"/>
<plugin id="org.eclipse.equinox.launcher.win32.win32.x86_64"/>
<plugin id="org.eclipse.update.core"/>
<plugin id="org.eclipse.equinox.p2.repository.source"/>
<plugin id="javax.servlet"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.equinox.transforms.hook.source"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.eclipse.ui.cocoa"/>
<plugin id="org.eclipse.equinox.launcher.gtk.solaris.x86"/>
<plugin id="org.eclipse.core.filesystem.linux.x86"/>
<plugin id="org.eclipse.ltk.ui.refactoring"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.slf4j.jcl"/>
<plugin id="org.eclipse.equinox.launcher.motif.aix.ppc"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.platform"/>
<plugin id="org.springframework.expression"/>
<plugin id="org.slf4j.log4j.source"/>
<plugin id="org.eclipse.emf.ecore.xmi.source"/>
<plugin id="org.springframework.aop.source"/>
<plugin id="org.springframework.context.source"/>
<plugin id="org.eclipse.equinox.security.win32.x86"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor.source"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.core.net.linux.x86_64"/>
<plugin id="org.eclipse.equinox.launcher.win32.win32.x86"/>
<plugin id="org.eclipse.compare"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.emf.codegen.ecore"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.springframework.aop"/>
<plugin id="org.slf4j.log4j"/>
<plugin id="org.springframework.beans.source"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.eclipse.equinox.security.macosx"/>
<plugin id="org.eclipse.help.ui"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
<plugin id="com.springsource.javax.jms.source"/>
<plugin id="org.eclipse.equinox.weaving.hook.source"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.ui.views.properties.tabbed"/>
<plugin id="org.eclipse.emf.ecore.change"/>
<plugin id="org.springframework.context.support"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.ecf.source"/>
<plugin id="org.eclipse.equinox.security.macosx.source"/>
<plugin id="org.eclipse.equinox.launcher.motif.linux.x86"/>
<plugin id="org.eclipse.equinox.launcher.cocoa.macosx.x86_64"/>
<plugin id="org.springframework.context.support"/>
<plugin id="org.eclipse.core.filesystem.solaris.sparc"/>
<plugin id="org.springframework.expression"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.emf.common.ui"/>
<plugin id="org.eclipse.emf.ecore.edit"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.equinox.http.jetty.source"/>
<plugin id="org.eclipse.ecf.filetransfer.source"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="javax.mail.glassfish.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.source"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.x86_64"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.emf.codegen.source"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.springframework.transaction"/>
<plugin id="org.eclipse.ui.views.log"/>
<plugin id="ch.qos.logback.classic.source"/>
<plugin id="org.apache.commons.collections.source"/>
<plugin id="org.springframework.osgi.io"/>
<plugin id="org.springframework.asm"/>
<plugin id="org.apache.commons.collections"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="com.springsource.javax.jms"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.mortbay.jetty.server.source"/>
<plugin id="org.mortbay.jetty.util"/>
<plugin id="org.apache.commons.logging.source"/>
<plugin id="ch.qos.logback.slf4j"/>
<plugin id="org.eclipse.emf.converter"/>
<plugin id="org.apache.lucene.analysis"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.springframework.core"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.ui.navigator.resources"/>
<plugin id="org.eclipse.equinox.p2.core.source"/>
<plugin id="org.springframework.beans"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.junit"/>
<plugin id="edu.emory.mathcs.backport.source"/>
<plugin id="org.eclipse.jdt.core.compiler.batch"/>
<plugin id="javax.servlet.jsp.jstl.source"/>
<plugin id="org.springframework.beans.source"/>
<plugin id="org.eclipse.core.filesystem.aix.ppc"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.core.filesystem.hpux.ia64_32"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="javax.mail.glassfish"/>
<plugin id="org.springframework.aop.source"/>
<plugin id="org.eclipse.equinox.launcher.cocoa.macosx"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.apache.commons.logging.source"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.equinox.weaving.hook"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="javax.servlet.jsp.source" version="2.1.0.v201004190952"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.s390x"/>
<plugin id="org.eclipse.equinox.p2.engine.source"/>
<plugin id="org.eclipse.core.resources.win32.x86"/>
<plugin id="org.springframework.orm"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="javax.servlet.jsp.source" version="2.0.0.v200806031607"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.springframework.aop"/>
<plugin id="org.eclipse.equinox.launcher.gtk.solaris.sparc"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="com.springsource.org.aspectj.weaver"/>
</includeBundles>
<environment>
<nl>en_GB</nl>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -XX:MaxPermSize=256m -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
