<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>

	<extension-point id="EndpointExtension" name="EndpointExtension" schema="schema/EndpointExtension.exsd"/>

   <!--extension point="org.eclipse.equinox.http.registry.servlets">
    <servlet
      alias="/test"
      class="com.mmxlabs.lngdataserver.distances.server.ExampleServlet"/>
  </extension-->
</plugin>
