<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2023
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.models.lng.scenario.model.validation.base"
            mandatory="true"
            name="com.mmxlabs.models.lng.scenario.model.validation.base">
      </category>      
      
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/scenario/1/">
         </package>
         <constraints
               categories="com.mmxlabs.models.lng.scenario.model.validation.base">
               
                <constraint
                      class="com.mmxlabs.models.lng.scenario.model.validation.LNGScenarioModelConstraint"
                      id="com.mmxlabs.models.lng.scenario.model.validation.LNGScenarioModelConstraint"
                      isEnabledByDefault="true"
                      lang="Java"
                      mode="Batch"
                      name="LNGScenarioModel"
                      severity="WARNING"
                      statusCode="1">
                <message>
                    {0}
                </message>
                <target class="LNGScenarioModel" />
            </constraint>
         </constraints>
      </constraintProvider>
    
   </extension>

</plugin>
