<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated actuals -->
      <editor
            id="com.mmxlabs.models.lng.actuals.presentation.ActualsEditorID"
            name="%_UI_ActualsEditor_label"
            icon="icons/full/obj16/ActualsModelFile.gif"
            extensions="actuals"
            class="com.mmxlabs.models.lng.actuals.presentation.ActualsEditor"
            contributorClass="com.mmxlabs.models.lng.actuals.presentation.ActualsActionBarContributor">
      </editor>
   </extension>

   <extension
         point="com.mmxlabs.models.ui.displaycompositefactories">
      <displayCompositeFactory
            eClass="com.mmxlabs.models.lng.actuals.CargoActuals"
            factory="com.mmxlabs.models.lng.actuals.presentation.displaycomposites.CargoActualsCompositeFactory"
            id="com.mmxlabs.models.lng.actuals.presentation.displaycomposites.CargoActualsCompositeFactory"
            inheritable="true">
      </displayCompositeFactory>
   </extension>
   <extension
         point="com.mmxlabs.models.ui.componenthelpers">
      <componentHelper
            helperClass="com.mmxlabs.models.lng.actuals.presentation.composites.CargoActualsComponentHelper"
            id="com.mmxlabs.models.lng.actuals.presentation.composites.CargoActualsComponentHelper"
            inheritable="true"
            modelClass="com.mmxlabs.models.lng.actuals.CargoActuals">
      </componentHelper>
      <componentHelper
            helperClass="com.mmxlabs.models.lng.actuals.presentation.composites.SlotActualsComponentHelper"
            id="com.mmxlabs.models.lng.actuals.presentation.composites.SlotActualsComponentHelper"
            inheritable="true"
            modelClass="com.mmxlabs.models.lng.actuals.SlotActuals">
      </componentHelper>
      <componentHelper
            helperClass="com.mmxlabs.models.lng.actuals.presentation.composites.DischargeActualsComponentHelper"
            id="com.mmxlabs.models.lng.actuals.presentation.composites.DischargeActualsComponentHelper"
            inheritable="true"
            modelClass="com.mmxlabs.models.lng.actuals.DischargeActuals">
      </componentHelper>
      <componentHelper
            helperClass="com.mmxlabs.models.lng.actuals.presentation.composites.LoadActualsComponentHelper"
            id="com.mmxlabs.models.lng.actuals.presentation.composites.LoadActualsComponentHelper"
            inheritable="true"
            modelClass="com.mmxlabs.models.lng.actuals.LoadActuals">
      </componentHelper>
      <componentHelper
            helperClass="com.mmxlabs.models.lng.actuals.presentation.composites.ReturnActualsComponentHelper"
            id="com.mmxlabs.models.lng.actuals.presentation.composites.ReturnActualsComponentHelper"
            inheritable="true"
            modelClass="com.mmxlabs.models.lng.actuals.ReturnActuals">
      </componentHelper>
   </extension>
   <extension
         point="com.mmxlabs.models.ui.modelfactories">
      <factory
            ID="com.mmxlabs.models.lng.actuals.CargoActualsFactory"
            factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
            label="Cargo Actuals"
            outputEClass="com.mmxlabs.models.lng.actuals.CargoActuals"
            targetEClass="com.mmxlabs.models.lng.actuals.CargoActuals">
      </factory>
      <factory
            ID="com.mmxlabs.models.lng.actuals.DischargeActualsFactory"
            factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
            label="Discharge Actuals"
            outputEClass="com.mmxlabs.models.lng.actuals.DischargeActuals"
            targetEClass="com.mmxlabs.models.lng.actuals.DischargeActuals">
      </factory>
      <factory
            ID="com.mmxlabs.models.lng.actuals.LoadActualsFactory"
            factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
            label="Load Actuals"
            outputEClass="com.mmxlabs.models.lng.actuals.LoadActuals"
            targetEClass="com.mmxlabs.models.lng.actuals.LoadActuals">
      </factory>
   </extension>
   <extension
         point="com.mmxlabs.models.ui.valueproviders">
      <valueProvider
            factory="com.mmxlabs.models.lng.actuals.presentation.valueproviders.ActualsSlotValueProviderFactory"
            id="com.mmxlabs.models.lng.actuals.presentation.valueproviders.ActualsSlotValueProviderFactory.LoadActuals"
            ownerEClass="com.mmxlabs.models.lng.actuals.LoadActuals"
            referenceEClass="com.mmxlabs.models.lng.cargo.Slot">
      </valueProvider>
      <valueProvider
            factory="com.mmxlabs.models.lng.actuals.presentation.valueproviders.ActualsSlotValueProviderFactory"
            id="com.mmxlabs.models.lng.actuals.presentation.valueproviders.ActualsSlotValueProviderFactory.DischargeActuals"
            ownerEClass="com.mmxlabs.models.lng.actuals.DischargeActuals"
            referenceEClass="com.mmxlabs.models.lng.cargo.Slot">
      </valueProvider>
      <valueProvider
            factory="com.mmxlabs.models.lng.actuals.presentation.valueproviders.ActualsCargoValueProviderFactory"
            id="com.mmxlabs.models.lng.actuals.presentation.valueproviders.ActualsCargoValueProviderFactory"
            ownerEClass="com.mmxlabs.models.lng.actuals.CargoActuals"
            referenceEClass="com.mmxlabs.models.lng.cargo.Cargo">
      </valueProvider>
   </extension>
   <extension
         point="com.mmxlabs.models.ui.editorfactories">
      <editorFactory
            factoryClass="com.mmxlabs.models.lng.actuals.editorFactories.PenaltyTypeValueListInlineEditorFactory"
            id="com.mmxlabs.models.lng.actuals.editorFactories.PenaltyTypeValueListInlineEditorFactory">
         <FeatureAnyOf>
            <EDataTypeIs
                  EDataTypeName="PenaltyType"
                  EDataTypeURI="http://www.mmxlabs.com/models/lng/actuals/1/">
            </EDataTypeIs>
         </FeatureAnyOf>
      </editorFactory>
   </extension>
   <extension
         point="com.mmxlabs.license.features.PluginXMLEnablement">
      <PluginXMLEnablement
            feature="cargo-actuals"
            plugin.xml="actuals.plugin.xml">
      </PluginXMLEnablement>
   </extension>

</plugin>
