<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.models.lng.pricing.validation.base"
            mandatory="true"
            name="Pricing Validation">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/pricing/1/">
         </package>
         <constraints
               categories=" com.mmxlabs.models.lng.pricing.validation.base">
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
