<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2016
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.models.lng.pricing.validation.base"
            mandatory="true"
            name="Pricing Validation">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/pricing/1/">
         </package>
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/fleet/1/">
         </package>
         <constraints
               categories=" com.mmxlabs.models.lng.pricing.validation.base">
            <constraint
                  class="com.mmxlabs.models.lng.pricing.validation.NullReferenceConstraint"
                  id="com.mmxlabs.models.lng.pricing.validation.NullReferenceConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Null References"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The attribute(s) {0} must be set.
               </message>
               <description>
                  Some references should not be null.
               </description>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.pricing.validation.CanalCostConstraint"
                  id="com.mmxlabs.models.lng.pricing.validation.canalCosts"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Canal Costs"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="RouteCost">
               </target>
               <target
                     class="VesselClass">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.pricing.validation.IndexNameConstraint"
                  id="com.mmxlabs.models.lng.pricing.validation.IndexNameConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Index Name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="CommodityIndex">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.pricing.validation.CooldownPricingConstraint"
                  id="com.mmxlabs.models.lng.pricing.validation.cooldownPricing"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Cooldown Pricing"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="CostModel">
               </target>
               <target
                     class="CooldownPrice">
               </target>
            </constraint>
             <constraint
                  class="com.mmxlabs.models.lng.pricing.validation.SensibleIndexDateConstraint"
                  id="com.mmxlabs.models.lng.pricing.validation.SensibleIndexDateConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Commodity curve dates"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  Index {0} has data preceding {1}
               </message>
               <target
                     class="CommodityIndex">
               </target>
            </constraint>
             <constraint
                   class="com.mmxlabs.models.lng.pricing.validation.DerivedIndexValidExpressionConstraint"
                   id="com.mmxlabs.models.lng.pricing.validation.DerivedIndexValidExpressionConstraint"
                   isEnabledByDefault="true"
                   lang="java"
                   mode="Batch"
                   name="com.mmxlabs.models.lng.pricing.validation.DerivedIndexValidExpressionConstraint"
                   severity="ERROR"
                   statusCode="1">
                <message>
                   {0}
                </message>
                <target
                      class="NamedIndexContainer">
                </target>
             </constraint>
             <constraint
                  class="com.mmxlabs.models.lng.pricing.validation.PortCostsConstraint"
                  id="com.mmxlabs.models.lng.pricing.validation.PortCostsConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Port Costs Constraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="PortCost">
               </target>
            </constraint>
             <constraint
                   class="com.mmxlabs.models.lng.pricing.validation.UnitConversionConstraint"
                   id="com.mmxlabs.models.lng.pricing.validation.UnitConversionConstraint"
                   isEnabledByDefault="true"
                   lang="java"
                   mode="Batch"
                   name="Unit Conversion"
                   severity="ERROR"
                   statusCode="1">
                <message>
                   {0}
                </message>
                <target
                      class="UnitConversion">
                </target>
             </constraint>
             <constraint
                   class="com.mmxlabs.models.lng.pricing.validation.CurrencyCurveNameOverlapConstraint"
                   id="com.mmxlabs.models.lng.pricing.validation.CurrencyCurveNameOverlapConstraint"
                   isEnabledByDefault="true"
                   lang="java"
                   mode="Batch"
                   name="CurrencyCurveNameOverlapConstraint"
                   severity="ERROR"
                   statusCode="1">
                <message>
                   {0}
                </message>
                <target
                      class="PricingModel">
                </target>
             </constraint>
             
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
