<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2011
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.mmxlabs.com/models/lng/demo-manifest/1/"
            class="com.mmxlabs.shiplingo.platform.models.manifest.manifest.ManifestPackage"
            genModel="model/manifest.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.mmxlabs.models.lng.demo"
            name="LNG Wizards">
      </category>
      <wizard
            category="com.mmxlabs.models.lng.demo"
            class="com.mmxlabs.shiplingo.platform.models.manifest.wizards.EmptyScenarioWizard"
            icon="icons/sample.gif"
            id="com.mmxlabs.models.lng.demo.wizards.EmptyScenarioWizard"
            name="New Empty Scenario">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="scn"
            id="com.mmxlabs.models.lng.demo.scnfile"
            name="SCN File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.mmxlabs.models.ui.editorpart.JointModelEditorPart"
            default="true"
            extensions="scn"
            id="com.mmxlabs.models.lng.demo.scneditor"
            name="SCN Editor">
         <contentTypeBinding
               contentTypeId="com.mmxlabs.models.lng.demo.scnfile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.IEditorInput"
            class="com.mmxlabs.shiplingo.platform.models.manifest.adapters.JointModelAdapterFactory">
         <adapter
               type="com.mmxlabs.models.mmxcore.jointmodel.JointModel">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="com.mmxlabs.shiplingo.platform.models.manifest.adapters.JointModelAdapterFactory">
         <adapter
               type="com.mmxlabs.models.mmxcore.jointmodel.JointModel">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.mmxlabs.models.lng.demo.importWizards.sampleCategory"
            name="LNG Scenario Import">
      </category>
      <wizard
            category="com.mmxlabs.models.lng.demo.importWizards.sampleCategory"
            class="com.mmxlabs.shiplingo.platform.models.manifest.importWizards.ImportCSVWizard"
            icon="icons/sample.gif"
            id="com.mmxlabs.models.lng.demo.importWizards.ImportCSVWizard"
            name="Import CSV">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
     <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.mmxlabs.shiplingo.platform.models.manifest.wizards.RandomScenarioWizard"
            id="com.mmxlabs.shiplingo.platform.models.manifest.wizards.RandomScenarioWizard"
            name="New Random Scenario">
      </wizard>
   </extension>

</plugin>
