<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.mmxlabs.models.util.import.attributes" name="Attribute Importers" schema="schema/com.mmxlabs.models.util.import.attributes.exsd"/>
   <extension-point id="com.mmxlabs.models.util.import.classes" name="Class Importer Extensions" schema="schema/com.mmxlabs.models.util.import.classes.exsd"/>
   <extension-point id="com.mmxlabs.models.util.import.submodels" name="Submodel Importer Extensions" schema="schema/com.mmxlabs.models.util.import.submodels.exsd"/>
   <extension-point id="com.mmxlabs.models.util.import.postmodelimporters" name="Post Model Importers" schema="schema/com.mmxlabs.models.util.import.postmodelimporters.exsd"/>
   <extension-point id="com.mmxlabs.models.util.import.extramodelimporters" name="Extra Model Importers" schema="schema/com.mmxlabs.models.util.import.extramodelimporters.exsd"/>
   <extension
         point="com.mmxlabs.models.util.import.attributes">
      <attributeImporter
            ID="com.mmxlabs.models.util.baseAttributeImporter"
            attributeImporterClass="com.mmxlabs.models.util.importer.impl.DefaultAttributeImporter">
         <dataType
               attributeTypeName="EInt"
               attributeTypeURI="http://www.eclipse.org/emf/2002/Ecore">
         </dataType>
         <dataType
               attributeTypeName="ELong"
               attributeTypeURI="http://www.eclipse.org/emf/2002/Ecore">
         </dataType>
         <dataType
               attributeTypeName="EFloat"
               attributeTypeURI="http://www.eclipse.org/emf/2002/Ecore">
         </dataType>
         <dataType
               attributeTypeName="EDouble"
               attributeTypeURI="http://www.eclipse.org/emf/2002/Ecore">
         </dataType>
         <dataType
               attributeTypeName="EShort"
               attributeTypeURI="http://www.eclipse.org/emf/2002/Ecore">
         </dataType>
         <dataType
               attributeTypeName="EBoolean"
               attributeTypeURI="http://www.eclipse.org/emf/2002/Ecore">
         </dataType>
         <dataType
               attributeTypeName="EString"
               attributeTypeURI="http://www.eclipse.org/emf/2002/Ecore">
         </dataType>
         <dataType
               attributeTypeName="EByte"
               attributeTypeURI="http://www.eclipse.org/emf/2002/Ecore">
         </dataType>
         <dataType
               attributeTypeName="EChar"
               attributeTypeURI="http://www.eclipse.org/emf/2002/Ecore">
         </dataType>
         <dataType
               attributeTypeName="LocalDateTime"
               attributeTypeURI="http://www.mmxlabs.com/models/datetime/1">
         </dataType>
         <dataType
               attributeTypeName="LocalDate"
               attributeTypeURI="http://www.mmxlabs.com/models/datetime/1">
         </dataType>
         <dataType
               attributeTypeName="YearMonth"
               attributeTypeURI="http://www.mmxlabs.com/models/datetime/1">
         </dataType>
      </attributeImporter>
   </extension>
   <extension
         point="com.mmxlabs.models.util.import.classes">
      <classImporter
            ID="com.mmxlabs.models.util.baseClassImporter"
            classImporterClass="com.mmxlabs.models.util.importer.impl.DefaultClassImporter"
            eClassName="org.eclipse.emf.ecore.EObject"
            inheritable="true">
      </classImporter>
   </extension>

</plugin>
