<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.mmxlabs.models.lng.optimiser.presentation.OptimiserModelWizardID"
            name="%_UI_OptimiserModelWizard_label"
            class="com.mmxlabs.models.lng.optimiser.presentation.OptimiserModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OptimiserModelFile.gif">
         <description>%_UI_OptimiserModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.mmxlabs.models.lng.optimiser.presentation.OptimiserEditorID"
            name="%_UI_OptimiserEditor_label"
            icon="icons/full/obj16/OptimiserModelFile.gif"
            extensions="optimiser"
            class="com.mmxlabs.models.lng.optimiser.presentation.OptimiserEditor"
            contributorClass="com.mmxlabs.models.lng.optimiser.presentation.OptimiserActionBarContributor">
      </editor>
   </extension>

	
	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
		<componentHelper
			id="com.mmxlabs.models.lng.optimiser.helpers.OptimiserModel"
			helperClass="com.mmxlabs.models.lng.optimiser.presentation.composites.OptimiserModelComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.optimiser.OptimiserModel" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.optimiser.helpers.OptimiserSettings"
			helperClass="com.mmxlabs.models.lng.optimiser.presentation.composites.OptimiserSettingsComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.optimiser.OptimiserSettings" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.optimiser.helpers.Objective"
			helperClass="com.mmxlabs.models.lng.optimiser.presentation.composites.ObjectiveComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.optimiser.Objective" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.optimiser.helpers.Constraint"
			helperClass="com.mmxlabs.models.lng.optimiser.presentation.composites.ConstraintComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.optimiser.Constraint" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.optimiser.helpers.OptimisationRange"
			helperClass="com.mmxlabs.models.lng.optimiser.presentation.composites.OptimisationRangeComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.optimiser.OptimisationRange" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.optimiser.helpers.AnnealingSettings"
			helperClass="com.mmxlabs.models.lng.optimiser.presentation.composites.AnnealingSettingsComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.optimiser.AnnealingSettings" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.optimiser.helpers.Argument"
			helperClass="com.mmxlabs.models.lng.optimiser.presentation.composites.ArgumentComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.optimiser.Argument" />
		
	</extension>
 <extension
       point="com.mmxlabs.models.util.import.submodels">
   `<submodelImporter
          ID="com.mmxlabs.models.lng.optimiser.editor.optimiserModelImporter"
          subModelClassName="com.mmxlabs.models.lng.optimiser.OptimiserModel"
          subModelImporterClass="com.mmxlabs.models.lng.optimiser.importers.OptimiserModelImporter">
    </submodelImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.modelfactories">
    <factory
          ID="com.mmxlabs.models.lng.optimiser.editor.settingsFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Settings"
          targetEClass="com.mmxlabs.models.lng.optimiser.OptimiserSettings">
    </factory>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.jointmodeleditors">
    <jointModelEditor
          id="com.mmxlabs.models.lng.optimiser.editor.optimiserEditor"
          implementation="com.mmxlabs.models.lng.optimiser.ui.editorpart.OptimiserModelEditorContribution"
          priority="9"
          subModelClass="com.mmxlabs.models.lng.optimiser.OptimiserModel">
    </jointModelEditor>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.displaycompositefactories">
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.optimiser.OptimiserSettings"
          factory="com.mmxlabs.models.lng.optimiser.ui.displaycomposites.OptimiserSettingsCompositeFactory"
          id="com.mmxlabs.models.lng.optimiser.editor.settingsCompositeFactory"
          inheritable="false">
    </displayCompositeFactory>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          category="com.mmxlabs.models.lng.views.logical"
          class="com.mmxlabs.models.lng.optimiser.editor.views.OptimiserSettingsView"
          id="com.mmxlabs.models.lng.optimiser.editor.views.OptimiserSettingsView"
          name="Optimiser Settings"
          restorable="true">
    </view>
 </extension>
</plugin>
