<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2022
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="scn"
            id="com.mmxlabs.shiplingo.platform.models.manifest.scnfile"
            name="SCN File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.mmxlabs.models.ui.editorpart.JointModelEditorPart"
            contributorClass="com.mmxlabs.models.ui.editorpart.JointModelEditorContributor"
            default="true"
            extensions="scn,sc2"
            id="com.mmxlabs.models.lng.demo.scneditor"
            name="SCN Editor">
         <contentTypeBinding
               contentTypeId="com.mmxlabs.shiplingo.platform.models.manifest.scnfile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.mmxlabs.models.lng.demo.importWizards.sampleCategory"
            name="LNG Scenario Import">
      </category>
      <wizard
            category="com.mmxlabs.models.lng.demo.importWizards.sampleCategory"
            class="com.mmxlabs.models.lng.scenario.importWizards.ImportCSVWizard"
            id="com.mmxlabs.models.lng.demo.importWizards.ImportCSVWizard"
            name="Import CSV">
         <description>
            Import an LNG optimiser scenario from several CSV files.
         </description>
      </wizard>
   </extension>
     <extension
           point="org.eclipse.ui.exportWizards">
        <wizard
              category="com.mmxlabs.shiplingo.platform.models.manifest.exportWizards"
              class="com.mmxlabs.models.lng.scenario.exportWizards.ExportCSVWizard"
              id="com.mmxlabs.shiplingo.platform.models.manifest.csvExportWizard"
              name="Export CSV">
        </wizard>
        <wizard
              category="com.mmxlabs.shiplingo.platform.models.manifest.exportWizards"
              class="com.mmxlabs.models.lng.scenario.exportWizards.ExportLiNGOScenarioWizard"
              id="com.mmxlabs.models.lng.scenario.exportWizards.ExportLiNGOScenarioWizard"
              name="Export scenario">
        </wizard>
        <category
              id="com.mmxlabs.shiplingo.platform.models.manifest.exportWizards"
              name="LNG Scenario Export">
        </category>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
           <!-- Disabling the scenario browser import/export menus
         <menuContribution
               allPopups="false"
               locationURI="popup:com.mmxlabs.scenario.service.ui.navigator?after=importers">
            <command
                  commandId="com.mmxlabs.shiplingo.platform.models.optimisation.ImportCSVScenario"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <and>
                              <instanceof
                                    value="com.mmxlabs.scenario.service.model.Folder">
                              </instanceof>
                              <test
                                    forcePluginActivation="true"
                                    property="com.mmxlabs.scenario.service.ui.caps.import">
                              </test>
                           </and>
                           <or></or>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:com.mmxlabs.scenario.service.ui.navigator?after=exporters">
            <command
                  commandId="com.mmxlabs.shiplingo.platform.models.optimisation.ExportCSVScenario"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <or>
                              <instanceof
                                    value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                              </instanceof>
                           </or>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
         </menuContribution> 
         -->
         <menuContribution
               allPopups="false"
               locationURI="menu:file?after=additions">
            <menu
                  id="file_import"
                  label="Import scenario from">
            </menu>
            <menu
                  id="file_export"
                  label="Export scenario to">
            </menu>
         </menuContribution>
         <!-- Import menu -->
         <menuContribution
               allPopups="false"
               locationURI="menu:file_import">
  				<command
                  commandId="com.mmxlabs.shiplingo.platform.models.optimisation.ImportCSVScenario"
                  label="CSV"
                  style="push">
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.importWizards.ImportLiNGOFileWizardHandler"
                  label=".lingo"
                  style="push">
            </command>
         </menuContribution>
         <!-- Export menu -->
         <menuContribution
               allPopups="false"
               locationURI="menu:file_export">
               <command
                  commandId="com.mmxlabs.shiplingo.platform.models.optimisation.ExportCSVScenario"
                  label="CSV"
                  style="push">
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.exportWizards.ExportLiNGOScenarioWizardHandler"
                  label=".lingo"
                  style="push">
            </command>
         </menuContribution>
         <!-- Data Menu-->
         <menuContribution
               allPopups="false"
               locationURI="menu:data?after=dataImport">
            <command
                  commandId="EmptyImportCommand"
                  label="Import:"
                  style="push">
            </command>
            <menu
                  id="data_curves"
                  label="Curves">
            </menu>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.paperdeals"
                  label="Paper deals"
                  style="push">
 				<visibleWhen
                     checkEnabled="false">
                  <test
                        args="features:paperdeals"
                        forcePluginActivation="true"
                        property="com.mmxlabs.license.features.enablement">
                  </test>
               </visibleWhen>                  
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.nominations"
                  label="Nominations"
                  style="push">
 				<visibleWhen
                     checkEnabled="false">
                  <test
                        args="features:nominations"
                        forcePluginActivation="true"
                        property="com.mmxlabs.license.features.enablement">
                  </test>
               </visibleWhen>  
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.importWizards.BulkImportCargoHandler"
                  label="Cargoes"
                  style="push">
            </command>
            <menu
                  id="data_ref"
                  label="Other">
            </menu>
            <menu
                  id="data_ref_mmx"
                  label="LiNGO DB">
            </menu>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="menu:data?after=dataExport">
            <command
                  commandId="EmptyExportCommand"
                  label="Export:"
                  style="push">
            </command>
            <command
                  commandId="com.mmxlabs.shiplingo.platform.models.optimisation.ExportAllCurves"
                  label="Combined curves"
                  style="push">                
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.export.wizards.anonymisationmap"
                  label="Anonymisation map"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <test
                        args="features:anonymise-scenario"
                        forcePluginActivation="true"
                        property="com.mmxlabs.license.features.enablement">
                  </test>
               </visibleWhen>
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="menu:data?after=additions">
            <command
                  commandId="EmptyCleanUpCommand"
                  label="Clean-up:"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        args="features:repair-delete-all-empty-cargoes"
                        forcePluginActivation="true"
                        property="com.mmxlabs.license.features.enablement">
                  </test>
               </visibleWhen>  
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.actions.RemoveEmptyCargoesHandler"
                  label="Remove empty cargoes"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        args="features:repair-delete-all-empty-cargoes"
                        forcePluginActivation="true"
                        property="com.mmxlabs.license.features.enablement">
                  </test>
               </visibleWhen>             
            </command>
         </menuContribution>
         
         <menuContribution
               allPopups="false"
               locationURI="menu:data_curves">
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.unified"
                  label="Combined curves"
                  style="push">
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.currency"
                  label="Currency curves"
                  style="push">
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.charter"
                  label="Charter curves"
                  style="push">
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.commodity"
                  label="Commodity curves"
                  style="push">
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.basefuel"
                  label="Base fuel curves"
                  style="push">
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.settledprices"
                  label="Settled prices"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        args="features:paperdeals"
                        forcePluginActivation="true"
                        property="com.mmxlabs.license.features.enablement">
                  </test>
               </visibleWhen>
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="menu:data_ref">
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.pricingcalendars"
                  label="Pricing calendars"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        args="features:paperdeals"
                        forcePluginActivation="true"
                        property="com.mmxlabs.license.features.enablement">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.holidaycalendars"
                  label="Holiday calendars"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        args="features:paperdeals"
                        forcePluginActivation="true"
                        property="com.mmxlabs.license.features.enablement">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.ui.import.inventory"
                  label="Inventory"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        args="features:inventory-model"
                        forcePluginActivation="true"
                        property="com.mmxlabs.license.features.enablement">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.portcosts"
                  label="Port costs"
                  style="push">
            </command>
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.anonymisationmap"
                  label="Anonymisation map"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <test
                        args="features:anonymise-scenario"
                        forcePluginActivation="true"
                        property="com.mmxlabs.license.features.enablement">
                  </test>
               </visibleWhen>
            </command>
         </menuContribution>
         <!--
          <menuContribution
               allPopups="false"
               locationURI="menu:data?after=com.mmxlabs.models.lng.scenario.importWizards.BulkImportCargoHandler">
            <command
                  commandId="com.mmxlabs.models.lng.scenario.mergeWizards.SharedScenarioDataImport"
                  label="Shared Scenario Data"
                  style="push">
            </command>
         </menuContribution>
         !-->
         <menuContribution
               allPopups="false"
               locationURI="menu:window?after=windowCustomStart">
            <command
                  commandId="com.mmxlabs.lingo.reports.views.schedule.ConfigureCustomReportsHandler"
                  label="Reports Manager..."
                  style="push">
            </command>
         </menuContribution>
     </extension>
      <extension
            point="org.eclipse.ui.commands">
            
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.actions.RemoveEmptyCargoesHandler"
               id="com.mmxlabs.models.lng.scenario.actions.RemoveEmptyCargoesHandler"
               name="Remove empty cargoes in scenario">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.ImportCSVWizardHandler"
               id="com.mmxlabs.shiplingo.platform.models.optimisation.ImportCSVScenario"
               name="Import Scenario from CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.exportWizards.ExportCSVWizardHandler"
               id="com.mmxlabs.shiplingo.platform.models.optimisation.ExportCSVScenario"
               name="Export Scenario as CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.exportWizards.ExportCSVWizardHandler"
               id="com.mmxlabs.shiplingo.platform.models.optimisation.ExportAllCurves"
               name="Export all curves as CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.exportWizards.ExportLiNGOScenarioWizardHandler"
               id="com.mmxlabs.models.lng.scenario.exportWizards.ExportLiNGOScenarioWizardHandler"
               name="Export Scenario as .lingo file">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.ImportLiNGOFileWizardHandler"
               id="com.mmxlabs.models.lng.scenario.importWizards.ImportLiNGOFileWizardHandler"
               name="Import Scenario as .lingo file">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.BulkImportCommodityCurveHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.commodity"
               name="Bulk import commodity curves from CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.BulkImportCharterCurveHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.charter"
               name="Bulk import charter curves from CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.BulkImportBaseFuelCurveHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.basefuel"
               name="Bulk import base fuel curves from CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.settledprices.ImportSettledPricesHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.settledprices"
               name="Import settled prices from CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.paperdeals.ImportPaperDealsHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.paperdeals"
               name="Import paper deals from CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.holidaycalendars.ImportHolidayCalendarsHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.holidaycalendars"
               name="Import holiday calendars from CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.pricingcalendars.ImportPricingCalendarsHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.pricingcalendars"
               name="Import pricing calendars from CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.portcosts.ImportPortCostsHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.portcosts"
               name="Import port costs from CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.actions.anonymisation.ImportAnonymisationMapHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.anonymisationmap"
               name="Import anonymisation map from CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.actions.anonymisation.ExportAnonymisationMapHandler"
               id="com.mmxlabs.models.lng.scenario.export.wizards.anonymisationmap"
               name="Export anonymisation map to CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.nominations.ImportNominationsHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.nominations"
               name="Import nominations from CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.BulkImportUnifiedCurvesHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.unified"
               name="Bulk import all curves from CSV">
         </command>
         <command
               defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.BulkImportCargoHandler"
               id="com.mmxlabs.models.lng.scenario.importWizards.BulkImportCargoHandler"
               name="Bulk Import Cargoes from CSV">
         </command>
         <command
                 defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.BulkImportCurrencyCurveHandler"
                 id="com.mmxlabs.models.lng.scenario.import.wizards.currency"
                 name="Bulk import currency curves from CSV">
           </command>
           <command
                 defaultHandler="com.mmxlabs.models.lng.scenario.importWizards.inventory.ImportInventoryHandler"
                 id="com.mmxlabs.models.lng.scenario.ui.import.inventory"
                 name="Import inventory">
           </command>
           <command
                 defaultHandler="com.mmxlabs.models.lng.scenario.actions.RollForwardHandler"
                 description="Update the start of the scenario by removing old data and freezing near-term data."
                 id="com.mmxlabs.models.lng.scenario.ui.rollforward"
                 name="Roll Forward">
           </command>
      </extension>
      <extension
            point="org.eclipse.ui.commandImages">
         <image
               commandId="com.mmxlabs.models.lng.scenario.ui.rollforward"
               icon="icons:/icons/24x24/roll_forward.png"
               disabledIcon="icons:/icons/24x24/roll_forward_disabled.png">
         </image>
      </extension>      
      <extension
            point="com.mmxlabs.models.util.import.extramodelimporters">
         <extramodelimporter
               class="com.mmxlabs.models.lng.scenario.ui.importers.PromptPeriodImporter">
         </extramodelimporter>
      </extension>
      <extension
            point="com.mmxlabs.license.features.PluginXMLEnablement">
         <PluginXMLEnablement
               feature="roll-forward"
               plugin.xml="roll-forward-plugin.xml">
         </PluginXMLEnablement>
      </extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         defaultHandler="com.mmxlabs.models.lng.scenario.actions.CreateLongTermCommandHandler"
         id="com.mmxlabs.models.lng.scenarii.ui.lt.create"
         name="Convert to LT scenario">
   </command>
</extension>      
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="popup:com.mmxlabs.scenario.service.ui.navigator?before=optimisation">
      <command
            commandId="com.mmxlabs.models.lng.scenarii.ui.lt.create"
            style="push"
            tooltip="Convert to Long Term scenario">
            <visibleWhen
                        checkEnabled="false">
                     <and>
                        <with
                              variable="selection">
                           <iterate
                                 ifEmpty="false">
                              <instanceof
                                    value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                              </instanceof>
                                                   <not><test
                          property="com.mmxlabs.scenario.service.ui.flags.readonly"
                          forcePluginActivation="true">
                     </test></not>

                           </iterate>
                        </with>
                        <count
                              value="1">
                        </count>
						<test
	                        args="features:longterm"
	                        forcePluginActivation="true"
                        	property="com.mmxlabs.license.features.enablement">
						</test>
                     </and>
                  </visibleWhen>
      </command>
   </menuContribution>
</extension>
<extension
      point="org.eclipse.emf.validation.traversal">
   <traversalStrategy
         class="com.mmxlabs.models.lng.scenario.LNGRecursiveValidationStrategy"
         namespaceUri="http://www.mmxlabs.com/models/lng/scenario/1/">
      <eclass
            name="LNGScenarioModel">
      </eclass>
   </traversalStrategy>
</extension>      
</plugin>
