<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.models.lng.commercial.validation.base"
            mandatory="true"
            name="Commercial Validation">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/commercial/1/">
         </package>
         <constraints
               categories=" com.mmxlabs.models.lng.commercial.validation.base">
            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.NullReferenceConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Null Reference Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The attribute(s) {0} must be set.
               </message>
               <target
                     class="Contract">
               </target>
               <target
                     class="NotionalBallastParameters">
               </target>
               <target
                     class="CommercialModel">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.RedirectionPurchaseContractConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation.RedirectionPurchaseContractConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Redirection Purchase Contract Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="RedirectionPurchaseContract">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.PriceExpressionContractConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation.PriceExpressionContractConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Price Expression Contract Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="PriceExpressionContract">
               </target>
            </constraint>
            
            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.ContractCvRangeConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation.ContractCvRangeConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Price Expression Contract Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SalesContract">
               </target>
            </constraint>

            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.ContractPortsConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation.ContractPortsConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Contract Port Contrraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
