<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.models.lng.commercial.validation.base"
            mandatory="true"
            name="Commercial Validation">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/commercial/1/">
         </package>
         <constraints
               categories=" com.mmxlabs.models.lng.commercial.validation.base">
            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.NullReferenceConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Null Reference Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The attribute(s) {0} must be set.
               </message>
               <target
                     class="Contract">
               </target>
               <target
                     class="CommercialModel">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.ExpressionPriceParametersConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation.PriceExpressionParametersConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Price Expression Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="ExpressionPriceParameters">
               </target>
            </constraint>
            
            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.ContractCvRangeConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation.ContractCvRangeConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Contract CV Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SalesContract">
               </target>
            </constraint>

            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.EntityBookTaxRateRangeConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation.EntityTaxRateRangeConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Entity Tax Rate Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="BaseEntityBook">
               </target>
            </constraint>

            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.ContractPortsConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation.ContractPortsConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Contract Port Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.PurchaseContractCvConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation.PurchaseContractCvConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="PurchaseContractCvConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="PurchaseContract">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.ContractQuantityRangeConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation.ContractQuantityRangeConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Contract Quantity Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Contract">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.commercial.validation.DateShiftExpressionPriceParametersConstraint"
                  id="com.mmxlabs.models.lng.commercial.validation.DateShiftExpressionPriceParametersConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="DateShiftExpressionPriceParametersConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="DateShiftExpressionPriceParameters">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
