<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.models.lng.assignment.validation.base"
            mandatory="true"
            name="Assignment Validation">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/cargo/1/">
         </package>
         <constraints
               categories=" com.mmxlabs.models.lng.assignment.validation.base">
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.VesselAssignmentConstraint"
                  id="com.mmxlabs.models.lng.input.validation.VesselAssignmentConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Vessel Assignment Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  description body text
               </description>
               <target
                     class="AssignableElement">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.LockedAssignmentWiringConstraint"
                  id="com.mmxlabs.models.lng.input.validation.LockedAssignmentWiringConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Locked Assignment Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  description body text
               </description>
               <target
                     class="AssignableElement">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.ElementAssignmentConstraint"
                  id="com.mmxlabs.models.lng.input.validation.ElementAssignmentConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Element Assignment Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="AssignableElement">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.AllowedVesselAssignmentConstraint"
                  id="com.mmxlabs.models.lng.input.validation.AllowedVesselAssignmentConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Allowed Vessel Assignment Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="AssignableElement">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.InaccessiblePortsConstraint"
                  id="com.mmxlabs.models.lng.assignment.validation.InaccessiblePortsConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Inaccessible Ports Constraint"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  {0}
               </message>
               <target
                     class="AssignableElement">
               </target>
               <target
                     class="Slot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.VesselAvailabilityConstraint"
                  id="com.mmxlabs.models.lng.assignment.validation.VesselAvailabilityConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Vessel Availability Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="AssignableElement">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.VesselAvailabilityOptionalFleetConstraint"
                  id="com.mmxlabs.models.lng.assignment.validation.VesselAvailabilityOptionalFleetConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Vessel Availability Optional Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="VesselAvailability">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.NominatedVesselConstraint"
                  id="com.mmxlabs.models.lng.assignment.validation.NominatedVesselConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="NominatedVesselConstraint"
                  severity="ERROR"
                  statusCode="1">
               <target
                     class="Slot">
               </target>
               <message>
                  {0}
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.AssignableElementMissingDistancesConstraint"
                  id="com.mmxlabs.models.lng.assignment.validation.ScheduledCargoMissingDistancesConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="ScheduledCargoMissingDistancesConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
            <category
            id="com.mmxlabs.models.lng.assignment.validation.optimisation"
            mandatory="true"
            name="Assignment Validation (Optimisation)">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/cargo/1/">
         </package>
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/scenario/1/">
         </package>
         <constraints
               categories="com.mmxlabs.models.lng.assignment.validation.optimisation">
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.ScheduleLatenessConstraint"
                  id="com.mmxlabs.models.lng.assignment.validation.ScheduleLatenessConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Schedule Lateness Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="LNGScenarioModel">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
