<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.models.lng.assignment.validation.base"
            mandatory="true"
            name="Assignment Validation">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/assignment/1/">
         </package>
         <constraints
               categories=" com.mmxlabs.models.lng.assignment.validation.base">
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.VesselAssignmentConstraint"
                  id="com.mmxlabs.models.lng.input.validation.VesselAssignmentConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Vessel Assignment Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  description body text
               </description>
               <target
                     class="ElementAssignment">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.CargoTypeAssignmentConstraint"
                  id="com.mmxlabs.models.lng.input.validation.CargoTypeAssignmentConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Cargo Type Assignment Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  description body text
               </description>
               <target
                     class="ElementAssignment">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.LockedAssignmentWiringConstraint"
                  id="com.mmxlabs.models.lng.input.validation.LockedAssignmentWiringConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Locked Assignment Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  description body text
               </description>
               <target
                     class="ElementAssignment">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.ElementAssignmentConstraint"
                  id="com.mmxlabs.models.lng.input.validation.ElementAssignmentConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Element Assignment Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  description body text
               </description>
               <target
                     class="ElementAssignment">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.UniqueElementAssignmentConstraint"
                  id="com.mmxlabs.models.lng.input.validation.UniqueElementAssignmentConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Unique Element Assignment Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  description body text
               </description>
               <target
                     class="AssignmentModel">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.AllowedVesselAssignmentConstraint"
                  id="com.mmxlabs.models.lng.input.validation.AllowedVesselAssignmentConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Allowed Vessel Assignment Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="ElementAssignment">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.InaccessiblePortsConstraint"
                  id="com.mmxlabs.models.lng.assignment.validation.InaccessiblePortsConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Inaccessible Ports Constraint"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  {0}
               </message>
               <target
                     class="ElementAssignment">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.CargoOverlapConstraint"
                  id="com.mmxlabs.models.lng.assignment.validation.CargoOverlapConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Cargo Overlap"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="ElementAssignment">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
            <category
            id="com.mmxlabs.models.lng.assignment.validation.optimisation"
            mandatory="true"
            name="Assignment Validation (Optimisation)">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/assignment/1/">
         </package>
         <constraints
               categories="com.mmxlabs.models.lng.assignment.validation.optimisation">
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.ScheduleLatenessConstraint"
                  id="com.mmxlabs.models.lng.assignment.validation.ScheduleLatenessConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Schedule Latenss Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="AssignmentModel">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.assignment.validation.CargoVolumeVesselAssignmentConstraint"
                  id="com.mmxlabs.models.lng.assignment.validation.CargoVolumeVesselAssignmentConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Cargo / Vessel Volume Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="ElementAssignment">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
