<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="LiNGO Common Platform Target - (Mars SR1)" sequenceNumber="68">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.annotation" version="2.2.400.v20191120-1313"/>
<unit id="org.eclipse.jdt.annotation.source" version="2.2.400.v20191120-1313"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.swt.tools.feature.feature.group" version="0.0.0"/>
<repository id="mmxlabs-releases" location="http://nexus.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/org.eclipse.updates.201912/R-4.14-201912100610/org.eclipse.updates.201912-R-4.14-201912100610.zip-unzip/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient45.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
<unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
<repository id="mmxlabs-releases" location="http://nexus.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/org.eclipse.201912/201912181000/org.eclipse.201912-201912181000.zip-unzip/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.classic" version="0.0.0"/>
<unit id="ch.qos.logback.classic.source" version="0.0.0"/>
<unit id="ch.qos.logback.core" version="0.0.0"/>
<unit id="ch.qos.logback.core.source" version="0.0.0"/>
<unit id="ch.qos.logback.slf4j" version="0.0.0"/>
<unit id="ch.qos.logback.slf4j.source" version="0.0.0"/>

<unit id="javax.activation" version="0.0.0"/>
<unit id="javax.activation.source" version="0.0.0"/>
<unit id="javax.jms" version="0.0.0"/>
<unit id="javax.jms.source" version="0.0.0"/>
<unit id="javax.wsdl" version="0.0.0"/>
<unit id="javax.wsdl.source" version="0.0.0"/>
<unit id="javax.xml" version="0.0.0"/>
<unit id="javax.xml" version="0.0.0"/>
<unit id="javax.xml.bind" version="0.0.0"/>
<unit id="javax.xml.soap" version="0.0.0"/>
<unit id="javax.xml.stream" version="0.0.0"/>
<unit id="javax.xml.ws" version="0.0.0"/>
<unit id="javax.xml.ws" version="0.0.0"/>
<unit id="org.aopalliance" version="0.0.0"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
<unit id="org.apache.commons.cli.source" version="1.2.0.v201404270220"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.math" version="0.0.0"/>
<unit id="org.apache.commons.math.source" version="0.0.0"/>
<unit id="org.apache.commons.compress" version="1.18.0.v20181121-2221"/>
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="org.apache.log4j.source" version="0.0.0"/>
<unit id="org.dom4j" version="1.6.1.v20190321-1528"/>
<unit id="org.dom4j.source" version="1.6.1.v20190321-1528"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v20180420-1519"/>
<unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.generator.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
<unit id="org.hamcrest.library.source" version="1.3.0.v20180524-2246"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.slf4j.api" version="1.7.10.v20170428-1633"/>
<unit id="org.slf4j.ext" version="1.7.10.v20180919-1350"/>
	<unit id="org.junit.jupiter.api" version="0.0.0"/>
	<unit id="org.junit.jupiter.engine" version="0.0.0"/>
	<unit id="org.junit.jupiter.migrationsupport" version="0.0.0"/>
	<unit id="org.junit.jupiter.params" version="0.0.0"/>
	<unit id="org.junit.platform.commons" version="0.0.0"/>
	<unit id="org.junit.platform.engine" version="0.0.0"/>
	<unit id="org.junit.platform.launcher" version="0.0.0"/>
	<unit id="org.junit.platform.runner" version="0.0.0"/>
	<unit id="org.junit.platform.suite.api" version="0.0.0"/>
	<unit id="org.junit.vintage.engine" version="0.0.0"/>
<repository id="mmxlabs-releases" location="http://nexus.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/orbit/orbit-buildrepo/R20191126223242/orbit-buildrepo-R20191126223242.zip-unzip/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.formattedtext" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.grid" version="0.0.0"/>
<repository id="mmxlabs-releases" location="http://nexus.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/nebula/widgets/p2/repository/com.mmxlabs.nebula.widgets.p2/1.1.1/com.mmxlabs.nebula.widgets.p2-1.1.1-p2-repo.zip-unzip/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.10.0"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.10.0"/>
<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.10.0"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-jsr310" version="2.10.0"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-jdk8" version="2.10.0"/>
<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-csv" version="2.10.0"/>
<unit id="com.google.inject" version="4.2.2"/>
<unit id="com.googlecode.json-simple" version="1.1.1"/>
<unit id="com.googlecode.json-simple.source" version="1.1.1.R2"/>
<unit id="de.flapdoodle.embed.mongo" version="2.0.0"/>
<unit id="de.flapdoodle.embed.process" version="2.0.1"/>
<unit id="net.bytebuddy.byte-buddy" version="1.9.9"/>
<unit id="net.bytebuddy.byte-buddy-agent" version="1.9.9"/>
<unit id="org.apache.commons.collections4" version="4.1.0"/>
<unit id="org.apache.commons.io" version="2.6.0"/>
<unit id="org.apache.commons.lang3" version="3.7.0"/>
<unit id="org.apache.commons.math3" version="3.5.0"/>
<unit id="org.apache.shiro.core" version="0.0.0"/>
<unit id="org.mockito.mockito-core" version="2.24.0"/>
<unit id="org.objenesis" version="2.6.0"/>
<unit id="org.ops4j.peaberry" version="1.3.0"/>
<unit id="org.ops4j.peaberry.activation" version="1.3.0"/>
<unit id="org.ops4j.peaberry.activation.source" version="1.3.0"/>
<unit id="org.ops4j.peaberry.eclipse" version="1.3.0"/>
<unit id="org.ops4j.peaberry.eclipse.source" version="1.3.0"/>
<unit id="org.ops4j.peaberry.source" version="1.3.0"/>
<unit id="org.swtchart" version="0.10.0.v20160212"/>
<unit id="org.swtchart.ext" version="0.10.0.v20160212"/>
<unit id="com.google.guava" version="25.1.0.jre"/>
<unit id="org.apache.servicemix.bundles.poi" version="0.0.0"/>
<unit id="org.apache.servicemix.bundles.xmlbeans" version="0.0.0"/>
<repository id="mmxlabs-releases" location="http://nexus.mmxlabs.com/nexus/service/local/repositories/mmxlabs-v2-unzip/content/com/mmxlabs/p2/repository/mmxlabs-external/1.0.31/mmxlabs-external-1.0.31-p2-repo.zip-unzip/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.mmxlabs.models.datetime.feature.feature.group" version="0.0.0"/>
<repository id="mmxlabs-releases" location="http://nexus.mmxlabs.com/nexus/service/local/repositories/mmxlabs-v2-unzip/content/com/mmxlabs/models/datetime/com.mmxlabs.models.datetime.p2/2.1.6.RELEASE/com.mmxlabs.models.datetime.p2-2.1.6.RELEASE.zip-unzip"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.ortools.feature.feature.group" version="0.0.0"/>
<repository id="mmxlabs-releases" location="http://nexus.mmxlabs.com/nexus/service/local/repositories/mmxlabs-v2-unzip/content/com/google/ortools/com.google.ortools.p2/7.5.7466.jdk11/com.google.ortools.p2-7.5.7466.jdk11.zip-unzip"/>
</location>
</locations>
</target>
