<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="LiNGO Common Platform Target - (Mars SR1)" sequenceNumber="5">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.annotation" version="2.0.100.v20150311-1658"/>
<unit id="org.eclipse.jdt.annotation.source" version="2.0.100.v20150311-1658"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5/R-4.5.1-201509040015/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.source.feature.group" version="0.0.0"/>
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/org.eclipse.mars/201602261000/org.eclipse.mars-201602261000.zip-unzip/" id="mmxlabs-releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="org.apache.log4j.source" version="0.0.0"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.library" version="1.3.0.v201505072020"/>
<unit id="org.hamcrest.library.source" version="1.3.0.v201505072020"/>
<unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.generator.source" version="1.3.0.v201305210900"/>
<unit id="javax.activation" version="0.0.0"/>
<unit id="javax.activation.source" version="0.0.0"/>
<unit id="javax.xml.soap" version="0.0.0"/>
<unit id="javax.xml.ws" version="0.0.0"/>
<unit id="javax.xml.stream" version="0.0.0"/>
<unit id="javax.xml" version="0.0.0"/>
<unit id="javax.wsdl" version="0.0.0"/>
<unit id="javax.wsdl.source" version="0.0.0"/>
<unit id="javax.xml.bind" version="0.0.0"/>
<unit id="org.aopalliance" version="0.0.0"/>
<unit id="com.google.inject.source" version="0.0.0"/>
<unit id="com.google.inject" version="0.0.0"/>
<unit id="javax.xml.ws" version="0.0.0"/>
<unit id="javax.xml" version="0.0.0"/>
<unit id="javax.jms" version="0.0.0"/>
<unit id="javax.jms.source" version="0.0.0"/>
<unit id="org.apache.commons.math" version="0.0.0"/>
<unit id="org.apache.commons.math.source" version="0.0.0"/>
<unit id="ch.qos.logback.classic" version="0.0.0"/>
<unit id="ch.qos.logback.classic.source" version="0.0.0"/>
<unit id="ch.qos.logback.core" version="0.0.0"/>
<unit id="ch.qos.logback.core.source" version="0.0.0"/>
<unit id="ch.qos.logback.slf4j" version="0.0.0"/>
<unit id="ch.qos.logback.slf4j.source" version="0.0.0"/>
<unit id="org.apache.poi" version="3.9.0.v201405241750"/>
<unit id="org.apache.poi.source" version="3.9.0.v201405241750"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.codec.source" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
<unit id="org.apache.commons.cli.source" version="1.2.0.v201404270220"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<unit id="com.google.guava" version="0.0.0"/>
<unit id="com.google.guava.source" version="0.0.0"/>
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/orbit/orbit-buildrepo/R20150519210750/orbit-buildrepo-R20150519210750.zip-unzip/" id="mmxlabs-releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.grid" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.formattedtext" version="0.0.0"/>
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/nebula/widgets/p2/repository/com.mmxlabs.nebula.widgets.p2/1.1.1/com.mmxlabs.nebula.widgets.p2-1.1.1-p2-repo.zip-unzip/" id="mmxlabs-releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.googlecode.json-simple.source" version="0.0.0"/>
<unit id="com.googlecode.json-simple" version="1.1.1"/>
<unit id="com.google.guava" version="17.0.0"/>
<unit id="com.google.guava.source" version="17.0.0"/>
<unit id="org.ops4j.peaberry.activation.source" version="1.3.0"/>
<unit id="org.ops4j.peaberry.eclipse.source" version="1.3.0"/>
<unit id="org.ops4j.peaberry.source" version="1.3.0"/>
<unit id="org.ops4j.peaberry.activation" version="1.3.0"/>
<unit id="org.ops4j.peaberry" version="1.3.0"/>
<unit id="org.ops4j.peaberry.eclipse" version="1.3.0"/>
<unit id="org.mockito.mockito-all" version="1.9.5"/>
<unit id="org.apache.shiro.core.source" version="1.2.0"/>
<unit id="org.apache.shiro.guice.source" version="1.2.0"/>
<unit id="org.apache.shiro.core" version="1.2.0"/>
<unit id="org.apache.shiro.guice" version="1.2.0"/>
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/p2/repository/mmxlabs-external/1.0.10/mmxlabs-external-1.0.10-p2-repo.zip-unzip/" id="mmxlabs-releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.mmxlabs.org.eclipse.nebula.widgets.ganttchart.feature.feature.group" version="0.0.0"/>
<unit id="com.mmxlabs.org.eclipse.nebula.widgets.ganttchart.feature.source.feature.group" version="0.0.0"/>
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/nebula/widgets/com.mmxlabs.org.eclipse.nebula.widgets.ganttchart.p2/1.0.5.RELEASE/com.mmxlabs.org.eclipse.nebula.widgets.ganttchart.p2-1.0.5.RELEASE.zip-unzip/"  id="mmxlabs-releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.net4j.db.mysql.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.server.mongodb.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.defs.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.server.db4o.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.db.postgresql.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.server.hibernate.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.compare.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.db.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.server.lissome.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.doc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.server.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.util.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.defs.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.db.oracle.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.db.derby.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.migrator.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.db.h2.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.server.objectivity.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.util.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.db.hsqldb.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.doc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.cdo.server.db.feature.group" version="0.0.0"/>
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/org.eclipse.cdo/R20160216-0037/org.eclipse.cdo-R20160216-0037.zip-unzip/" id="mmxlabs-releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="0.0.0"/>
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/org.eclipse.emfforms/R18/org.eclipse.emfforms-R18.zip-unzip/" id="mmxlabs-releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="1.3.0.201503261201"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.source.feature.feature.group" version="1.3.0.201503261201"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="1.3.0.201503261201"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.3.0.201503261201"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="1.3.0.201503261201"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.feature.feature.group" version="1.3.0.201503261201"/>
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/org.eclipse.nattable/1.3.0/org.eclipse.nattable-1.3.0.zip-unzip/" id="mmxlabs-releases"/>
</location>
</locations>
</target>
