<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="LiNGO Common Platform Target - (Mars SR1)" sequenceNumber="74">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.annotation" version="2.2.400.v20191120-1313"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.swt.tools.feature.feature.group" version="0.0.0"/>
<repository location="http://nexus.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/org.eclipse.updates.201912/R-4.14-201912100610/org.eclipse.updates.201912-R-4.14-201912100610.zip-unzip/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient45.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.source.feature.group" version="0.0.0"/>
<repository location="http://nexus.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/org.eclipse.201912/201912181000/org.eclipse.201912-201912181000.zip-unzip/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.classic" version="0.0.0"/>
<unit id="ch.qos.logback.core" version="0.0.0"/>
<unit id="ch.qos.logback.slf4j" version="0.0.0"/>

<unit id="javax.activation" version="0.0.0"/>
<unit id="javax.jms" version="0.0.0"/>
<unit id="javax.wsdl" version="0.0.0"/>
<unit id="javax.xml" version="0.0.0"/>
<unit id="javax.xml.bind" version="0.0.0"/>
<unit id="javax.xml.soap" version="0.0.0"/>
<unit id="javax.xml.stream" version="0.0.0"/>
<unit id="javax.xml.ws" version="0.0.0"/>
<unit id="org.aopalliance" version="0.0.0"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.math" version="0.0.0"/>
<unit id="org.apache.commons.compress" version="1.18.0.v20181121-2221"/>
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="org.dom4j" version="1.6.1.v20190321-1528"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
<unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.slf4j.api" version="1.7.10.v20170428-1633"/>
<unit id="org.slf4j.ext" version="1.7.10.v20180919-1350"/>
	<unit id="org.junit.jupiter.api" version="0.0.0"/>
	<unit id="org.junit.jupiter.engine" version="0.0.0"/>
	<unit id="org.junit.jupiter.migrationsupport" version="0.0.0"/>
	<unit id="org.junit.jupiter.params" version="0.0.0"/>
	<unit id="org.junit.platform.commons" version="0.0.0"/>
	<unit id="org.junit.platform.engine" version="0.0.0"/>
	<unit id="org.junit.platform.launcher" version="0.0.0"/>
	<unit id="org.junit.platform.runner" version="0.0.0"/>
	<unit id="org.junit.platform.suite.api" version="0.0.0"/>
	<unit id="org.junit.vintage.engine" version="0.0.0"/>
	<unit id="com.sun.jna" version="4.5.1.v20190425-1842"/>	
	<unit id="com.sun.jna.platform" version="4.5.1.v20190425-1842"/>
	<unit id="org.bouncycastle.bcpg" version="0.0.0"/>
	<unit id="org.bouncycastle.bcpkix" version="0.0.0"/>
	<unit id="org.bouncycastle.bcprov" version="0.0.0"/>
<repository location="http://nexus.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/org/eclipse/orbit/orbit-buildrepo/R20191126223242/orbit-buildrepo-R20191126223242.zip-unzip/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.formattedtext" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.grid" version="0.0.0"/>
<repository location="http://nexus.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/nebula/widgets/p2/repository/com.mmxlabs.nebula.widgets.p2/1.1.1/com.mmxlabs.nebula.widgets.p2-1.1.1-p2-repo.zip-unzip/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.mmxlabs.models.datetime.feature.feature.group" version="0.0.0"/>
<repository location="http://nexus.mmxlabs.com/nexus/service/local/repositories/mmxlabs-v2-unzip/content/com/mmxlabs/models/datetime/com.mmxlabs.models.datetime.p2/2.1.6.RELEASE/com.mmxlabs.models.datetime.p2-2.1.6.RELEASE.zip-unzip"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.ortools.feature.feature.group" version="0.0.0"/>
<repository location="http://nexus.mmxlabs.com/nexus/service/local/repositories/mmxlabs-v2-unzip/content/com/google/ortools/com.google.ortools.p2/7.5.7466.jdk11v2/com.google.ortools.p2-7.5.7466.jdk11v2.zip-unzip"/>
</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/swtchart/releases/0.12.0/repository/"/>
		<unit id="org.eclipse.swtchart.feature.feature.group" version="0.0.0"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/technology/swtbot/releases/3.1.0/"/>
		<unit id="org.eclipse.swtbot.eclipse.feature.group" version="3.1.0.202106041005"/>
		<unit id="org.eclipse.swtbot.feature.group" version="3.1.0.202106041005"/>
		<unit id="org.eclipse.swtbot.junit5.feature.group" version="3.1.0.202106041005"/>
		<unit id="org.eclipse.swtbot.forms.feature.group" version="3.1.0.202106041005"/>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.google.inject</groupId>
		<artifactId>guice</artifactId>
		<version>4.2.3</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.google.guava</groupId>
		<artifactId>guava</artifactId>
		<version>27.1-jre</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.google.guava</groupId>
		<artifactId>failureaccess</artifactId>
		<version>1.0.1</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.fasterxml.jackson.core</groupId>
		<artifactId>jackson-databind</artifactId>
		<version>2.10.5</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.fasterxml.jackson.core</groupId>
		<artifactId>jackson-core</artifactId>
		<version>2.10.5</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.fasterxml.jackson.core</groupId>
		<artifactId>jackson-annotations</artifactId>
		<version>2.10.5</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.fasterxml.jackson.datatype</groupId>
		<artifactId>jackson-datatype-jsr310</artifactId>
		<version>2.10.5</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.fasterxml.jackson.datatype</groupId>
		<artifactId>jackson-datatype-jdk8</artifactId>
		<version>2.10.5</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.fasterxml.jackson.core</groupId>
		<artifactId>jackson-annotations</artifactId>
		<version>2.10.5</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.fasterxml.jackson.dataformat</groupId>
		<artifactId>jackson-dataformat-csv</artifactId>
		<version>2.10.5</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.googlecode.json-simple</groupId>
		<artifactId>json-simple</artifactId>
		<version>1.1.1</version>
		<type>jar</type>
	</location>
	<location includeDependencyScope="test" includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.mockito</groupId>
		<artifactId>mockito-core</artifactId>
		<version>3.9.0</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.ops4j</groupId>
		<artifactId>peaberry</artifactId>
		<version>1.3</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.ops4j.peaberry.extensions</groupId>
		<artifactId>peaberry.activation</artifactId>
		<version>1.3</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.ops4j.peaberry.extensions</groupId>
		<artifactId>peaberry.eclipse</artifactId>
		<version>1.3</version>
		<type>jar</type>
	</location>
	<location includeDependencyScope="test" includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.objenesis</groupId>
		<artifactId>objenesis</artifactId>
		<version>3.2</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.apache.commons</groupId>
		<artifactId>commons-collections4</artifactId>
		<version>4.1</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>commons-io</groupId>
		<artifactId>commons-io</artifactId>
		<version>2.6</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.apache.commons</groupId>
		<artifactId>commons-lang3</artifactId>
		<version>3.7</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.apache.commons</groupId>
		<artifactId>commons-math3</artifactId>
		<version>3.5</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.sun.mail</groupId>
		<artifactId>javax.mail</artifactId>
		<version>1.6.2</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>javax.mail</groupId>
		<artifactId>javax.mail-api</artifactId>
		<version>1.6.2</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>net.bytebuddy</groupId>
		<artifactId>byte-buddy</artifactId>
		<version>1.9.9</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>net.bytebuddy</groupId>
		<artifactId>byte-buddy-agent</artifactId>
		<version>1.9.9</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.apache.servicemix.bundles</groupId>
		<artifactId>org.apache.servicemix.bundles.poi</artifactId>
		<version>4.1.2_1</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.apache.servicemix.bundles</groupId>
		<artifactId>org.apache.servicemix.bundles.xmlbeans</artifactId>
		<version>3.1.0_2</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.rnorth.duct-tape</groupId>
		<artifactId>duct-tape</artifactId>
		<version>1.0.8</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.testcontainers</groupId>
		<artifactId>junit-jupiter</artifactId>
		<version>1.14.3</version>
		<type>jar</type>
	</location>
	<location includeDependencyScope="test" includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.testcontainers</groupId>
		<artifactId>testcontainers</artifactId>
		<version>1.14.3</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.rnorth.visible-assertions</groupId>
		<artifactId>visible-assertions</artifactId>
		<version>2.1.2</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.squareup.okio</groupId>
		<artifactId>okio</artifactId>
		<version>1.17.4</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.squareup.okhttp3</groupId>
		<artifactId>okhttp</artifactId>
		<version>3.14.2</version>
		<type>jar</type>
	</location>
</locations>
</target>