<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mmxlabs.scenario.service.dirscan.preferences.DirScanServicePreferencesPage"
            id="com.mmxlabs.scenario.service.dirscan.preferences.DirScanServicePreferencesPage"
            name="Shared Data Folder">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.mmxlabs.scenario.service.dirscan.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mmxlabs.scenario.service.dirscan.DirScanException"
            class="com.mmxlabs.scenario.service.dirscan.internal.DirScanExceptionReasonProviderAdapterFactory">
         <adapter
               type="com.mmxlabs.rcp.common.editors.IReasonProvider">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mmxlabs.scenario.service.dirscan.DirScanException"
            class="com.mmxlabs.scenario.service.dirscan.internal.DirScanExceptionReasonProviderAdapterFactory">
         <adapter
               type="com.mmxlabs.rcp.common.editors.IReasonProvider">
         </adapter>
      </factory>
   </extension>

</plugin>
