<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2021
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.models.lng.adp.validation.base"
            mandatory="true"
            name="ADP Validation">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/adp/1/">
         </package>
         <constraints
               categories=" com.mmxlabs.models.lng.adp.validation.base">
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.ShippingOptionConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.ShippingOptionConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="ShippingOptionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="ShippingOption">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.DeliverToProfileFlowConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.DeliverToProfileFlowConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="DeliverToProfileFlowConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="DeliverToProfileFlow">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.DeliverToSpotFlowConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.DeliverToSpotFlowConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="DeliverToSpotFlowConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="DeliverToSpotFlow">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.SupplyFromProfileFlowConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.SupplyFromProfileFlowConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="SupplyFromProfileFlowConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SupplyFromProfileFlow">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.SupplyFromSpotFlowConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.SupplyFromSpotFlowConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="SupplyFromSpotFlowConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SupplyFromSpotFlow">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.SubContractProfileConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.SubContractProfileConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="SubContractProfileConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SubContractProfile">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.SpacingProfileConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.SpacingProfileConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="SpacingProfileConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SpacingProfile">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.SpacingAllocationConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.SpacingAllocationConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="SpacingAllocationConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SpacingAllocation">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.FobSpacingAllocationConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.FobSpacingAllocationConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="FobSpacingAllocationConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="FobSpacingAllocation">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.DesSpacingAllocationConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.DesSpacingAllocationConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="DesSpacingAllocationConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="DesSpacingAllocation">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.DesSpacingRowConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.DesSpacingRowConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="DesSpacingRowConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="DesSpacingRow">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.MullSubprofileConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.MullSubprofileConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="MullSubprofileConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="MullSubprofile">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.MullAllocationRowConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.MullAllocationRowConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="MullAllocationRowConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="MullAllocationRow">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.SalesContractAllocationRowConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.SalesContractAllocationRowConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="SalesContractAllocationRowConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SalesContractAllocationRow">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.DESSalesMarketAllocationRowConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.DESSalesMarketAllocationRowConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="DESSalesMarketAllocationRowConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="DESSalesMarketAllocationRow">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.MullEntityRowConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.MullEntityRowConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="MullEntityRowConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="MullEntityRow">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.ADPModelConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.ADPModelConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="ADPModelConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="ADPModel">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.ContractProfileConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.ContractProfileConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="ContractProfileConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="ContractProfile">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.FleetProfileConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.FleetProfileConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="FleetProfileConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="FleetProfile">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.PeriodDistributionConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.PeriodDistributionConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="PeriodDistributionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="PeriodDistribution">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.IntervalDistributionConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.IntervalDistributionConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="IntervalDistributionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="CargoIntervalDistributionModel">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.adp.validation.DistributionModelConstraint"
                  id="com.mmxlabs.models.lng.adp.validation.DistributionModelConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="DistributionModelConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="DistributionModel">
               </target>
            </constraint>
                
        </constraints>
      </constraintProvider>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/adp/1/">
         </package>
         <constraints
               categories="com.mmxlabs.models.lng.adp.validation.base">
           
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
