<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="DataServerEndPoint" name="DataServerEndPoint" schema="schema/DataServerEndPoint.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mmxlabs.lngdataserver.server.preferences.DataserverPreferencePage"
            id="com.mmxlabs.lngdataserver.server.DataserverPreferencePage"
            name="Data Server">
      </page>
   </extension>

</plugin>
