<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2023
    All rights reserved.

-->
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mmxlabs.hub.preferences.DataHubPreferencePage"
            id="com.mmxlabs.lngdataserver.server.DataserverPreferencePage"
            name="Data Hub">
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="com.mmxlabs.hub.preferences.TLSPreferencePage"
            id="com.mmxlabs.hub.preferences.TLSPreferencePage"
            name="TLS/SSL Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.mmxlabs.hub.preferences.DataHubPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.mmxlabs.hub.internal.PluginStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.mmxlabs.hub.services.permissions.HubPermissionsFlagsPropertyTester"
            id="com.mmxlabs.lngdataserver.server.HubPermissionsFlagsPropertyTester"
            namespace="com.mmxlabs.hub.permissions"
            properties="hubsupports,ispermitted"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         id="com.mmxlabs.hub.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
   </extension>

</plugin>
