<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2016
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mmxlabs.models.migration.scenario.ScenarioMigrationException"
            class="com.mmxlabs.models.migration.scenario.internal.ScenarioMigrationExceptionReasonProviderAdapterFactory">
         <adapter
               type="com.mmxlabs.rcp.common.editors.IReasonProvider">
         </adapter>
      </factory>
   </extension>

</plugin>
