<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated actuals -->
      <package
            uri="http://www.mmxlabs.com/models/lng/actuals/1/"
            class="com.mmxlabs.models.lng.actuals.ActualsPackage"
            genModel="model/actuals.genmodel"/>
   </extension>

</plugin>
