<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2011
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.mmxlabs.lngscheduler.transformer" name="transformers" schema="schema/com.mmxlabs.lngscheduler.contracts.exsd"/>
   <extension-point id="com.mmxlabs.lngscheduler.exporter" name="exporters" schema="schema/com.mmxlabs.lngscheduler.exporter.exsd"/>
   <extension
         id="com.mmxlabs.lngscheduler.emf-extras.contracts"
         point="com.mmxlabs.lngscheduler.transformer">
      <Transformer
            transformer="com.mmxlabs.models.lng.transformer.contracts.SimpleContractTransformer">
         <modelclass
               class="scenario.contract.SalesContract">
         </modelclass>
         <modelclass
               class="scenario.contract.NetbackPurchaseContract">
         </modelclass>
         <modelclass
               class="scenario.contract.FixedPricePurchaseContract">
         </modelclass>
         <modelclass
               class="scenario.contract.IndexPricePurchaseContract">
         </modelclass>
         <modelclass
               class="scenario.contract.ProfitSharingPurchaseContract">
         </modelclass>
      </Transformer>
   </extension> 
</plugin>
