<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.mmxlabs.models.mmxcore.validation.constraintProviders"
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.models.mmxcore.validation.base"
            mandatory="true"
            name="MMXCore Validation">
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://www.mmxlabs.com/models/mmxcore/1/">
         </package>
         <constraints
               categories=" com.mmxlabs.models.mmxcore.validation.base">
            <constraint
                  class="com.mmxlabs.models.mmxcore.validation.NameUniquenessConstraint"
                  id="com.mmxlabs.models.mmxcore.validation.NameUniquenessConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Name Uniqueness"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Named elements should have unique names.
               </description>
               <target
                     class="NamedObject">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.mmxcore.validation.NameValidityConstraint"
                  id="com.mmxlabs.models.mmxcore.validation.NameSetConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Name or ID Valid"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Things with names or ID fields (such as cargoes, vessel events, ports and so on) must have a name or ID set to a non-empty non-blank value.
               </description>
               <target
                     class="NamedObject">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         id="com.mmxlabs.models.mmxcore.validation.bindings"
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="true"
            id="com.mmxlabs.models.mmxcore.validation.clientContext2">
         <enablement></enablement>
      </clientContext>
   </extension>

</plugin>
