<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mmxlabs.models.migration.MigrationContext">
      <MigrationContext
            latestVersion="68"
            name="com.mmxlabs.lingo">
      </MigrationContext>
   </extension>
   <extension
         point="com.mmxlabs.models.migration.MigrationUnit">
      <MigrationUnit
            id="com.mmxlabs.models.lng.migration.units.MigrateToV1"
            class="com.mmxlabs.models.lng.migration.units.MigrateToV1"
            context="com.mmxlabs.lingo"
            from="0"
            to="1">
      </MigrationUnit>
      <MigrationUnit
            class="com.mmxlabs.models.lng.migration.units.MigrateToV2"
            context="com.mmxlabs.lingo"
            from="1"
            id="com.mmxlabs.models.lng.migration.units.MigrateToV2"
            to="2">
      </MigrationUnit>
      <MigrationUnit
            class="com.mmxlabs.models.lng.migration.units.MigrateToV3"
            context="com.mmxlabs.lingo"
            from="2"
            id="com.mmxlabs.models.lng.migration.units.MigrateToV3"
            to="3">
      </MigrationUnit>
      <MigrationUnit
            class="com.mmxlabs.models.lng.migration.units.MigrateToV4"
            context="com.mmxlabs.lingo"
            from="3"
            id="com.mmxlabs.models.lng.migration.units.MigrateToV4"
            to="4">
      </MigrationUnit>
      <MigrationUnit
            class="com.mmxlabs.models.lng.migration.units.MigrateToV5"
            context="com.mmxlabs.lingo"
            from="4"
            id="com.mmxlabs.models.lng.migration.units.MigrateToV5"
            to="5">
      </MigrationUnit>
       <MigrationUnit
            class="com.mmxlabs.models.lng.migration.units.MigrateToV6"
            context="com.mmxlabs.lingo"
            from="5"
            id="com.mmxlabs.models.lng.migration.units.MigrateToV6"
            to="6">
      </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV7"
             context="com.mmxlabs.lingo"
             from="6"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV7"
             to="7">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV8"
             context="com.mmxlabs.lingo"
             from="7"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV8"
             to="8">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV9"
             context="com.mmxlabs.lingo"
             from="8"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV9"
             to="9">
       </MigrationUnit>
        <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV10"
             context="com.mmxlabs.lingo"
             from="9"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV10"
             to="10">
       </MigrationUnit>
        <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV11"
             context="com.mmxlabs.lingo"
             from="10"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV11"
             to="11">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV12"
             context="com.mmxlabs.lingo"
             from="11"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV12"
             to="12">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV13"
             context="com.mmxlabs.lingo"
             from="12"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV13"
             to="13">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV14"
             context="com.mmxlabs.lingo"
             from="13"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV14"
             to="14">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV15"
             context="com.mmxlabs.lingo"
             from="14"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV15"
             to="15">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV16"
             context="com.mmxlabs.lingo"
             from="15"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV16"
             to="16">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV17"
             context="com.mmxlabs.lingo"
             from="16"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV17"
             to="17">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV18"
             context="com.mmxlabs.lingo"
             from="17"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV18"
             to="18">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV19"
             context="com.mmxlabs.lingo"
             from="18"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV19"
             to="19">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV20"
             context="com.mmxlabs.lingo"
             from="19"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV20"
             to="20">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV21"
             context="com.mmxlabs.lingo"
             from="20"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV21"
             to="21">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV22"
             context="com.mmxlabs.lingo"
             from="21"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV22"
             to="22">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV23"
             context="com.mmxlabs.lingo"
             from="22"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV23"
             to="23">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV23"
             context="com.mmxlabs.lingo"
             from="22"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV23"
             to="23">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV24"
             context="com.mmxlabs.lingo"
             from="23"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV24"
             to="24">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV25"
             context="com.mmxlabs.lingo"
             from="24"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV25"
             to="25">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV26"
             context="com.mmxlabs.lingo"
             from="25"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV26"
             to="26">
       </MigrationUnit>       
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV27"
             context="com.mmxlabs.lingo"
             from="26"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV27"
             to="27">
       </MigrationUnit>       
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV28"
             context="com.mmxlabs.lingo"
             from="27"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV28"
             to="28">
       </MigrationUnit>       
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV29"
             context="com.mmxlabs.lingo"
             from="28"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV29"
             to="29">
       </MigrationUnit>       
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV30"
             context="com.mmxlabs.lingo"
             from="29"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV30"
             to="30">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV30"
             context="com.mmxlabs.lingo"
             from="30"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV30"
             to="31">
       </MigrationUnit>       
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV29"
             context="com.mmxlabs.lingo"
             from="28"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV29"
             to="29">
       </MigrationUnit>       
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV30"
             context="com.mmxlabs.lingo"
             from="29"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV30"
             to="30">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV31"
             context="com.mmxlabs.lingo"
             from="30"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV31"
             to="31">
       </MigrationUnit>              
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV32"
             context="com.mmxlabs.lingo"
             from="31"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV32"
             to="32">
       </MigrationUnit>              
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV33"
             context="com.mmxlabs.lingo"
             from="32"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV33"
             to="33">
       </MigrationUnit>              
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV34"
             context="com.mmxlabs.lingo"
             from="33"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV34"
             to="34">
       </MigrationUnit>              
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV35"
             context="com.mmxlabs.lingo"
             from="34"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV35"
             to="35">
       </MigrationUnit>              
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV36"
             context="com.mmxlabs.lingo"
             from="35"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV36"
             to="36">
       </MigrationUnit>              
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV37"
             context="com.mmxlabs.lingo"
             from="36"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV37"
             to="37">
       </MigrationUnit>              
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV38"
             context="com.mmxlabs.lingo"
             from="37"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV38"
             to="38">
       </MigrationUnit>              
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV39"
             context="com.mmxlabs.lingo"
             from="38"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV39"
             to="39">
       </MigrationUnit>              
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV40"
             context="com.mmxlabs.lingo"
             from="39"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV40"
             to="40">
       </MigrationUnit>              
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV41"
             context="com.mmxlabs.lingo"
             from="40"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV41"
             to="41">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV42"
             context="com.mmxlabs.lingo"
             from="41"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV42"
             to="42">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV43"
             context="com.mmxlabs.lingo"
             from="42"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV43"
             to="43">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV44"
             context="com.mmxlabs.lingo"
             from="43"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV44"
             to="44">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV45"
             context="com.mmxlabs.lingo"
             from="44"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV45"
             to="45">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV46"
             context="com.mmxlabs.lingo"
             from="45"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV46"
             to="46">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV47"
             context="com.mmxlabs.lingo"
             from="46"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV47"
             to="47">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV48"
             context="com.mmxlabs.lingo"
             from="47"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV48"
             to="48">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV49"
             context="com.mmxlabs.lingo"
             from="48"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV49"
             to="49">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV50"
             context="com.mmxlabs.lingo"
             from="49"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV50"
             to="50">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV51"
             context="com.mmxlabs.lingo"
             from="50"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV51"
             to="51">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV52"
             context="com.mmxlabs.lingo"
             from="51"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV52"
             to="52">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV53"
             context="com.mmxlabs.lingo"
             from="52"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV53"
             to="53">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV54"
             context="com.mmxlabs.lingo"
             from="53"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV54"
             to="54">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV55"
             context="com.mmxlabs.lingo"
             from="54"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV55"
             to="55">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV56"
             context="com.mmxlabs.lingo"
             from="55"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV56"
             to="56">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV57"
             context="com.mmxlabs.lingo"
             from="56"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV57"
             to="57">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV58"
             context="com.mmxlabs.lingo"
             from="57"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV58"
             to="58">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV59"
             context="com.mmxlabs.lingo"
             from="58"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV59"
             to="59">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV60"
             context="com.mmxlabs.lingo"
             from="59"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV60"
             to="60">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV61"
             context="com.mmxlabs.lingo"
             from="60"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV61"
             to="61">
       </MigrationUnit>       
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV62"
             context="com.mmxlabs.lingo"
             from="61"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV62"
             to="62">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV63"
             context="com.mmxlabs.lingo"
             from="62"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV63"
             to="63">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV64"
             context="com.mmxlabs.lingo"
             from="63"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV64"
             to="64">
       </MigrationUnit>       
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV66"
             context="com.mmxlabs.lingo"
             from="64"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV65"
             to="65">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV65"
             context="com.mmxlabs.lingo"
             from="64"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV65"
             to="65">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV66"
             context="com.mmxlabs.lingo"
             from="65"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV66"
             to="66">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV67"
             context="com.mmxlabs.lingo"
             from="66"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV67"
             to="67">
       </MigrationUnit>
       <MigrationUnit
             class="com.mmxlabs.models.lng.migration.units.MigrateToV68"
             context="com.mmxlabs.lingo"
             from="67"
             id="com.mmxlabs.models.lng.migration.units.MigrateToV68"
             to="68">
       </MigrationUnit>
   </extension>
</plugin>
