<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mmxlabs.models.migration.MigrationContext">
      <MigrationContext
            latestVersion="2"
            name="com.mmxlabs.models.lng">
      </MigrationContext>
   </extension>
   <extension
         point="com.mmxlabs.models.migration.MigrationUnit">
      <MigrationUnit
            class="com.mmxlabs.models.lng.migration.units.MigrateToV1"
            context="com.mmxlabs.models.lng"
            from="0"
            to="1">
      </MigrationUnit>
      <MigrationUnit
            class="com.mmxlabs.models.lng.migration.units.MigrateToV2"
            context="com.mmxlabs.models.lng"
            from="1"
            to="2">
      </MigrationUnit>
   </extension>
</plugin>
