<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mmxlabs.scenario.service.ReloadScenarioException"
            class="com.mmxlabs.scenario.service.util.internal.ReloadScenarioExceptionReasonProviderApaterFactory">
         <adapter
               type="com.mmxlabs.rcp.common.editors.IReasonProvider">
         </adapter>
      </factory>
      <factory
            adaptableType="com.mmxlabs.scenario.service.util.encryption.ScenarioEncryptionException"
            class="com.mmxlabs.scenario.service.util.internal.ScenarioEncryptionExceptionReasonProviderApaterFactory">
         <adapter
               type="com.mmxlabs.rcp.common.editors.IReasonProvider">
         </adapter>
      </factory>
   </extension>

</plugin>
