<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mmxlabs.scenario.service.util.encryption.preferences.CipherPreferencesPage"
            id="com.mmxlabs.scenario.service.util.encryption.preferences.CipherPreferencesPage"
            name="Cipher">
      </page>
   </extension>

</plugin>
