<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2023
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.mmxlabs.models.lng.cargo.validation.base"
            mandatory="true"
            name="Cargo Validation">
      </category>
      <category
            id="com.mmxlabs.models.lng.cargo.validation.optimisation"
            mandatory="true"
            name="Cargo Validation (Optimisation Only)">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/cargo/1/">
         </package>
         <constraints
               categories=" com.mmxlabs.models.lng.cargo.validation.base">
             <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.VesselCapacityPortMinMaxVesselSizeValidator"
                     id="com.mmxlabs.models.lng.cargo.validation.VesselPortCapacityConstraint"
                     isEnabledByDefault="true"
                     lang="java"
                     mode="Batch"
                     name="VesselPortCapacityConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
            </constraint>   
            <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.SlotPermissiveVesselListVolumeConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.SlotPermissiveVesselListVolumeValidator"
                     isEnabledByDefault="true"
                     lang="java"
                     mode="Batch"
                     name="SlotPermissiveVesselListVolumeConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
            </constraint>               
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CargoVolumeConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CargoVolumeConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Cargo Volumes"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.SlotWindowCounterPartyConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.SlotWindowCounterPartyConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Slot Counter Party Window"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CargoSpotCharterConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CargoSpotCharterConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Cargo Volumes"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.ShippingTypeConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.ShippingTypeConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Cargo DES / FOB Type"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CargoDateConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CargoDateConstraint.cargo_order"
                  lang="Java"
                  mode="Batch"
                  name="Load and discharge order"
                  severity="ERROR"
                  statusCode="1">
               <message>
                 {0}
               </message>
               <description>
                  The end of the discharge slot's time window should be after the start of the load slot's time window.
               </description>
               <target
                     class="Cargo">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CargoDateConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CargoDateConstraint.cargo_non_shipped_travel_time"
                  lang="Java"
                  mode="Batch"
                  name="Non shipped travel time"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
               </description>
               <target
                     class="Cargo">
               </target>
            </constraint>
            
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CargoDateConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CargoDateConstraint.cargo_available_time"
                  lang="Java"
                  mode="Batch"
                  name="Cargo Travel Time"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  If a cargo has a very large amount of slack in its travel time, lots of fuel will be wasted idling at the destination
            		port. This often indicates a typographical error when entering dates.
               </description>
               <target
                     class="Cargo">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.SlotVolumeConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.SlotVolumeConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Slot Volumes"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Every slot's minimum and maximum volume should be non-negative, and the minimum should not exceed the maximum.
               </description>
               <target
                     class="Slot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.LoadSlotVolumeConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.LoadSlotVolumeConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Load Slot Volumes"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Every slot's minimum and maximum volume should be non-negative, and the minimum should not exceed the maximum.
               </description>
               <target
                     class="LoadSlot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CargoDateConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CargoDateConstraint.cargo_travel_time"
                  lang="Java"
                  mode="Batch"
                  name="Cargo Travel Time"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  The load and discharge dates for a cargo should allow enough time between them for
            		the fastest fleet vessel to make the journey at maximum speed.
               </description>
               <target
                     class="Cargo">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.NullReferenceConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.nullReferenceConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Null Reference Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
                  
               </message>
               <target
                     class="Cargo"></target>
               <target
                     class="Slot">
               </target>
               <target
                     class="VesselCharter">
               </target>
               <target
                     class="VesselEvent">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.SlotPortCapabilityConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.SlotPortCapabilityConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Slot Port Capability"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Load and Discharge slots need ports with Load and Discharge capabilities respectively.
               </description>
               <target
                     class="Slot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CargoTypeConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CargoTypeConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Cargo Type Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  
               </description>
               <target
                     class="Cargo">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CargoRestrictedSlotConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CargoRestrictedSlotConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Cargo Restricted Slot Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Load and Discharge slots must not be paired to restricted slots.
               </description>
               <target
                     class="Slot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CurveDataExistsConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CurveDataExistsConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Curve Data Existence Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  
               </description>
               <target
                     class="Cargo">
               </target>
               <target
                     class="Slot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.SlotDateOverlapConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.SlotDateOverlapConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Slot date overlap"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Slot">
               </target>
            </constraint>
            <!--
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CargoReflexiveTransferSlotConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CargoReflexiveTransferSlotConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Cargo transfer slot confusion"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="DischargeSlot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.OptionalSlotConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.OptionalSlotConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Optional Slots"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  [Slot|{0}]: Non-optional slot must be assigned to a cargo.
               </message>
               <target
                     class="Slot">
               </target>
            </constraint>
            -->
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.FOBDESCargoDatesConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.FOBDESCargoDatesConstraint"
                  lang="Java"
                  mode="Batch"
                  name="FOB/DES Cargo dates"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Cargo">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.InventoryModelConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.InventoryModelConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Inventory Model Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Various sanity checks for Inventory model
               </description>
               <target
                     class="Inventory">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.InventoryEventRowConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.InventoryEventRowConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Inventory Event Row Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Dates sanity checks for Inventory Event Rows
               </description>
               <target
                     class="InventoryEventRow">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.InventoryCapacityRowConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.InventoryCapacityRowConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Inventory Capacity Row Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Date and min/max volume sanity check for Inventory Capacity Rows
               </description>
               <target
                     class="InventoryCapacityRow">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.MarketSlotConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.MarketSlotContraint"
                  lang="Java"
                  mode="Batch"
                  name="Market Slot Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="SpotSlot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.SlotPriceExpressionConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.SlotPriceExpressionConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Slot Price Expression Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Slot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.DischargeCVValueCompatabilityConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.ContractCvValueConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Contract CV Value Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Cargo">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.RestrictedElementsConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.RestrictedElementsConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Restricted Elements Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Cargo">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.EmptyRestrictionsConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.EmptyRestrictionsConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Empty Restrictions Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Slot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CargoSlotOrderConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CargoSlotOrderConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Cargo Slot Order Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Cargo">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CargoSpotSlotsConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CargoSpotSlotsConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Cargo Spot Slots Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Cargo">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.LoadSlotCVConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.LoadSlotCVConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Load Slot CV Constaint"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  {0}
               </message>
               <target
                     class="LoadSlot">
               </target>
            </constraint>
 			<constraint
                  class="com.mmxlabs.models.lng.cargo.validation.LoadSlotPurgeConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.LoadSlotPurgeConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Load Slot Purge Constraint"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  {0}
               </message>
               <target
                     class="LoadSlot">
               </target>
            </constraint>            
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.KeepOpenSlotConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.KeepOpenSlotConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Keep Open Slot Constaint"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  {0}
               </message>
               <target
                     class="Slot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.SlotPricingConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.SlotPricingConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Slot Pricing Constraint"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  {0}
               </message>
               <target
                     class="Slot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.STSCargoConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.STSCargoConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="STS Constraints"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Slot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.SlotContractTypeConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.SlotContractTypeConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="SlotContractTypeConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.ContractTypeConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.ContractTypeConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="ContractTypeConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Slot">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.GroupedDischargeSlotConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.GroupedDischargeSlotConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Grouped Slots Constraints"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  {0}
               </message>
               <target
                     class="GroupedSlotsConstraint">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.GroupedDischargeSlotNonDuplicateConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.GroupedDischargeSlotNonDuplicateConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Non-Duplicate Grouped Slots Constraint"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  {0}
               </message>
               <target
                     class="CargoModel">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.SensibleVesselCharterDateConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.SensibleVesselCharterDateConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Sensible Start / End Dates"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Vessel charter dates must be within a sensible range.
               </description>
               <target
                     class="VesselCharter">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.SensibleEventDateConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.SensibleEventDateConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Sensible Start / End Dates"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Vessel event dates must be within a sensible range.
               </description>
               <target
                     class="VesselEvent">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.VesselCharterConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.VesselCharterVesselConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Vessel Charter Attached To Vessel"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Vessel availability information for a portfolio must be attached to a particular vessel.
               </description>
               <target
                     class="VesselCharter">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.MultipleVesselChartersConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.MultipleVesselAvailabilitiesConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Multiple Vessel Charters"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  A vessel cannot be given more than one charter for the same portfolio.
               </description>
               <target
                     class="VesselCharter">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.VesselEventDateConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.VesselEventDateConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Vessel Event Date Consistency"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  The start end end window of a vessel event must be set and consistent.
               </description>
               <target
                     class="VesselEvent">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.VesselEventDurationConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.VesselEventDurationConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Vessel Event Duration"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  The event duration must be greater than zero.
               </description>
               <target
                     class="VesselEvent">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.TimeCharterCostConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.TimeCharterCostConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Time Charter Hire Cost"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  A time charter vessel should have a daily hire rate
               </description>
               <target
                     class="VesselCharter">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.VesselEventVesselSetConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.VesselEventVesselSetConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Vessel Event - Vessel Assignment"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Dry dock and Maintenance events need a vessel assignment.
               </description>
               <target
                     class="VesselEvent">
               </target>
            </constraint>  
              <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.EventDurationConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.EventDurationConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Event Duration Constraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Check for sensible event duration
               </description>
               <target
                     class="VesselEvent">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.EventWindowConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.EventWindowConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Event Window Constraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Check for sensible event window size
               </description>
               <target
                     class="VesselEvent">
               </target>
            </constraint>   
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CharterOutConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CharterOutConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Charter Out Event Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  Charter out events need a vessel assignment.
               </description>
               <target
                     class="CharterOutEvent">
               </target>
            </constraint>
            <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.SlotEntityConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.SlotEntityConstraint"
                     isEnabledByDefault="true"
                     lang="java"
                     mode="Batch"
                     name="SlotEntityConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
                  <target
                        class="Slot">
                  </target>
               </constraint>
               <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.DivertibleSlotConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.DivertibleSlotConstraint"
                     isEnabledByDefault="true"
                     lang="java"
                     mode="Batch"
                     name="DivertibleSlotConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
                  <target
                        class="Slot">
                  </target>
               </constraint>
               <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.PricingEventConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.PricingEventConstraint"
                     isEnabledByDefault="true"
                     lang="java"
                     mode="Batch"
                     name="PricingEventConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
                  <target
                        class="Cargo">
                  </target>
                  <target
                        class="Slot">
                  </target>
               </constraint>
               <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.DischargeSlotCVRangeConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.DischargeSlotCVCapabilityConstraint"
                     lang="Java"
                     mode="Batch"
                     name="Discharge Slot CV Capability"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
                  <description>
                     
                  </description>
                  <target
                        class="DischargeSlot">
                  </target>
               </constraint>
               <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.SlotDateConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.SlotDateConstraint"
                     isEnabledByDefault="true"
                     lang="java"
                     mode="Batch"
                     name="SlotDateConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
                  <target
                        class="Slot">
                  </target>
               </constraint>
               <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.SlotNameUniquenessConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.SlotNameUniquenessConstraint"
                     isEnabledByDefault="true"
                     lang="java"
                     mode="Batch"
                     name="SlotNameUniquenessConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
                  <target
                        class="Slot">
                  </target>
               </constraint>
               <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.VesselCharterUniquenessConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.VesselCharterUniquenessConstraint"
                     isEnabledByDefault="true"
                     lang="java"
                     mode="Batch"
                     name="VesselCharterUniquenessConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
                  <target
                        class="VesselCharter">
                  </target>
               </constraint>
               <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.PanamaVesselGroupParametersConstraint"
                     id="com.mmxlabs.models.lng.cargo.validationPanamaCanalParametersConstraint"
                     isEnabledByDefault="true"
                     lang="Java"
                     mode="Batch"
                     name="PanamaCanalParametersConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
                  <target
                        class="CanalBookings">
                  </target>
               </constraint>
               <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.CanalBookingSlotConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.CanalBookingSlotConstraint"
                     isEnabledByDefault="true"
                     lang="Java"
                     mode="Batch"
                     name="CanalBookingSlotConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
                  <target
                        class="CanalBookingSlot">
                  </target>
               </constraint>
               <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.SlotCancellationFeeConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.SlotCancellationFeeConstraint"
                     isEnabledByDefault="true"
                     lang="java"
                     mode="Batch"
                     name="SlotCancellationFeeConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
                  <target
                        class="Slot">
                  </target>
               </constraint>
               <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.PaperDealConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.PaperDealConstraint"
                     isEnabledByDefault="true"
                     lang="java"
                     mode="Batch"
                     name="PaperDealConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
                  <target
                        class="PaperDeal">
                  </target>
               </constraint>
               <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.SlotContractParamsConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.SlotContractParamsConstraint"
                     isEnabledByDefault="true"
                     lang="java"
                     mode="Batch"
                     name="SlotContractParamsConstraint"
                     severity="ERROR"
                     statusCode="1">
                  <message>
                     {0}
                  </message>
                  <target
                        class="Slot">
                  </target>
               </constraint>
               <constraint
                     class="com.mmxlabs.models.lng.cargo.validation.ThirdPartySlotEntityConstraint"
                     id="com.mmxlabs.models.lng.cargo.validation.ThirdPartySlotEntityConstraint"
                     isEnabledByDefault="true"
                     lang="java"
                     mode="Batch"
                     name="ThirdPartySlotEntityConstraint"
                     severity="ERROR"
                     statusCode="0">
                  <message>
                     {0}
                  </message>
                  <target
                        class="Slot">
                  </target>
                  <target
                        class="Cargo">
                  </target>
               </constraint>
               <!--<constraint
                  class="com.mmxlabs.models.lng.cargo.validation.CargoHeelCarryConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.CargoHeelCarryConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Cargo Heel Carry Constraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  
               </description>
               <target
                     class="Cargo">
               </target>
            </constraint>-->
        </constraints>
      </constraintProvider>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/cargo/1/">
         </package>
         <constraints
               categories="com.mmxlabs.models.lng.cargo.validation.optimisation">
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.ShippingDaysRestrictionConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.ShippingDaysRestrictionConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="ShippingDaysRestrictionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Slot">
               </target>
               <target
                     class="Cargo">
               </target>
            </constraint>
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.NonShippedVesselCharterConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.NonShippedVesselCharterConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="NonShippedVesselCharterConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Slot">
               </target>
            </constraint>
             <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.NonShippedSlotConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.NonShippedSlotConstraint"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="NonShippedSlotConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Slot">
               </target>
            </constraint>
            </constraints>
      </constraintProvider>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/cargo/1/">
         </package>
         <package
               namespaceUri="http://www.mmxlabs.com/models/lng/fleet/1/">
         </package>
         <constraints
               categories=" com.mmxlabs.models.lng.cargo.validation.base">
            <constraint
                  class="com.mmxlabs.models.lng.cargo.validation.VesselCharterPortConstraint"
                  id="com.mmxlabs.models.lng.cargo.validation.VesselCharterPortConstraint.port_access"
                  lang="Java"
                  mode="Batch"
                  name="Start / End Port Accessibility"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  The start or end port of a vessel must be compatible with that vessel's class
               </description>
               <target
                     class="VesselCharter">
               </target>
               <target
                     class="Vessel">
               </target>
               </constraint>    
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
