<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2016
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.mmxlabs.models.lng.schedule.presentation.ScheduleModelWizardID"
            name="%_UI_ScheduleModelWizard_label"
            class="com.mmxlabs.models.lng.schedule.presentation.ScheduleModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ScheduleModelFile.gif">
         <description>%_UI_ScheduleModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.mmxlabs.models.lng.schedule.presentation.ScheduleEditorID"
            name="%_UI_ScheduleEditor_label"
            icon="icons/full/obj16/ScheduleModelFile.gif"
            extensions="schedule"
            class="com.mmxlabs.models.lng.schedule.presentation.ScheduleEditor"
            contributorClass="com.mmxlabs.models.lng.schedule.presentation.ScheduleActionBarContributor">
      </editor>
   </extension>

	
	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.ScheduleModel"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.ScheduleModelComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.ScheduleModel" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.Schedule"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.ScheduleComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.Schedule" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.Sequence"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.SequenceComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.Sequence" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.Event"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.EventComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.Event" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.SlotVisit"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.SlotVisitComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.SlotVisit" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.VesselEventVisit"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.VesselEventVisitComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.VesselEventVisit" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.Journey"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.JourneyComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.Journey" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.Idle"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.IdleComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.Idle" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.FuelUsage"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.FuelUsageComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.FuelUsage" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.FuelQuantity"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.FuelQuantityComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.FuelQuantity" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.Cooldown"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.CooldownComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.Cooldown" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.CargoAllocation"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.CargoAllocationComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.CargoAllocation" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.SlotAllocation"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.SlotAllocationComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.SlotAllocation" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.schedule.helpers.FuelAmount"
			helperClass="com.mmxlabs.models.lng.schedule.presentation.composites.FuelAmountComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.schedule.FuelAmount" />
		
	</extension>
 <extension
       point="com.mmxlabs.models.util.import.submodels">
    <submodelImporter
          ID="com.mmxlabs.models.lng.schedule.editor.scheduleModelImporter"
          subModelClassName="com.mmxlabs.models.lng.schedule.ScheduleModel"
          subModelImporterClass="com.mmxlabs.models.lng.schedule.importers.ScheduleModelImporter">
    </submodelImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.common.modelcommandprovider">
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.schedule.ui.commands.ScheduleModelInvalidateCommandProvider"
          id="com.mmxlabs.models.lng.schedule.ui.commands.ScheduleModelInvalidateCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.schedule.ui.commands.ScheduleModelDirtyCommandProvider"
          id="com.mmxlabs.models.lng.schedule.ui.commands.ScheduleModelDirtyCommandProvider">
    </ModelCommandProvider>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.properties.DetailPropertyFactory">
    <DetailPropertyFactory
          EClass="com.mmxlabs.models.lng.schedule.ProfitAndLossContainer"
          category="pnl"
          factory="com.mmxlabs.models.lng.schedule.properties.BasicPNLProperties">
    </DetailPropertyFactory>
    <DetailPropertyFactory
          EClass="com.mmxlabs.models.lng.schedule.BasicSlotPNLDetails"
          category="pnl"
          factory="com.mmxlabs.models.lng.schedule.properties.BasicSlotPNLDetailsProperties">
    </DetailPropertyFactory>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.properties.DetailPropertyCategory">
    <DetailPropertyCategory
          category="pnl">
    </DetailPropertyCategory>
 </extension>
</plugin>
