<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2023
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
 <extension
       point="com.mmxlabs.models.util.import.submodels">
    <submodelImporter
          ID="com.mmxlabs.models.lng.schedule.editor.scheduleModelImporter"
          subModelClassName="com.mmxlabs.models.lng.schedule.ScheduleModel"
          subModelImporterClass="com.mmxlabs.models.lng.schedule.importers.ScheduleModelImporter">
    </submodelImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.common.modelcommandprovider">
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.schedule.ui.commands.ScheduleModelInvalidateCommandProvider"
          id="com.mmxlabs.models.lng.schedule.ui.commands.ScheduleModelInvalidateCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.schedule.ui.commands.ScheduleModelDirtyCommandProvider"
          id="com.mmxlabs.models.lng.schedule.ui.commands.ScheduleModelDirtyCommandProvider">
    </ModelCommandProvider>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.properties.DetailPropertyFactory">
    <DetailPropertyFactory
          EClass="com.mmxlabs.models.lng.schedule.ProfitAndLossContainer"
          category="pnl"
          factory="com.mmxlabs.models.lng.schedule.properties.BasicPNLProperties">
    </DetailPropertyFactory>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.properties.DetailPropertyCategory">
    <DetailPropertyCategory
          category="pnl">
    </DetailPropertyCategory>
 </extension>
</plugin>
