<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.mmxlabs.models.lng.types.presentation.TypesModelWizardID"
            name="%_UI_TypesModelWizard_label"
            class="com.mmxlabs.models.lng.types.presentation.TypesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TypesModelFile.gif">
         <description>%_UI_TypesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.mmxlabs.models.lng.types.presentation.TypesEditorID"
            name="%_UI_TypesEditor_label"
            icon="icons/full/obj16/TypesModelFile.gif"
            extensions="types"
            class="com.mmxlabs.models.lng.types.presentation.TypesEditor"
            contributorClass="com.mmxlabs.models.lng.types.presentation.TypesActionBarContributor">
      </editor>
   </extension>
   <extension
         point="com.mmxlabs.models.ui.editorfactories">
      <editorFactory
            factoryClass="com.mmxlabs.models.lng.types.ui.DateAndLocalTimeInlineEditorFactory"
            id="com.mmxlabs.models.lng.types.editor.datetimeeditorfactory">
         <FeatureAnyOf>
            <EDataTypeIs
                  EDataTypeName="EDate"
                  EDataTypeURI="http://www.eclipse.org/emf/2002/Ecore"></EDataTypeIs>
         </FeatureAnyOf>
      </editorFactory>
   </extension>
	<extension
         point="com.mmxlabs.models.util.import.attributes">
      <attributeImporter
            ID="com.mmxlabs.models.lng.types.dateAttributeImporter"
            attributeImporterClass="com.mmxlabs.models.lng.types.importer.DateAttributeImporter">
         <dataType
               attributeTypeName="EDate"
               attributeTypeURI="http://www.eclipse.org/emf/2002/Ecore">
         </dataType>
     </attributeImporter>
     </extension>
</plugin>
