<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
		<componentHelper
			id="com.mmxlabs.models.lng.input.helpers.InputModel"
			helperClass="com.mmxlabs.models.lng.input.presentation.composites.InputModelComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.input.InputModel" />
	</extension>
 <extension
       point="com.mmxlabs.models.util.import.submodels">
    <submodelImporter
          ID="com.mmxlabs.models.lng.input.editor.inputModelImporter"
          subModelClassName="com.mmxlabs.models.lng.input.InputModel"
          subModelImporterClass="com.mmxlabs.models.lng.input.importers.InputModelImporter">
    </submodelImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.jointmodeleditors">
    <jointModelEditor
          id="com.mmxlabs.models.lng.input.editor.inputEditorContribution"
          implementation="com.mmxlabs.models.lng.input.editorpart.InputJointModelEditorContribution"
          priority="20"
          subModelClass="com.mmxlabs.models.lng.input.InputModel">
    </jointModelEditor>
 </extension>
 <extension
       id="com.mmxlabs.models.lng.input.cargohelpers"
       point="com.mmxlabs.models.ui.componenthelpers">
    <componentHelper
          helperClass="com.mmxlabs.models.lng.input.ui.inlineeditor.AssignmentInlineEditorComponentHelper"
          id="com.mmxlabs.models.lng.input.editor.cargoAssignmentHelper"
          inheritable="false"
          modelClass="com.mmxlabs.models.lng.cargo.Cargo">
    </componentHelper>
    <componentHelper
          helperClass="com.mmxlabs.models.lng.input.ui.inlineeditor.AssignmentInlineEditorComponentHelper"
          id="com.mmxlabs.models.lng.input.editor.vesselEventAssignmentHelper"
          inheritable="false"
          modelClass="com.mmxlabs.models.lng.fleet.VesselEvent">
    </componentHelper>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.valueproviders">
    <valueProvider
          factory="com.mmxlabs.models.lng.input.valueprovider.VesselValueProviderFactory"
          id="com.mmxlabs.models.lng.input.editor.assignmentValueProvider"
          ownerEClass="com.mmxlabs.models.lng.input.ElementAssignment"
          referenceEClass="com.mmxlabs.models.lng.types.AVesselSet">
    </valueProvider>
 </extension>
</plugin>
