<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2022
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="WrappedCommandExtension" name="WrappedCommandExtension" schema="schema/WrappedCommandExtension.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.mmxlabs.scenario.service/model/1"
            class="com.mmxlabs.scenario.service.model.ScenarioServicePackage"
            genModel="model/scenario.service.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mmxlabs.scenario.service.ReloadScenarioException"
            class="com.mmxlabs.scenario.service.model.util.internal.ReloadScenarioExceptionReasonProviderApaterFactory">
         <adapter
               type="com.mmxlabs.rcp.common.editors.IReasonProvider">
         </adapter>
      </factory>
      <factory
            adaptableType="com.mmxlabs.scenario.service.model.util.encryption.ScenarioEncryptionException"
            class="com.mmxlabs.scenario.service.model.util.internal.ScenarioEncryptionExceptionReasonProviderApaterFactory">
         <adapter
               type="com.mmxlabs.rcp.common.editors.IReasonProvider">
         </adapter>
      </factory>
      <factory
            adaptableType="com.mmxlabs.scenario.service.model.manager.ScenarioStorageUtil$EncryptedScenarioException"
            class="com.mmxlabs.scenario.service.model.util.internal.ScenarioEncryptionExceptionReasonProviderApaterFactory">
         <adapter
               type="com.mmxlabs.rcp.common.editors.IReasonProvider">
         </adapter>
      </factory>
      <factory
            adaptableType="com.mmxlabs.scenario.service.model.util.encryption.UnknownEncryptionKeyException"
            class="com.mmxlabs.scenario.service.model.util.internal.ScenarioEncryptionExceptionReasonProviderApaterFactory">
         <adapter
               type="com.mmxlabs.rcp.common.editors.IReasonProvider">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mmxlabs.scenario.service.model.util.encryption.ui.preferences.KeyfileInformation"
            id="com.mmxlabs.scenario.service.model.util.encryption.ui.preferences.KeyfileInformation"
            name="Encryption"
            category="com.mmxlabs.lingo.app.preferences.InformationPreferencesPage">
      </page>
   </extension>
</plugin>
