<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2013
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="schedulerViewColourScheme" name="Scheduler View Colour Scheme" schema="schema/schedulerViewColourScheme.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Schedule Views"
            id="com.mmxlabs.scheduleview">
      </category>
      <view
            name="Schedule"
            icon="icons/schedule_view.gif"
            category="com.mmxlabs.scheduleview"
            class="com.mmxlabs.shiplingo.platform.scheduleview.views.SchedulerView"
            id="com.mmxlabs.scheduleview.views.SchedulerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="com.mmxlabs.shiplingo.platform.scheduleview.schedulerViewColourScheme">
            <ColourScheme
                  class="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.CooldownHighlighter"
                  id="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.CooldownHighlighter"
                  isHighlighter="true"
                  name="Cooldown">
      </ColourScheme>
      <ColourScheme
            class="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.VesselStateColourScheme"
            id="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.VesselStateColourScheme"
            isHighlighter="false"
            name="Vessel State">
      </ColourScheme>
      <ColourScheme
            class="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.ShippingRiskHighlighter"
            id="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.ShippingRiskHighlighter"
            isHighlighter="true"
            name="Shipping Risk">
      </ColourScheme>
      <ColourScheme
            class="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.StatoilColourScheme"
            id="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.LoadProgColourScheme"
            isHighlighter="false"
            name="Loading Prog">
      </ColourScheme>
   </extension>

</plugin>
