<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2012
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="schedulerViewColourScheme" name="Scheduler View Colour Scheme" schema="schema/schedulerViewColourScheme.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Schedule Views"
            id="com.mmxlabs.scheduleview">
      </category>
      <view
            name="Scheduler View"
            icon="icons/schedule_view.gif"
            category="com.mmxlabs.scheduleview"
            class="com.mmxlabs.shiplingo.platform.scheduleview.views.SchedulerView"
            id="com.mmxlabs.scheduleview.views.SchedulerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="com.mmxlabs.shiplingo.platform.scheduleview.schedulerViewColourScheme">
      <ColourScheme
            class="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.AlternatingCargoColourScheme"
            id="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.AlternatingCargoColourScheme"
            name="Alternating Cargoes">
      </ColourScheme>
      <ColourScheme
            class="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.CooldownColourScheme"
            id="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.AlternatingCargoColourScheme"
            name="Cooldown">
      </ColourScheme>
      <ColourScheme
            class="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.FuelChoiceColourScheme"
            id="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.FuelChoiceColourScheme"
            name="Fuel Choice">
      </ColourScheme>
      <ColourScheme
            class="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.HighSpeedColourScheme"
            id="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.HighSpeedColourScheme"
            name="High Speed">
      </ColourScheme>
      <ColourScheme
            class="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.RouteChoiceColourScheme"
            id="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.RouteChoiceColourScheme"
            name="Route Choice">
      </ColourScheme>
      <ColourScheme
            class="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.VesselStateColourScheme"
            id="com.mmxlabs.shiplingo.platform.scheduleview.views.colourschemes.VesselStateColourScheme"
            name="Vessel State">
      </ColourScheme>
   </extension>

</plugin>
