<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2012
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Schedule Views"
            id="com.mmxlabs.scheduleview">
      </category>
      <view
            name="Scheduler View"
            icon="icons/schedule_view.gif"
            category="com.mmxlabs.scheduleview"
            class="com.mmxlabs.shiplingo.platform.scheduleview.views.SchedulerView"
            id="com.mmxlabs.scheduleview.views.SchedulerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
