<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2016
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="DetailPropertyFactory" name="DetailPropertyFactory" schema="schema/DetailPropertyFactory.exsd"/>
   <extension-point id="DetailPropertyCategory" name="DetailPropertyCategory" schema="schema/DetailPropertyCategory.exsd"/>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated properties -->
      <package
            uri="http://www.mmxlabs.com/models/properties/1"
            class="com.mmxlabs.models.ui.properties.PropertiesPackage"
            genModel="model/properties.genmodel"/>
   </extension>

</plugin>
