<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.mmxlabs.lingo.app.headless.HeadlessApplication"
         name="Headless Scenario Runner"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="main"
            visible="true">
         <run
               class="com.mmxlabs.lingo.app.headless.HeadlessApplication">
         </run>
      </application>
   </extension>
</plugin>
