<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2021
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.mmxlabs.lingo.app.headless.HeadlessOptimiserApplication"
         name="Headless Scenario Runner"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="main"
            visible="true">
         <run
               class="com.mmxlabs.lingo.app.headless.HeadlessOptimiserApplication">
         </run>
      </application>
   </extension>
   <extension
         id="com.mmxlabs.lingo.app.headless.HeadlessOptioniserApplication"
         name="Headless Optioniser"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.mmxlabs.lingo.app.headless.HeadlessOptioniserApplication">
         </run>
      </application>
   </extension>
</plugin>
