<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Lingo Platform Target - (Indigo)" sequenceNumber="1">
<locations>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/jre/jre.p2/7.25.2.2014f/jre.p2-7.25.2.2014f.zip-unzip/" id="mmxlabs-releases"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/jre/jre-jce.p2/7.25.2.2014f/jre-jce.p2-7.25.2.2014f.zip-unzip/" id="mmxlabs-releases"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/common/com.mmxlabs.common.util.p2/2.6.1.RELEASE/com.mmxlabs.common.util.p2-2.6.1.RELEASE.zip-unzip/" id="com-mmxlabs-common-util.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/optimiser/com.mmxlabs.optimiser.p2/2.0.0.RELEASE/com.mmxlabs.optimiser.p2-2.0.0.RELEASE.zip-unzip/" id="com-mmxlabs-optimiser.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/scheduler/com.mmxlabs.scheduler.p2/3.5.1-SNAPSHOT/com.mmxlabs.scheduler.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-lng-scheduler.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/jobmanager/com.mmxlabs.jobmanager.p2/3.5.1-SNAPSHOT/com.mmxlabs.jobmanager.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-jobmanager.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/models/mmxcore/com.mmxlabs.models.mmxcore.p2/5.0.0.RELEASE/com.mmxlabs.models.mmxcore.p2-5.0.0.RELEASE.zip-unzip/" id="com-mmxlabs-models-mmxcore.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/rcp/common/com.mmxlabs.rcp.common.p2/3.5.1-SNAPSHOT/com.mmxlabs.rcp.common.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-rcp-common.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/scenario/service/com.mmxlabs.scenario.service.p2/3.5.1-SNAPSHOT/com.mmxlabs.scenario.service.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-scenario-service.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/models/migration/com.mmxlabs.models.migration.p2/3.5.1-SNAPSHOT/com.mmxlabs.models.migration.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-models-migration.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/models/ui/com.mmxlabs.models.ui.p2/3.5.1-SNAPSHOT/com.mmxlabs.models.ui.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-models-ui.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/models/lng/com.mmxlabs.models.lng.p2/3.5.1-SNAPSHOT/com.mmxlabs.models.lng.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-models-lng.hg"/>
</location>
<!--
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/datasources/com.mmxlabs.datasources.p2/3.5.1-SNAPSHOT/com.mmxlabs.datasources.p2-3.5.1-SNAPSHOT.zip-unzip/" id="mmxlabs-releases"/>
</location>-->
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/models/lng/transformer/com.mmxlabs.models.lng.transformer.p2/3.5.1-SNAPSHOT/com.mmxlabs.models.lng.transformer.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-models-lng-transformer.hg"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/snapshots-v2-unzip/content/com/mmxlabs/lingo/reports/com.mmxlabs.lingo.reports.p2/3.5.1-SNAPSHOT/com.mmxlabs.lingo.reports.p2-3.5.1-SNAPSHOT.zip-unzip/" id="com-mmxlabs-lingo-reports.hg"/>
</location>
</locations>
</target>
