<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Lingo Platform Target - (Indigo)" sequenceNumber="7">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="jre.feature.feature.group" version="0.0.0"/>
<repository location="http://nexus.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/jre/jre.p2/11.2.0.2020a/jre.p2-11.2.0.2020a.zip-unzip/"/>
</location>
</locations>
</target>
