<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Lingo Platform Target - (Indigo)" sequenceNumber="1">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="jre-jce.feature.feature.group" version="0.0.0"/>
<repository location="https://server1.mmxlabs.com/nexus/service/local/repositories/releases-v2-unzip/content/com/mmxlabs/jre/jre-jce.p2/8.45.0.2015a/jre-jce.p2-8.45.0.2015a.zip-unzip/" id="mmxlabs-releases"/>
</location>
</locations>
</target>
