<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2020
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
 
   <!-- DISTANCES -->
      
      <!-- PRICES -->
      <extension point="com.mmxlabs.lngdataserver.browser.ui.DataBrowserContextMenuExtension">
         <DataBrowserContextMenuExtension
               class="com.mmxlabs.lngdataserver.lng.importers.menus.DataBrowserContentMenuContribution">
         </DataBrowserContextMenuExtension>
         <DataBrowserContextMenuExtension
               class="com.mmxlabs.lngdataserver.lng.importers.lingodata.wizard.SharedDataCopyDataBrowserMenuExtension">
         </DataBrowserContextMenuExtension>
      </extension>
      <extension
            point="org.eclipse.ui.startup">
         <startup
               class="com.mmxlabs.lngdataserver.lng.importers.internal.PluginStartup">
         </startup>
      </extension>
      
      <extension
      point="org.eclipse.ui.commands">
   <command
         defaultHandler="com.mmxlabs.lngdataserver.lng.importers.lingodata.wizard.PublishBaseCaseCommandHandler"
         id="com.mmxlabs.datahub.basecase.publish"
         name="Publish scenario as base case">
   </command>
   <command
         defaultHandler="com.mmxlabs.lngdataserver.lng.importers.lingodata.wizard.LockBaseCaseCommandHandler"
         id="com.mmxlabs.datahub.basecase.lock"
         name="Lock base case">
   </command>
   <command
         defaultHandler="com.mmxlabs.lngdataserver.lng.importers.lingodata.wizard.UnlockBaseCaseCommandHandler"
         id="com.mmxlabs.datahub.basecase.unlock"
         name="Unlock base case">
   </command>
   <command
         defaultHandler="com.mmxlabs.lngdataserver.lng.importers.lingodata.wizard.CopyFromBaseCaseCommandHandler"
         id="com.mmxlabs.datahub.basecase.syncwith"
         name="Sync data with base case">
   </command>
   <command
         id="com.mmxlabs.datahub.update.distances"
         name="Update distances">
   </command>
   <command
         id="com.mmxlabs.datahub.update.calendars"
         name="Update Calendars">
   </command>
</extension>
 <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mmxlabs.lngdataserver.lng.importers.distanceupdate.ui.DistanceUpdateCommandHandler"
            commandId="com.mmxlabs.datahub.update.distances">
            <enabledWhen
              >
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                     </instanceof>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.scenario.service.ui.flags.readonly">
                        </test>
                     </not>
                  </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </enabledWhen>
      </handler>
      
      <handler
            class="com.mmxlabs.lngdataserver.lng.importers.calendars.ui.CalendarsUpdateCommandHandler"
            commandId="com.mmxlabs.datahub.update.calendars">
            <enabledWhen
              >
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                     </instanceof>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.scenario.service.ui.flags.readonly">
                        </test>
                     </not>
                  </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </enabledWhen>
      </handler>
</extension>          
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="popup:com.mmxlabs.scenario.service.ui.navigator?after=exporters">
      <command
            commandId="com.mmxlabs.datahub.basecase.publish"
            style="push"
            tooltip="Publish selected scenarios">
         <visibleWhen
               checkEnabled="false">
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                     </instanceof>
                     <and>
                     <test
                           args="basecase,publish"
                           forcePluginActivation="true"
                           property="com.mmxlabs.lngdataserver.server.permissions.ispermitted">
                        </test>    
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.scenario.service.ui.flags.readonly">
                        </test>
                     </not>
                     </and>
                  </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </visibleWhen>
      </command>
       <command
            commandId="com.mmxlabs.datahub.basecase.lock"
            style="push"
            tooltip="Lock base case">
         <visibleWhen
               checkEnabled="false">
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.mmxlabs.scenario.service.model.ScenarioService">
                     </instanceof>
                     <and>
                        <test
                           args="basecase,lock"
                           forcePluginActivation="true"
                           property="com.mmxlabs.lngdataserver.server.permissions.ispermitted">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.datahub.basecase.service.needslocking">
                        </test>
                          <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.datahub.basecase.service.isservice">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.datahub.basecase.service.unlocked">
                        </test>
                     </and>
                  </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </visibleWhen>
      </command>
      <command
            commandId="com.mmxlabs.datahub.basecase.unlock"
            style="push"
            tooltip="Unlock base case">
         <visibleWhen
               checkEnabled="false">
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.mmxlabs.scenario.service.model.ScenarioService">
                     </instanceof>
                     <and>
                       <test
                           args="basecase,unlock"
                           forcePluginActivation="true"
                           property="com.mmxlabs.lngdataserver.server.permissions.ispermitted">
                        </test>                     
                       <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.datahub.basecase.service.needslocking">
                        </test>
                          <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.datahub.basecase.service.isservice">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.datahub.basecase.service.lockedbyme">
                        </test>
                     </and>
                  </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </visibleWhen>
      </command>
      <command
            commandId="com.mmxlabs.datahub.basecase.syncwith"
            style="push"
            tooltip="Sync data with base case">
             <visibleWhen
               checkEnabled="false">
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.mmxlabs.scenario.service.model.ScenarioInstance">
                     </instanceof>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="com.mmxlabs.scenario.service.ui.flags.readonly">
                        </test>
                     </not>
                  </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </visibleWhen>
      </command>
   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="menu:data_ref_mmx">
      <command
            commandId="com.mmxlabs.datahub.update.distances"
            label="Update Distances"
            style="push">
      </command>
      <command
            commandId="com.mmxlabs.datahub.update.calendars"
            label="Update Calendars"
            style="push">
      </command>
   </menuContribution>
</extension>
<extension
      point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         class="com.mmxlabs.lngdataserver.lng.importers.lingodata.wizard.BaseCaseFlagsPropertyTester"
         id="com.mmxlabs.lngdataserver.lng.importers.lingodata.wizard.BaseCaseFlagsPropertyTester"
         namespace="com.mmxlabs.datahub.basecase.service"
         properties="locked,unlocked,lockedbyme,needslocking,isservice"
         type="com.mmxlabs.scenario.service.model.ScenarioService">
   </propertyTester>
</extension>
</plugin>
