<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
 
   <!-- DISTANCES -->
     <extension
           point="org.eclipse.ui.menus">
         
         <menuContribution
               allPopups="false"
               locationURI="menu:data?after=dataStart">
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.distances"
                  label="Import ports and distances"
                  style="push">
            </command>
         </menuContribution>
     </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="com.mmxlabs.lngdataserver.lng.importers.distances.ui.ImportDistancesWizardHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.distances"
               name="Copy ports and distances to scenario">
         </command>       
      </extension>
      
      <!-- PRICES -->
	<extension
           point="org.eclipse.ui.menus">
         
         <menuContribution
               allPopups="false"
               locationURI="menu:data?after=dataStart">
            <command
                  commandId="com.mmxlabs.models.lng.scenario.import.wizards.prices"
                  label="Import prices"
                  style="push">
            </command>
         </menuContribution>
     </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="com.mmxlabs.lngdataserver.lng.importers.pricing.ui.ImportPricingWizardHandler"
               id="com.mmxlabs.models.lng.scenario.import.wizards.prices"
               name="Copy prices to scenario">
         </command>
      </extension>
</plugin>
