<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2019
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
 
   <!-- DISTANCES -->
      
      <!-- PRICES -->
      <extension point="com.mmxlabs.lngdataserver.browser.ui.DataBrowserContextMenuExtension">
         <DataBrowserContextMenuExtension
               class="com.mmxlabs.lngdataserver.lng.importers.menus.DataBrowserContentMenuContribution">
         </DataBrowserContextMenuExtension>
         <DataBrowserContextMenuExtension
               class="com.mmxlabs.lngdataserver.lng.importers.lingodata.wizard.SharedDataCopyDataBrowserMenuExtension">
         </DataBrowserContextMenuExtension>
      </extension>
      <extension
            point="org.eclipse.ui.startup">
         <startup
               class="com.mmxlabs.lngdataserver.lng.importers.internal.PluginStartup">
         </startup>
      </extension>
</plugin>
