<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2016
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
	
	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
		<componentHelper
			id="com.mmxlabs.models.lng.parameters.helpers.ParametersModel"
			helperClass="com.mmxlabs.models.lng.parameters.presentation.composites.ParametersModelComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.parameters.ParametersModel" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.parameters.helpers.OptimiserSettings"
			helperClass="com.mmxlabs.models.lng.parameters.presentation.composites.OptimiserSettingsComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.parameters.OptimiserSettings" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.parameters.helpers.Objective"
			helperClass="com.mmxlabs.models.lng.parameters.presentation.composites.ObjectiveComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.parameters.Objective" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.parameters.helpers.Constraint"
			helperClass="com.mmxlabs.models.lng.parameters.presentation.composites.ConstraintComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.parameters.Constraint" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.parameters.helpers.OptimisationRange"
			helperClass="com.mmxlabs.models.lng.parameters.presentation.composites.OptimisationRangeComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.parameters.OptimisationRange" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.parameters.helpers.AnnealingSettings"
			helperClass="com.mmxlabs.models.lng.parameters.presentation.composites.AnnealingSettingsComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.parameters.AnnealingSettings" />
		
		<componentHelper
			id="com.mmxlabs.models.lng.parameters.helpers.Argument"
			helperClass="com.mmxlabs.models.lng.parameters.presentation.composites.ArgumentComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.parameters.Argument" />
		
	</extension>
 <extension
       point="com.mmxlabs.models.ui.modelfactories">
    <factory
          ID="com.mmxlabs.models.lng.parameters.editor.settingsFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Settings"
          targetEClass="com.mmxlabs.models.lng.parameters.OptimiserSettings">
    </factory>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.jointmodeleditors">
    <jointModelEditor
          id="com.mmxlabs.models.lng.parameters.editor.parametersEditor"
          implementation="com.mmxlabs.models.lng.parameters.ui.editorpart.ParametersModelEditorContribution"
          priority="9"
          subModelClass="com.mmxlabs.models.lng.parameters.ParametersModel">
    </jointModelEditor>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.displaycompositefactories">
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.parameters.OptimiserSettings"
          factory="com.mmxlabs.models.lng.parameters.ui.displaycomposites.ParametersSettingsCompositeFactory"
          id="com.mmxlabs.models.lng.parameters.editor.settingsCompositeFactory"
          inheritable="false">
    </displayCompositeFactory>
 </extension>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated parameters -->
      <editor
            id="com.mmxlabs.models.lng.parameters.presentation.ParametersEditorID"
            name="%_UI_ParametersEditor_label"
            icon="icons/full/obj16/ParametersModelFile.gif"
            extensions="parameters"
            class="com.mmxlabs.models.lng.parameters.presentation.ParametersEditor"
            contributorClass="com.mmxlabs.models.lng.parameters.presentation.ParametersActionBarContributor">
      </editor>
   </extension>

</plugin>
