<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="DefaultMigrationContext" name="DefaultMigrationContext" schema="schema/DefaultMigrationContext.exsd"/>
   <extension-point id="MigrationContext" name="MigrationContext" schema="schema/MigrationContext.exsd"/>
   <extension-point id="MigrationUnit" name="MigrationUnit" schema="schema/MigrationUnit.exsd"/>

</plugin>
