<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2023
    All rights reserved.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.mmxlabs.lingo.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.mmxlabs.lingo.app.perspectives.EditingPerspective"
            icon="icons:/icons/16x16/table.png"
            id="com.mmxlabs.lingo.app.perspective.editing"
            name="Data">
      </perspective>
      <perspective
            class="com.mmxlabs.lingo.app.perspectives.AnalysisPerspective"
            icon="icons:/icons/16x16/scenario.png"
            id="com.mmxlabs.lingo.app.perspective.analysis"
            name="Analysis">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <defaultEnablement
            id="com.mmxlabs.lingo.app.default.activity">
      </defaultEnablement>
      <activity
            id="com.mmxlabs.lingo.app.default.activity"
            name="Default Enablements">
      </activity>
      <activityPatternBinding
            activityId="com.mmxlabs.lingo.app.default.activity"
            isEqualityPattern="false"
            pattern="com.mmxlabs.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.lingo.app.default.activity"
            isEqualityPattern="false"
            pattern="org.eclipse.*update.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.lingo.app.default.activity"
            pattern="org.eclipse.*p2.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.lingo.app.default.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.views/org.eclipse.ui.views.PropertySheet">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.lingo.app.default.activity"
            isEqualityPattern="false"
            pattern=".*/org.eclipse.ui">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.lingo.app.default.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.views.log/org.eclipse.pde.runtime.LogView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.lingo.app.default.activity"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.*/org.eclipse.ui.net.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mmxlabs.lingo.app.default.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.preferencePages.Workbench">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.mmxlabs.lingo.app.eclipse.activity"
            name="Suppressed Eclipse Bindings">
      </activity>
      <activityPatternBinding
            activityId="com.mmxlabs.lingo.app.eclipse.activity"
            isEqualityPattern="false"
            pattern="org.eclipse.*/.*">
      </activityPatternBinding>
   </extension>
   <extension
         id="com.mmxlabs.lingo.app.workbench.1"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="false"
            class="com.mmxlabs.lingo.app.e4.WorkbenchChangeProcessor">
      </processor>
   </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.mmxlabs.lingo.app.application"
            name="LiNGO">
         <property
               name="windowImages"
               value="icons/logo-square-16.png,icons/logo-square-32.png,icons/logo-square-48.png,icons/logo-square-64.png,icons/logo-square-128.png">
         </property>
         <property
               name="appName"
               value="LiNGO">
         </property>
         <property
               name="startupProgressRect"
               value="20,210,440,15">
         </property>
         <property
               name="aboutImage"
               value="icons/logo-square-16.png">
         </property>
	 <property
        name="aboutText"
        value="LiNGO&#x0A;Copyright 2010 - 2023&#x0A;&#x0A;Version: {0}&#x0A;Build: {1}">
       </property>
  <property
        name="startupForegroundColor"
        value="FFFFFF">
  </property>
  <property
        name="startupMessageRect"
        value="0,0,0,0">
  </property>
  <property
        name="preferenceCustomization"
        value="plugin_customization.ini">
  </property>
      </product>
   </extension>
   <extension
	       point="org.eclipse.ui.activities">
	    <activity
	          id="com.mmxlabs.lingo.default.activity"
	          name="Default App Activity">
	    </activity>
	    <activityPatternBinding
	          activityId="com.mmxlabs.lingo.default.activity"
	          isEqualityPattern="false"
	          pattern=".*">
	    </activityPatternBinding>
   </extension>
   <extension
         point="com.mmxlabs.models.migration.DefaultMigrationContext">
      <DefaultMigrationContext
            context="com.mmxlabs.lingo">
      </DefaultMigrationContext>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
       <page
            class="com.mmxlabs.lingo.app.preferences.AppPreferencesPage"
            id="com.mmxlabs.lingo.app.preferences.AppPreferencesPage"
            name="App">
       </page>
       <page
            class="com.mmxlabs.lingo.app.preferences.InformationPreferencesPage"
            id="com.mmxlabs.lingo.app.preferences.InformationPreferencesPage"
            name="Info">
       </page>
   </extension>
   
   <extension
         point="com.mmxlabs.license.features.PluginXMLEnablement">
      <PluginXMLEnablement
            feature="risk"
            plugin.xml="risk.plugin.xml">
      </PluginXMLEnablement>
      <PluginXMLEnablement
            feature="cargo-actuals"
            plugin.xml="actuals.plugin.xml">
      </PluginXMLEnablement>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.mmxlabs.lingo.app.bugreport.SubmitBugReportHandler"
            id="com.mmxlabs.rcp.common.submitbugreport"
            name="Submit Bug Report">
      </command>
   </extension>
</plugin>
