<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2021
    All rights reserved.

-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
	<extension
		point="com.mmxlabs.models.ui.componenthelpers">
		
		<componentHelper
			id="com.mmxlabs.models.lng.port.helpers.Port"
			helperClass="com.mmxlabs.models.lng.port.presentation.composites.PortComponentHelper"
			inheritable="false"
			modelClass="com.mmxlabs.models.lng.port.Port" />
		
		
  <componentHelper
        helperClass="com.mmxlabs.models.lng.port.presentation.composites.LocationComponentHelper"
        id="com.mmxlabs.models.lng.port.helpers.Location"
        inheritable="true"
        modelClass="com.mmxlabs.models.lng.port.Location">
  </componentHelper>
		
	</extension>
 <extension
       point="com.mmxlabs.models.ui.valueproviders">
    <valueProvider
          factory="com.mmxlabs.models.lng.port.ui.valueproviders.PortValueProviderFactory"
          id="com.mmxlabs.models.lng.port.editor.portValueProvider"
          referenceEClass="com.mmxlabs.models.lng.types.APortSet">
    </valueProvider>
    <valueProvider
          factory="com.mmxlabs.models.lng.port.ui.valueproviders.RouteValueProviderFactory"
          id="com.mmxlabs.models.lng.port.editor.routeValueProvider"
          referenceEClass="com.mmxlabs.models.lng.port.Route">
    </valueProvider>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.jointmodeleditors">
    <jointModelEditor
          id="com.mmxlabs.models.lng.port.portModelEditorContribution"
          implementation="com.mmxlabs.models.lng.port.ui.editorpart.PortModelEditorContribution"
          priority="2"
          subModelClass="com.mmxlabs.models.lng.port.PortModel">
    </jointModelEditor>
 </extension>
 <extension
       point="com.mmxlabs.models.util.import.submodels">
    <submodelImporter
          ID="com.mmxlabs.models.lng.port.editor.portModelImporter"
          subModelClassName="com.mmxlabs.models.lng.port.PortModel"
          subModelImporterClass="com.mmxlabs.models.lng.port.importer.PortModelImporter">
    </submodelImporter>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.modelfactories">
    <factory
          ID="com.mmxlabs.models.lng.port.editor.portGroupFactory"
          factory="com.mmxlabs.models.ui.modelfactories.DefaultModelFactory"
          label="Port Group"
          targetEClass="com.mmxlabs.models.lng.port.PortGroup">
    </factory>
    <factory
          ID="com.mmxlabs.models.lng.port.editor.portGroupFactory_port"
          factory="com.mmxlabs.models.lng.port.ui.modelfactories.PortGroupFactory"
          label="Port Group"
          outputEClass="com.mmxlabs.models.lng.port.PortGroup"
          targetEClass="com.mmxlabs.models.lng.port.Port">
    </factory>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.editorfactories">
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.port.ui.editors.PortGroupContentsEditorFactory"
          featureNameEquals="contents"
          id="com.mmxlabs.models.lng.port.editor.portGroupEditorFactory">
       <OwnerAnyOf>
          <EClassExtends
                EClass="com.mmxlabs.models.lng.port.PortGroup">
          </EClassExtends>
       </OwnerAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.ui.dates.TimeInlineEditorFactory"
          featureNameEquals="defaultStartTime"
          id="com.mmxlabs.models.lng.port.editor.portTimeEditor">
       <OwnerAnyOf>
          <EClassExtends
                EClass="com.mmxlabs.models.lng.port.Port">
          </EClassExtends>
       </OwnerAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.port.ui.editors.PortInlineEditorFactory"
          id="com.mmxlabs.models.lng.port.ui.editors.PortInlineEditorFactory">
       <FeatureAnyOf>
          <EClassExtends
                EClass="com.mmxlabs.models.lng.port.Port">
          </EClassExtends>
          <EClassExtends
                EClass="com.mmxlabs.models.lng.types.APortSet">
          </EClassExtends>
       </FeatureAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.port.ui.editors.RouteOptionInlineEditorFactory"
          id="com.mmxlabs.models.lng.port.ui.editors.RouteOptionInlineEditorFactory">
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="RouteOption"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/port/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>
    <editorFactory
          factoryClass="com.mmxlabs.models.lng.port.ui.editors.CanalEntryInlineEditorFactory"
          id="com.mmxlabs.models.lng.port.ui.editors.CanalEntryInlineEditorFactory">
       <FeatureAnyOf>
          <EDataTypeIs
                EDataTypeName="CanalEntry"
                EDataTypeURI="http://www.mmxlabs.com/models/lng/port/1/">
          </EDataTypeIs>
       </FeatureAnyOf>
    </editorFactory>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          category="com.mmxlabs.lngdataserver.views.dataserver"
          class="com.mmxlabs.models.lng.port.editor.views.PortView"
          id="com.mmxlabs.models.lng.port.editor.views.PortView"
          name="Ports">
    </view>
 </extension>
 <extension
       point="com.mmxlabs.models.ui.displaycompositefactories">
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.port.PortGroup"
          factory="com.mmxlabs.models.lng.port.ui.editors.PortGroupCompositeFactory"
          id="com.mmxlabs.models.lng.port.editor.portGroupCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.port.Route"
          factory="com.mmxlabs.models.lng.port.ui.editors.RouteDisplayCompositeFactory"
          id="com.mmxlabs.models.lng.port.ui.editors.RouteDisplayCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.port.ContingencyMatrix"
          factory="com.mmxlabs.models.lng.port.ui.editors.ContingencyMatrixDisplayCompositeFactory"
          id="com.mmxlabs.models.lng.port.ui.editors.ContingencyMatrixDisplayCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
    <displayCompositeFactory
          eClass="com.mmxlabs.models.lng.port.Port"
          factory="com.mmxlabs.models.lng.port.ui.editors.PortDetailCompositeFactory"
          id="com.mmxlabs.models.lng.port.ui.editors.PortDetailCompositeFactory"
          inheritable="true">
    </displayCompositeFactory>
 </extension>
 <extension
       point="com.mmxlabs.models.common.modelcommandprovider">
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.port.ui.commands.RoutePortCommandProvider"
          id="com.mmxlabs.models.lng.port.ui.commands.RoutePortCommandProvider">
    </ModelCommandProvider>
    <ModelCommandProvider
          commandProvider="com.mmxlabs.models.lng.port.ui.commands.PortCountryGroupCommandProvider"
          id="com.mmxlabs.models.lng.port.ui.commands.PortCountryGroupCommandProvider">
    </ModelCommandProvider>
 </extension>
   <extension
         point="com.mmxlabs.models.util.import.attributes">
      <attributeImporter
            ID="com.mmxlabs.models.lng.port.editor.enum_importer"
            attributeImporterClass="com.mmxlabs.models.util.importer.impl.DefaultAttributeImporter">
         <dataType
               attributeTypeName="RouteOption"
               attributeTypeURI="http://www.mmxlabs.com/models/lng/port/1/">
         </dataType>
         <dataType
               attributeTypeName="CanalEntry"
               attributeTypeURI="http://www.mmxlabs.com/models/lng/port/1/">
         </dataType>
      </attributeImporter>
   </extension>
   <extension
         point="com.mmxlabs.scenario.service.model.WrappedCommandExtension">
      <WrappedCommandExtension
            class="com.mmxlabs.models.lng.port.ui.commands.PortVersionCommandWrapper">
      </WrappedCommandExtension>
      <WrappedCommandExtension
            class="com.mmxlabs.models.lng.port.ui.commands.DistanceVersionCommandWrapper">
      </WrappedCommandExtension>
      <WrappedCommandExtension
            class="com.mmxlabs.models.lng.port.ui.commands.PortGroupVersionCommandWrapper">
      </WrappedCommandExtension>
   </extension>

</plugin>
